@import url(http://fonts.googleapis.com/css?family=Noticia+Text);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	font-family: "Noticia Text", Serif;
	font-size: 16px;
	text-rendering: optimizeLegibility;
	color: #222;
	line-height: 1.8;
}

h1, h2, h3, h4, .navbar {
	font-family: "Open Sans", Sans-Serif;
}

h1, h2, h3, h4, h5 {
	font-weight: bold;
}

img {
	max-width: 100%;
}

.container {
	max-width: 767px;
}

.navbar {
	background-color: #ffffff;
	border-bottom: 5px solid #c0392b;
	border-radius: 0px;
}

.navbar .navbar-nav > li > a:hover
{
	color: #444444;
}

h1, h2, h3 {
	font-weight: bold;
}

 .logo {
	font-weight: bold;
}

li {
	line-height: inherit;
}
		
.content img {
	border-radius: 5px;
}

blockquote {
	padding: 10px 0 10px 15px;
	margin: 0 0 20px;
	background-color: #FFFCED;
	border-left: 5px solid #fbeed5;
}

blockquote p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 25px;
}

.erpnext-logo {
	width: 32px; 
	height: 32px; 
	margin: -11px 0px;
}

.erpnext-logo rect {
	fill: #ffffff !important;
}