
/* Recent */

div.recent_starred {
	width: 16px;
	height: 16px;
	cursor: pointer;
	background: url('../images/ui/star.gif');
}

div.recent_unstarred {
	width: 16px;
	height: 16px;
	cursor: pointer;
	background: url('../images/ui/star_plain.gif');
}

div.status_flag {
	width: 8px;
	height: 8px;
	margin: 4px;
	font-size: 0px;
	background-color: #EEE;
}





/* Search */

.search_table td {
	padding: 2px;
}




/*** for wn toolbar ***/
.wntoolbar-icon { background: url('../images/icons/wntoolbar-icons.png'); width: 16px; height: 16px; }
.sprite-home { background-position: 0 0;  } 
.sprite-new { background-position: 0 -66px;  } 
.sprite-pages { background-position: 0 -132px;  } 
.sprite-recent { background-position: 0 -198px;  } 
.sprite-report { background-position: 0 -264px;  } 
.sprite-search { background-position: 0 -330px;  } 
.sprite-tools { background-position: 0 -396px;  } 