<div class="web-form-skeleton">
	<div class="box-group">
		<div class="box-container col-sm-6">
			<div class="box box-label"></div>
			<div class="box box-area"></div>
		</div>
		<div class="box-container col-sm-6">
			<div class="box box-label"></div>
			<div class="box box-area"></div>
		</div>
	</div>
	<div class="box-group">
		<div class="box-container">
			<div class="box box-label"></div>
			<div class="box box-area"></div>
		</div>
	</div>
	<div class="box-group">
		<div class="box-container col-sm-6">
			<div class="box box-label"></div>
			<div class="box box-area"></div>
		</div>
		<div class="box-container col-sm-6">
			<div class="box box-label"></div>
			<div class="box box-area"></div>
		</div>
	</div>
	<div class="box-group">
		<div class="box-container col-sm-6">
			<div class="box box-label"></div>
			<div class="box box-area"></div>
		</div>
		<div class="box-container col-sm-6">
			<div class="box box-label"></div>
			<div class="box box-area"></div>
		</div>
	</div>
</div>