{% extends "templates/web.html" %}

{% block breadcrumbs %}{% endblock %}

{% macro action_buttons() %}
	{% if allow_print and not is_new %}
		{% set print_format_url = "/printview?doctype=" + doc_type + "&name=" + doc_name + "&format=" + print_format %}
		<!-- print button -->
		<a href="{{ print_format_url }}" target="_blank" class="btn btn-light btn-sm ml-2">
			<svg class="icon icon-sm"><use href="#icon-printer"></use></svg>
		</a>
	{% endif %}

	{% if allow_edit and doc_name and not is_form_editable %}
		<!-- edit button -->
		<a href="/{{ route }}/{{ doc_name }}/edit" class="btn btn-primary btn-sm ml-2">{{ _("Edit", null, "Button in web form") }}</a>
	{% endif %}

	{% if is_new or is_form_editable %}
		<!-- cancel button -->
		<a href="/{{ route }}/{% if doc_name %}{{ doc_name }}{% endif %}" class="btn btn-light btn-sm ml-2">{{ _("Cancel", null, "Button in web form") }}</a>
		<!-- submit button -->
		<button type="submit" class="btn btn-primary btn-sm ml-2">{{ button_label or _("Save", null, "Button in web form") }}</button>
	{% endif %}
{% endmacro %}

{% block page_content %}

	<!-- breadcrumb -->
	{% if has_header and login_required and show_list %}
		{% include "templates/includes/breadcrumbs.html" %}
		{% else %}
			<div style="height: 3rem"></div>
	{% endif %}

	<!-- main card -->
	<form role="form" class="web-form-container">
		<div class="web-form-header">
			<h1>{{ _(title) }}</h1>
			<div class="web-form-actions">
				{{ action_buttons() }}
			</div>
		</div>
		<div class="web-form-body">
			{% if introduction_text %}
				<div class="web-form-introduction">{{ introduction_text }}</div>
			{% endif %}
			<div class="web-form-wrapper"></div>
			<div class="web-form-footer hide">
				{{ action_buttons() }}
			</div>
		</div>

		<!-- attachments -->
		{% if show_attachments and not is_new and attachments %}
			<div class="attachments">
				<h5 class="mb-3">{{ _("Attachments") }}</h5>
				{% for attachment in attachments %}
					<a class="attachment attachment-link" href="{{ attachment.file_url }}" target="blank">
						<div class="file-name ellipsis">
							<svg class="icon icon-sm"><use href="#icon-attachment"></use></svg>
							<span>{{ attachment.file_name }}</span>
						</div>
						<div class="file-size">{{ attachment.file_size }}</div>
					</a>
				{% endfor %}
			</div>
		{% endif %} {# attachments #}
	</form>

	<!-- comments -->
	{% if allow_comments and not is_new and not is_list -%}
		<div class="comments">
			<h3>{{ _("Comments") }}</h3>
			{% include 'templates/includes/comments/comments.html' %}
		</div>
	{%- else -%}
		<div style="height: 3rem"></div>
	{%- endif %} {# comments #}

{% endblock page_content %}

{% block script %}
	<script>
		frappe.boot = {{ boot }};
		frappe._messages = {{ translated_messages }};
		frappe.web_form_doc = {{ web_form_doc | json }};
		frappe.reference_doc = {{ reference_doc | json }};
	</script>

	<script type="text/javascript" src="/assets/frappe/node_modules/vue/dist/vue.js"></script>
	<script>
		Vue.prototype.__ = window.__;
		Vue.prototype.frappe = window.frappe;
	</script>

	{{ include_script("controls.bundle.js") }}
	{{ include_script("dialog.bundle.js") }}
	{{ include_script("web_form.bundle.js") }}
	{{ include_script("bootstrap-4-web.bundle.js") }}

	<script>
		{% if client_script %}
			frappe.init_client_script = () => {
				try {
					{{ client_script }}
				} catch(e) {
					console.error('Error in web form client script');
					console.error(e);
				}
			}
		{% endif %}

		{% if script is defined %}
			{{ script }}
		{% endif %}
	</script>
{% endblock script %}

{% block style %}
	<style>
		{% if style is defined %}
			{{ style }}
		{% endif %}
		{% if custom_css %}
			{{ custom_css }}
		{% endif %}
	</style>
{% endblock %}
