<div class="module-section">
	{% for(var i=0, j= data.items.length; i < j; i++) { var item = data.items[i]; %}
	<div class="row module-item" data-item-index={%= i %}>
		{% if (item.description) { %}
		<div class="col-xs-8">
			<h4>{%= item.label || item.name %}</h4>
			{% if (item.type==="doctype" || item.type==="page") { %}
			<span class="open-notification hide" data-doctype="{%= item.data_doctype || item.name %}"></span>
			{% } %}
			<p class="text-muted small module-item-description hidden-xs">{%= item.description %}</p>
		</div>
		<div class="col-xs-4 text-muted text-right small" style="padding-top: 5px;">
			{% if (item.last_modified) { %}
			{%= comment_when(item.last_modified) %}
			{% } %}
		</div>
		{% } else { %}
		<div class="col-xs-12">
			<h4>{%= item.label || item.name %}</h4>
		</div>
		{% } %}
	</div>
	{% } %}
    <div class="row visible-sm visible-xs" style="padding: 15px;">
        <div class="col-xs-12">
            <a onclick="frappe.ui.toolbar.toggle_left_sidebar();" class="text-primary">
                {%= __("More") %}</a>
        </div>
    </div>
</div>
