<div class="mobile-module-icon pull-right small visible-xs">{%= title %}</div>
<div class="mobile-title col-sm-8 col-xs-7 visible-xs">
	<div class="dropdown">
		<h2 class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true"
			style="cursor: pointer; margin: 15px 0px;">
			<span class="active-section">{%= section_name %}</span>
			<span class="caret"></span>
		</h2>
		<ul class="dropdown-menu" role="menu" aria-labelledby="ModuleSections">
			{% for (var i=0, l= data.data.length; i < l; i++) {
				var item = data.data[i];
				if (item.label !== section_name) { %}
					<li role="presentation" data-label="{%= item.label %}">
						<a role="menuitem" tabindex="-1" class="module-link">{%= item.label %}</a>
					</li>
				{% }
			} %}
		</ul>
	</div>
</div>
