<div class="footer-grouped-links">
	<div class="row">
		{% for page in footer_items if page.child_items %}
		{# 2 columns to every 5 links, so 5 links get 2 columns, 5-10 links get 4 columns, and so on #}
		{%- set cols = frappe.utils.ceil((page.child_items | len) / 5) * 2 -%}
		<div class="col-sm-{{ cols }} footer-group">
			<div data-label="{{ page.label }}">
				<span>
					<div class="footer-group-label">
						{%- if page.icon -%}
						<img src="{{ page.icon }}" alt="{{ page.label }}">
						{%- else -%}
						{{ page.label }}
						{%- endif -%}
					</div>
				</span>
				<ul class="footer-group-links list-unstyled">
					{%- for child in page.child_items -%}
					<li class="footer-child-item" data-label="{{ child.label }}">
						<a href="{{ child.url | abs_url }}" {% if child.target %} target="_blank" {% endif %}>
							{%- if child.icon -%}
							<img src="{{ child.icon }}" alt="{{ child.label }}">
							{%- else -%}
							{{ child.label }}
							{%- endif -%}
						</a>
					</li>
					{%- endfor -%}
				</ul>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
