{% for page in footer_items %}
{% if not page.parent_label %}
    <div class="col footer-group">
        {% if not page.parent_label -%}
            <div data-label='{{ page.label }}'>
            <a {% if not page.child_items -%} href="{{ (page.url or '')|abs_url }}" {%- endif %}
            {% if page.child_items %} onclick="return false;" {% endif %}
            {{ page.target or ''}}>
            {%- if page.child_items -%}
                <div class="footer-group-label footer-parent-item">{{ page.label }}</div>
                </a>
                <ul class="list-unstyled">
                {%- for child in page.child_items -%}
                    <li class="footer-child-item mt-2" data-label='{{ child.label }}'>
                        <a href="{{ child.url | abs_url }}"
                            {% if child.target %}target="_blank"{% endif %}>{{ child.label }}</a>
                    </li>
                {%- endfor -%}
                </ul>
            {%- else -%}
            <div class="footer-group-label">{{ page.label }}</div>
            </a>
            {%- endif -%}
            </div>
        {%- endif -%}
        </div>
    {% endif %}
{% endfor %}
