/* listing 2.0 */

div.listing-more {
	margin: 7px 0px 17px 0px;
	text-align: center;
	display: none;
}

div.listing-toolbar {
	margin: 7px 0px;
}

/* SRS */

table.srs_result_tab {
	border: 2px solid #AAA;
	border-collapse: collapse;
}

/* firefox bug fix for disappering borders */
table.srs_result_tab td, table.srs_result_tab tr, table.srs_result_tab tbody, table.srs_result_tab div {
	position: static;
}

table.srs_result_tab td {
	padding: 3px 2px;
	position: static;
}

div.srs_body_area {
}

div.srs_results_area {
}

div.srs_filter_wrapper {
	border: 1px solid #CCF;
	
	background-color: #EEF;
	margin:0px 0px 8px 0px;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

div.srs_filter_area {
	padding: 8px;
}

div.srs_filter_area td {
	vertical-align: middle;
}


/* stats */

div.stat-grid {
	border: 2px solid #bbb;
	background-color: white;
	margin-bottom: 19px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	overflow: hidden;
}

div.stat-label {
	position: relative;
	padding: 3px;
	text-align: center;
}
div.stat-label, div.stat-label a {
	z-index: 5;
}

div.stat-item {
	position: relative;
	border-bottom: 1px solid #ddd;
}
div.stat-item:last-child {
	border-bottom: 0px solid #ddd;	
}

div.stat-bar {
	position: absolute;
	left: 0px;
	background-color: #def;
	height: 100%;
	z-index: 0;
}


