
/* Reports */

div.report_grid_area {
	position: relative;
	padding: 8px;
}


div.report_tab { 
	border: 1px solid #AAA; 
	position: relative; 
	overflow: auto; 
}

div.report_no_data {
	padding: 8px;
	background-color: #EEE;
	border: 1px solid #DDD;
	position: absolute;
	margin-left: 40%;
	margin-top: 50px;
	display: none;	
}

div.report_htitle {
	float: left;
	padding: 2px;
	font-size: 14px;
	font-weight: bold;
	margin-left: 4px;
	color: #665;
	/*font-weight: bold;*/
}

div.report_tbar {
	background-color: #EEF;
	border: 1px solid #CCF;
	border-bottom: 0px;
	height: 28px;
}

div.report_tbar table{
	width: 100%;
}
div.report_tbar table td {
	
}
div.report_tbar table td div {
	position: relative;
}
div.report_tbar button, div.report_tbar select, div.report_tbar img {
	font-size: 11px;
	margin: 0px;
}

div.report_head_wrapper {
	position: absolute;
	height: 24px;
	top: 0px;
	z-index: 1;
}

div.report_tab_wrapper {
	position: absolute;
	border-bottom: 1px solid #AAA;
	border-top: 1px solid #AAA;
}

div.report_tab_wrapper table, div.report_head_wrapper table {
	table-layout: fixed;
	border-collapse: collapse;
	/*width: 100%;*/
}

div.report_tab_wrapper table td, div.report_head_wrapper table td {
	border-left: 1px solid #AAA;
	border-right: 1px solid #AAA;
	border-bottom: 1px solid #AAA;
	overflow: hidden;
	padding: 0px;
}

div.report_tab_wrapper table td div, div.report_head_wrapper table td div {
	padding: 3px;
	overflow: hidden;
}

.report_head_cell {
	background-color: #EEE;
	border-bottom: 1px solid #AA9;
	text-align: center;
	font-weight: bold;
}
.report_head_cell div {
	color:#222; 
	height: 18px;
}


/* FINDER */

div.finder_wrapper {
}

div.finder_body_area {
	margin: 16px;
}

div.finder_body {
	display: none;
}

div.finder_advanced_area table {
	width: 80%;
}

div.finder_advanced_area textarea {
	width: 80%;
}

div.finder_filter_area {
	position: relative;
}

div.filter_head {
	font-size: 14px;
	margin-bottom: 2px;
}
div.filter_dt_head {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 2px;
}
table.filter_tab {
	width: 96%;
	border-collapse: collapse;
}

table.filter_tab td {
	width: 50%;
}

div.finder_picker_area {
	
}
div.builder_field {
	margin: 0px;
}
div.builder_dt_head {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 2px;
}

div.builder_field table {
	width: 90%;
	border-collapse: collapse;
}

div.builder_label {
	height: 20px;
}

div.builder_head {
	font-size: 16px;
	font-weight: bold;
	color: #AB6;
}

table.builder_tab {
	width: 96%;
	border-collapse: collapse;
}

table.builder_tab td {
	width: 33%;
	padding: 2px;
}