div.psidebar {
}

div.psidebar div.head {
	font-size: 14px;
	font-weight: bold;
	color: #555;
	margin-bottom: 12px;
}

div.psidebar div.section {
	margin-bottom: 11px;
	overflow: hidden;
}

div.psidebar div.section-head {
	font-size: 12px;
	padding: 5px 11px;
	border-bottom: 2px solid #444;
}

div.psidebar div.section-body {
	margin: 7px 11px 11px 11px;
}

div.psidebar div.section-item {
	margin-bottom: 7px;
}

div.psidebar .section-link {
	font-size: 11px;
	color: #666;
}