div.psidebar-wrapper {
	margin: 0px 8px;
}

div.psidebar-head {
	font-size: 14px;
	font-weight: bold;
	color: #555;
	margin-bottom: 12px;
}

div.psidebar-section {
	margin-bottom: 11px;
	overflow: hidden;
}

div.psidebar-section-head {
	font-size: 12px;
	padding: 5px 11px;
	border-bottom: 2px solid #444;
}

div.psidebar-section-body {
	margin: 7px 11px 11px 11px;
}

div.psidebar-section-item {
	margin-bottom: 7px;
}

.psidebar-section-link {
	font-size: 11px;
	color: #666;
}

div.follower-list {
	color: #666;
	margin-top: 7px;
	font-size: 11px;
}