/* login-css */

.page-sidebar, #wrap-footer, .page-header {
	display: none;
}

.page-content {
	right: 0%;
	width: 100%;
}

.blue {
	color: #7575ff;
}

.icon-facebook, .icon-facebook-sign{
    color: #3b5998;
}
.icon-google-plus, .icon-google-plus-sign{
    color: #C63D2D;
}
.icon-github, .icon-github-sign{
    color: black;
}

.icon-twitter, .icon-twitter-sign{
    color: #00a0d1;
}

.icon-linkedin, .icon-linkedin-sign{
    color: #4875B4;
}

#wrap {
	background-color: #7575ff;
}

.form-signin {
  max-width: 360px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 50px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #fff;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 6px;
  font-size: 16px;
  margin-bottom: 10px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.btn-social {
	margin: 10px;
}

h5 {
  position: relative;
  text-align: center;
  margin-top:20px;
  margin-bottom:20px;
}

h5 span {
  background: #fff;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

h5:before {
  background: #ddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
    top: 50%;
  width: 100%;
}
h5:before {
  left: 0;
}
.login_header{
	font-size: 36px;
    position: relative;
    text-align: center;
	margin-bottom:20px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
	font-weight: 300;
}

p{
	margin-bottom:20px;
}
.btn-login, .btn-signup, .btn-forgot {
	background: #7575ff;
	color: white;
}

.btn-login {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 400;
	font-size: 14px;
}