/* login-css */

.hero-and-content {
	/*background-color: #f5f7fa;*/
	background-color: #fafbfc;
}

.page-sidebar, #wrap-footer, .page-header {
	display: none;
}

.page-content {
	right: 0%;
	width: 100%;
}

.icon-twitter, .icon-twitter-sign{
    color: #00a0d1;
}

.icon-linkedin, .icon-linkedin-sign{
    color: #4875B4;
}

#wrap {
	background-color: #7575ff;
}


section {
	display: none;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 6px;
  font-size: 14px;
  margin-bottom: 10px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.btn-social {
	margin: 10px;
}

.social-logins .fa {
	margin-right: 5px;
	color: #8D99A6;
}

.form-footer {
	margin-top: -45px;
	text-align: center;
}

.form-footer, .form-footer a, .form-footer h6 {
	font-size: 12px;
	color: #8D99A6;
	font-weight: bold;
}

.form-footer .btn-default {
	color: #36414C;
}

h5 {
  position: relative;
  text-align: center;
  margin-top:20px;
  margin-bottom:20px;
}

p {
	margin-bottom:20px;
}

.login-content .btn {
	font-size: 14px;
	margin-top: 45px;
}