{% extends "templates/web.html" %}

{%- block header -%} {{ header or "" }} {%- endblock -%}

{% block meta_block %}
	{% include "templates/includes/meta_block.html" %}
{% endblock %}

{% block hero %}{{ hero or "" }}{% endblock %}

{% block breadcrumbs %}
    {% if not no_breadcrumbs %}
    {% include "templates/includes/breadcrumbs.html" %}
    {% endif %}
{% endblock %}

{% block page_content %}
<div class="webpage-content">
	{% include "templates/includes/slideshow.html" %}
	<article class="web-page-content" id="{{ name }}" {% if text_align -%}style="text-align: {{ text_align }}"{%- endif %}>
	{{ main_section or "" }}
	</article>
	{% if enable_comments -%}
	<hr class="my-5">
	<h5>Discuss</h5>
	{% include 'templates/includes/comments/comments.html' %}
	{%- endif %}
</div>
{% endblock %}

{% block style %}
<style>
{{ style or "" }}
</style>
{% endblock %}

{% block script %}
    <script>{{ script or "" }}</script>
{% endblock %}
