{% block title %}{{ blog_title or "Blog" }}{% endblock %}

{% block script %}
window.category = null;
{% endblock %}

{% block content %}
<div class="blog-list-content">
	{% if blog_introduction %}
	<p>{{ blog_introduction }}</p>
	{% endif %}
	<h3 id="blot-subtitle" style="display:none;"></h3>
	<div id="blog-list">
		{{ posts }}
	</div>
    <div class="blog-footer">
        <p class="blog-message text-muted"></p>
    	<div class="text-center">
    		<button id="next-page" class="btn btn-default"
    			style="display:none;">More...</button>
    	</div>
    </div>
</div>
<script>
	{% include "templates/includes/blog.js" %}
</script>
{% endblock %}

{% block footer %}{% include 'templates/includes/blog_footer.html' %}{% endblock %}
