<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>Frappe Desk</title>
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,
		maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="white">
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="shortcut icon"
		href="{{ favicon or "/assets/frappe/images/favicon.ico" }}" type="image/x-icon">
	<link rel="icon"
		href="{{ favicon or "/assets/frappe/images/favicon.ico" }}" type="image/x-icon">
	<style>{% include "public/css/splash.css" %}</style>
	{% for include in include_css -%}
	<link type="text/css" rel="stylesheet" href="{{ include }}">
	{%- endfor -%}
</head>
<body>
	<div class="splash">{% include "public/images/frappe.svg" %}</div>
	<div class="desk-container">
		<div class="offcanvas">
			<div class="desk-main-section">
				<header></header>
				<div id="body_div"></div>
				<footer></footer>
			</div>
			<div class="modal-backdrop desk-main-section-overlay"></div>
			<div class="sidebar sidebar-left visible-xs visible-sm"></div>
			<div class="sidebar sidebar-right visible-xs visible-sm">
				<ul class="list-unstyled sidebar-menu" id="sidebar-notification"></ul>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="/assets/frappe/js/lib/jquery/jquery.min.js"></script>

	<script type="text/javascript">
	window._version_number = "{{ build_version }}";
	// browser support
	window.app = true;

	if(!window.frappe) window.frappe = {};

	frappe.boot = {{ boot }};

	</script>

	{% for include in include_js -%}
	<script type="text/javascript" src="{{ include }}"></script>
	{%- endfor -%}
</body>
