{% extends "templates/web.html" %}

{% block style %}
<style>
{% include "templates/includes/login/login.css" %}
</style>
{% endblock %}

{% block page_content %}
<!-- no-header -->
<!-- no-sidebar -->
<div class="login-content" style="padding-top: 30px; padding-bottom:15px">
	<form class="form-signin form-login" role="form">
		{%- if social_login -%}
		<h4 class="form-signin-heading text-center">{{ _("Sign in using") }}</h4>
		<p class="text-center" style="margin-top: 15px">
				{%- if facebook_login is defined %}
				<a href="{{ facebook_login }}" class="grey no-decoration btn-social btn-facebook">
				<i class="icon-facebook-sign"></i> {{ _("Facebook") }}</a>
				{%- endif -%}

				{%- if google_login is defined %}
				<a href="{{ google_login }}" class="grey no-decoration btn-social btn-google">
				<i class="icon-google-plus-sign"></i> {{ _("Google") }}</a>
				{%- endif -%}

				{%- if github_login is defined %}
				<a href="{{ github_login }}" class="grey no-decoration btn-social btn-github">
				<i class="icon-github-sign"></i> {{ _("GitHub") }}</a>
				{%- endif -%}
			</p>
			<p class="text-muted text-center" style="margin: 20px 0px">{{ _("or") }}</p>
		{%- endif -%}
		<input type="text" id="login_email"
			class="form-control" placeholder="{{ _('Email address') }}" required autofocus>
		<input type="password" id="login_password"
			class="form-control" placeholder="{{ _('Password') }}" required>
		<!-- <label class="checkbox">
			<input type="checkbox" value="remember-me"> Remember me
		</label> -->
		<br>
		<button class="btn btn-lg btn-default btn-block btn-login" type="submit">{{ _("Sign in") }}</button>
		<div style="margin-top: 15px">
			{%- if not disable_signup -%}
			<p class="text-center small">
				<a href="#signup" class="grey">{{ _("Not a user yet? Sign up") }}</a>
			</p>
			{%- endif -%}
			<p class="text-center small">
				<a href="#forgot" class="grey">{{ _("Forgot Password?") }}</a>
			</p>
		</div>
	</form>

	<form class="form-signin form-signup hide" role="form">
		<input type="text" id="signup_fullname"
			class="form-control" placeholder="{{ _('Full Name') }}" required autofocus>
		<input type="email" id="signup_email"
			class="form-control" placeholder="{{ _('Email Id') }}" required>
		<button class="btn btn-lg btn-default btn-block btn-signup" type="submit">{{ _("Sign up") }}</button>
		<p class="text-center small">
			<br><a href="#login" class="grey">{{ _("Have an account? Login") }}</a>
		</p>

	</form>

	<form class="form-signin form-forgot hide" role="form">
		<input type="email" id="forgot_email"
			class="form-control" placeholder="{{ _('Email Id') }}" required autofocus>
		<br>
		<button class="btn btn-lg btn-default btn-block btn-forgot" type="submit">{{ _("Send Password") }}</button>
		<p class="text-center small">
			<br><a href="#login" class="grey">{{ _("Back to Login") }}</a>
		</p>

	</form>
</div>
{% endblock %}

{% block script %}
<script>{% include "templates/includes/login/login.js" %}</script>
{% endblock %}

{% block sidebar %}{% endblock %}
