{% extends "templates/web.html" %}

{% block title %}{{ _("My Account") }}{% endblock %}
{% block header %}<h1>{{ _("My Account") }}</h1>{% endblock %}

{% block page_sidebar %}
{% include "templates/pages/web_sidebar.html" %}
{% endblock %}

{% block page_content %}

<!-- no-cache -->
<div class="row your-account-info">
	<div class="col-sm-4">
			<span class="user-image-myaccount"></span>			
			<div>				
				<ul class="list-unstyled">
					<li><a href="/update-password">
						<h6 class="text-muted">{{ _("Reset Password") }}</h6>
					</a></li>
					<li><a href="/edit-profile">
						<h6 class="text-muted">{{ _("Edit Profile") }}</h6>
					</a></li>
					
				</ul>
			</div>
		</div>
	<div class="col-sm-8 pull-left">
	    <p> 
			<span class="label">User Name</span>
	        <span class="value"> {{ fullname }}</span>
		</p>
		
	</div>
</div>
{% endblock %}

