{% block title %}{{ _("My Account") }}{% endblock %}

{% block content %}
<!-- no-sidebar -->
<!-- no-cache -->
<div class="row">
	<div class="col-sm-3">
		<div class="your-account-info">
			<div class="avatar avatar-large">
				<a href="/me"><img class="user-image" src="{{ user_image }}" /></a>
			</div>
			<div>
				<h4>{{ fullname }}</h4>
				<ul class="list-unstyled">
					<li><a href="/update-password">
                        <h6 class="text-muted">{{ _("Reset Password") }}</h6>
                    </a></li>
					<li><a href="/edit-profile">
                        <h6 class="text-muted">{{ _("Edit Profile") }}</h6>
                    </a></li>
					<li><a href="/?cmd=web_logout">
                        <h6 class="text-muted">{{ _("Logout") }}</h6>
                    </a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-sm-9">
		<ul class="list-group" style="margin: 15px 0px;">
			{% for opts in my_account_list -%}
			<li class="list-group-item"><a href="{{ opts.url }}"
                    class="no-decoration">
                <h4>{{ opts.label }}</h4></a></li>
			{%- endfor %}
		</ul>
	</div>
</div>
{% endblock %}

{% block style %}
<style>
.your-account-info {
	margin: 15px 0px;
}

.my-account-list {
	margin: 0px 0px 15px;
}

.my-account-list > li > a {
	margin: 15px 0px;
	display: inline-block;
}

.user-options {
	margin-top: 15px;
}

.user-options > li > a {
	margin: 5px 0px;
	display: inline-block;
}

</style>
{% endblock %}
