{% extends base_template %}

{% block javascript %}
<script>
	{% include "website/doctype/contact_us_settings/templates/includes/contact.js" %}
</script>
{% endblock %}

{% set title="Contact Us" %}

{% block content %}
<div class="container content">
	<h3>{{ heading or "Contact Us"}}</h3>
	<div class="row">
		<div class="col-md-8">
			<p id="contact-alert" class="alert alert-warning" 
				style="display: none;">&nbsp;</p>
			<div class="form-group">
				<select name="subject" class="form-control">
				{% if query_options -%}
					{% for option in query_options -%}
					<option value="{{ option }}">{{ option }}</option>
					{%- endfor %}
				{% else %}
					<option value="General">General</option>
				{% endif %}
				</select>
			</div>
			<div class="form-group">
				<input class="form-control" name="email" type="text" 
				placeholder="Your Email Address" />
			</div>
			<div class="form-group">
				<textarea rows="10" name="message" class="form-control"></textarea>
			</div>
			<div class="form-group">
				<button class="btn btn-primary btn-send">Send</button>
			</div>
		</div>
		{% if address %}
		<div class="col-md-3 col-md-offset-1 alert alert-warning"
				itemscope itemtype="http://schema.org/PostalAddress">
			<h4><i class="icon-map-marker"></i> {{ address.address_title }}</h4>
			{% if address.address_line1 %}
				<span itemprop="streetAddress">{{ address.address_line1 }}</span><br>
			{% endif %}
			{% if address.address_line2 %}
				<span itemprop="streetAddress">{{ address.address_line2 }}</span><br>
			{% endif %}
			{% if address.city %}
				<span itemprop="addressLocality">{{ address.city }}</span><br>
			{% endif %}
			{% if address.state %}
				<span itemprop="addressRegion">{{ address.state }}</span><br>
			{% endif %}
			{% if address.pincode %}
				<span itemprop="postalCode">{{ address.pincode }}</span><br>
			{% endif %}
			{% if address.country %}
				<span itemprop="addressCountry">{{ address.country }}</span><br>
			{% endif %}
		</div>
		{% endif %}
	</div>
	{{ introduction }}
</div>
{% endblock %}