<ul class="list-unstyled sidebar-menu user-actions hide">
	<li class="divider"></li>
</ul>
<ul class="list-unstyled sidebar-menu">
	<li class="divider"></li>
	<li style="position: relative;">
		<a class="strong sidebar-comments badge-hover">
			<span>{%= __("Comments") %}</span>
			<span class="badge n-comments">0</span>
		</a>
	</li>
    {% if(frappe.help.has_help(doctype)) { %}
    <li><a class="strong help-link" data-doctype="{{ doctype }}">{{ __("Help") }}</a></li>
    {% } %}
</ul>
<ul class="list-unstyled sidebar-menu form-assignments">
	<li class="divider"></li>
	<li class="h6 assigned-to-label">{%= __("Assigned To") %}</li>
	<li><a class="strong add-assignment">{%= __("Assign") %}
		<i class="octicon octicon-plus" style="margin-left: 2px;"></i></a></li>
</ul>
<ul class="list-unstyled sidebar-menu form-attachments">
	<li class="divider"></li>
	<li class="h6 attachments-label">{%= __("Attachments") %}</li>
	<li class="divider"></li>
	<li><a class="strong add-attachment">{%= __("Attach File") %}
		<i class="octicon octicon-plus" style="margin-left: 2px;"></i></li></a>
</ul>
<ul class="list-unstyled sidebar-menu">
	<li class="divider"></li>
	<li class="h6 tags-label">{%= __("Tags") %}</li>
	<li class="form-tags">
		<div class="tag-area"></div>
		<div class="clearfix"></div>
	</li>
</ul>
<ul class="list-unstyled sidebar-menu">
	<li class="divider"></li>
	<li class="h6 shared-with-label">{%= __("Shared With") %}</li>
	<li class="form-shared"></li>
</ul>
<ul class="list-unstyled sidebar-menu">
	<li class="divider"></li>
	<li class="h6 viewers-label">{%= __("Currently Viewing") %}</li>
	<li class="form-viewers"></li>
</ul>
<ul class="list-unstyled sidebar-menu text-muted">
	<li class="modified-by"></li>
	<li class="created-by"></li>
</ul>
{% if(frappe.get_form_sidebar_extension) { %}
    {{ frappe.get_form_sidebar_extension() }}
{% } %}
