
.table-background-jobs {
	margin-bottom: 0px;
	margin-top: 0px;
	font-size: var(--text-md);
	table-layout: fixed;
}

.table-background-jobs th {
	font-weight: normal;
	color: var(--text-muted);
}

.table-background-jobs td {
	color: var(--text-light);
}

.table-background-jobs th, .table-background-jobs td {
	padding: var(--padding-sm) var(--padding-md);
}

.table-background-jobs tbody tr:hover {
	background-color: var(--highlight-color);
}

.job-name {
	font-size: var(--text-md);
	font-family: var(--font-family-monospace);
	word-break: break-word;
}

.no-background-jobs {
	min-height: 320px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.no-background-jobs > img {
	margin-bottom: var(--margin-md);
	max-height: 100px;
}

.footer {
	padding: var(--padding-md);
}
