@import "../common/css_variables.scss";

// Deprecated but remove after all use is removed as well.
:root {
	--light: #{$light};

	--font-size-xs: #{$font-size-xs};
	--font-size-sm: #{$font-size-sm};
	--font-size-base: #{$font-size-base};
	--font-size-lg: #{$font-size-lg};
	--font-size-xl: #{$font-size-xl};
	--font-size-2xl: #{$font-size-2xl};
	--font-size-3xl: #{$font-size-3xl};
	--font-size-4xl: #{$font-size-4xl};
	--font-size-5xl: #{$font-size-5xl};
	--font-size-6xl: #{$font-size-6xl};

	--card-border-radius: #{$card-border-radius};
}
