.error-page {
<<<<<<< HEAD
	margin: 3rem 0;
	text-align: center;

	.img-404 {
		width: 40%;
		margin: var(--margin-2xl) auto;

		@include media-breakpoint-down(sm) {
			width: 80%;
		}
	}

	.back-to-home {
		@include get_textstyle("base", "regular");
=======
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	p,
	h4 {
		color: var(--text-light);
	}

	h4 {
		text-align: center;
		margin-top: 0px;
	}

	.details {
		border-top: 1px solid var(--border-color);
		margin-top: var(--margin-md);
		padding-top: var(--padding-md);
		max-width: 800px;
		text-align: center;
>>>>>>> beab110ce9 (fix: clarify error message for child tables)
	}
}
