{% block title %}{{ title }}{% endblock %}

{% block header %}
<h2>{{ group.group_title }}</h2>
{%- if group.group_description -%}
<p class="lead">{{ group.group_description }}</p>
{%- endif -%}
{% endblock %}

{% block breadcrumbs %}{% include "templates/includes/breadcrumbs.html" %}{% endblock %}

{% block content %}
<ul class="nav nav-tabs view-selector">
	{%- for t in views -%}
	{% set url = (pathname if t.default else "{}?view={}".format(pathname, t.name)) %}
	<li class="{% if view.name==t.name -%} active {%- endif %} {% if t.hidden -%} hide {%- endif %}" 
		data-view="{{ t.name }}">
		<a href="{{ url or '' }}"><i class="{{ t.icon }}"></i>
			<span class="nav-label">{{ t.label }}</span></a>
	</li>
	{%- endfor -%}
</ul>

<script>
	{%- if access -%}
	website.access = {{ access|json }};
	{%- endif -%}
	website.group = "{{ group.name }}";
	website.view = "{{ view.name }}";
	website.upvote = {{ 1 if view.upvote else 0 }};
	
	{% if view.upvote %}
	website.setup_upvote();
	{% endif %}
</script>

{% include view.template_path %}

<script>$(function() { website.toggle_upvote(); });</script>

{% endblock %}

{% block sidebar %}{% include "templates/includes/sidebar.html" %}{% endblock %}