<div class="clearfix"></div>
{% for(var i=0, l=addr_list.length; i<l; i++) { %}
<div class="address-box">
	<a
		href="/app/Form/Address/{%= encodeURIComponent(addr_list[i].name) %}"
		class="btn btn-xs btn-default edit-btn"
		title="{%= __('Edit') %}"
	>
		<svg class="icon icon-xs">
			<use href="#icon-edit"></use>
		</svg>
	</a>
	<p class="h6 flex flex-wrap">
		<span>{%= i+1 %}. {%= addr_list[i].address_title %}</span>
		{% if(addr_list[i].address_type!="Other") { %}
			&nbsp;&#183;&nbsp;<span class="text-muted">{%= __(addr_list[i].address_type) %}</span>
		{% } %}
		{% if(addr_list[i].is_primary_address) { %}
			&nbsp;&#183;&nbsp;<span class="text-muted">{%= __("Primary") %}</span>
		{% } %}
		{% if(addr_list[i].is_shipping_address) { %}
			&nbsp;&#183;&nbsp;<span class="text-muted">{%= __("Shipping") %}</span>
		{% } %}
		{% if(addr_list[i].disabled) { %}
			&nbsp;&#183;&nbsp;<span class="text-muted">{%= __("Disabled") %}</span>
		{% } %}
	</p>
	<p>{%= addr_list[i].display %}</p>
</div>
{% } %}
{% if(!addr_list.length) { %}
<p class="text-muted small">{%= __("No address added yet.") %}</p>
{% } %}
<p><button class="btn btn-xs btn-default btn-address">{{ __("New Address") }}</button></p>