<div class="clearfix"></div>
{% for(const contact of contact_list) { %}
	<div class="address-box">
		<p class="h6 flex align-center">
			{%= contact.first_name %} {%= contact.last_name %}
			{% if(contact.is_primary_contact) { %}
				<span class="text-muted">&nbsp;({%= __("Primary") %})</span>
			{% } %}
			{% if(contact.designation){ %}
			 <span class="text-muted">&ndash; {%= contact.designation %}</span>
			{% } %}
			<a href="/app/Form/Contact/{%= encodeURIComponent(contact.name) %}"
				class="btn btn-xs btn-default ml-auto">
				{%= __("Edit") %}
			</a>
		</p>
		{% if (contact.phones || contact.email_ids) { %}
		<p>
			{% if(contact.phone) { %}
				{%= __("Phone") %}: {%= contact.phone %}<span class="text-muted"> ({%= __("Primary") %})</span><br>
			{% endif %}
			{% if(contact.mobile_no) { %}
				{%= __("Mobile No") %}: {%= contact.mobile_no %}<span class="text-muted"> ({%= __("Primary") %})</span><br>
			{% endif %}
			{% if(contact.phone_nos) { %}
				{% for(const phone_no of contact.phone_nos) { %}
					{%= __("Phone") %}: {%= phone_no.phone %}<br>
				{% } %}
			{% endif %}
		</p>
		<p>
			{% if(contact.email_id) { %}
				{%= __("Email") %}: {%= contact.email_id %}<span class="text-muted"> ({%= __("Primary") %})</span><br>
			{% endif %}
			{% if(contact.email_ids) { %}
				{% for(const email_id of contact.email_ids) { %}
					{%= __("Email") %}: {%= email_id.email_id %}<br>
				{% } %}
			{% endif %}
		</p>
		{% endif %}
		<p>
		{% if (contact.address) { %}
			{%= __("Address") %}: {%= contact.address %}<br>
		{% endif %}
		</p>
	</div>
{% } %}
{% if(!contact_list.length) { %}
<p class="text-muted small">{%= __("No contacts added yet.") %}</p>
{% } %}
<p><button class="btn btn-xs btn-default btn-contact">
	{{ __("New Contact") }}</button>
</p>
