<ul class="list-unstyled sidebar-menu user-actions hidden"></ul>
<ul class="list-unstyled sidebar-menu sidebar-image-section hidden-xs hidden-sm hide">
	<li class="divider"></li>
	<li class="sidebar-image-wrapper">
		<div class="sidebar-image"></div>
		<div class="sidebar-standard-image">
			<div class="standard-image"></div>
		</div>
	</li>
</ul>
{% if frm.meta.beta %}
<div class="sidebar-menu">
	<p><label class="label label-warning" title="{{ __("This feature is brand new and still experimental") }}">{{ __("Under Development") }}</label></p>
	<p><a class="small" href="https://github.com/frappe/{{ frappe.boot.module_app[frappe.scrub(frm.meta.module)] }}/issues/new"
			target="_blank">
		{{ __("Click here to post bugs and suggestions") }}</a></p>

</div>
{% endif %}
<ul class="list-unstyled sidebar-menu sidebar-rating hide">
	<li class="divider"></li>
	<li style="position: relative;">
		<a class="strong badge-hover">
			<span>{%= __("Feedback") %}</span>
		</a>
	</li>
	<li class="rating-icons"></li>
</ul>
<ul class="list-unstyled sidebar-menu">
	<li class="divider"></li>
	<li style="position: relative;">
		<a class="strong sidebar-comments badge-hover">
			<span>{%= __("Comments") %}</span>
			<span class="badge n-comments">0</span>
		</a>
	</li>
    {% if(frappe.help.has_help(doctype)) { %}
    <li><a class="strong help-link" data-doctype="{{ doctype }}">{{ __("Help") }}</a></li>
    {% } %}
</ul>
<ul class="list-unstyled sidebar-menu form-assignments">
	<li class="divider"></li>
	<li class="h6 assigned-to-label">{%= __("Assigned To") %}</li>
	<li><a class="strong add-assignment">{%= __("Assign") %}
		<i class="octicon octicon-plus" style="margin-left: 2px;"></i></a></li>
</ul>
<ul class="list-unstyled sidebar-menu form-attachments">
	<li class="divider"></li>
	<li class="h6 attachments-label">{%= __("Attachments") %}</li>
	<li><a class="strong add-attachment">{%= __("Attach File") %}
		<i class="octicon octicon-plus" style="margin-left: 2px;"></i></li></a>
</ul>
<ul class="list-unstyled sidebar-menu">
	<li class="divider"></li>
	<li class="h6 tags-label">{%= __("Tags") %}</li>
	<li class="form-tags">
		<div class="tag-area"></div>
		<div class="clearfix"></div>
	</li>
</ul>
<ul class="list-unstyled sidebar-menu">
	<li class="divider"></li>
	<li class="h6 shared-with-label">{%= __("Shared With") %}</li>
	<li class="form-shared"></li>
</ul>
<ul class="list-unstyled sidebar-menu">
	<li class="divider"></li>
	<li class="h6 viewers-label">{%= __("Currently Viewing") %}</li>
	<li class="form-viewers"></li>
</ul>
<ul class="list-unstyled sidebar-menu text-muted">
	<li class="liked-by-parent">
		<span class="liked-by">
			<i class="octicon octicon-heart like-action text-extra-muted fa-fw"></i>
			<span class="likes-count"></span>
		</span>
	</li>
	<li class="modified-by"></li>
	<li class="created-by"></li>
</ul>
{% if(frappe.get_form_sidebar_extension) { %}
    {{ frappe.get_form_sidebar_extension() }}
{% } %}
<ul class="list-unstyled visible-xs visible-sm">
	<li class="divider"></li>
	<li class="close-sidebar">Close</li>
</ul>