<div>
	<div class="form-grid">
		<div class="grid-heading-row"></div>
		<div class="grid-body">
			<div class="rows"></div>
			<div class="grid-empty text-center hide">{%= __("No Data") %}</div>
			<div class="small form-clickable-section grid-footer">
                <div class="row">
                    <div class="col-sm-6 grid-buttons">
        				<a href="#" class="grid-add-multiple-rows btn btn-xs btn-default hide"
                            style="margin-right: 10px;">
                            {%= __("Add multiple rows") %}</a>
        				<a href="#" class="btn btn-xs btn-default grid-add-row">
                            {%= __("Add new row") %}</a>
                    </div>
                    <div class="col-sm-6 text-right">
        				<a href="#" class="grid-download btn btn-xs btn-default hide"
                            style="margin-left: 10px;">
                            {%= __("Download") %}</a>
        				<a href="#" class="grid-upload btn btn-xs btn-default hide"
                            style="margin-left: 10px;">
                            {%= __("Upload") %}</a>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>
