<div>
	<div class="form-grid">
		<div class="grid-heading-row"></div>
		<div class="grid-body">
			<div class="rows"></div>
			<div class="grid-empty text-center hide">{%= __("No Data") %}</div>
			<div class="small form-clickable-section grid-footer">
                <div class="row">
                    <div class="col-sm-6 grid-buttons">
        				<button type="reset"
							class="btn btn-xs btn-danger grid-remove-rows hide"
							style="margin-right: 4px;">
                            {%= __("Delete") %}</button>
        				<button type="reset"
							class="grid-add-multiple-rows btn btn-xs btn-default hide"
                            style="margin-right: 4px;">
                            {%= __("Add Multiple") %}</a>
						<!-- hack to allow firefox include this in tabs -->
        				<button type="reset" class="btn btn-xs btn-default grid-add-row">
                            {%= __("Add Row") %}</button>
                    </div>
                    <div class="col-sm-6 text-right">
        				<a href="#" class="grid-download btn btn-xs btn-default hide"
                            style="margin-left: 10px;">
                            {%= __("Download") %}</a>
        				<a href="#" class="grid-upload btn btn-xs btn-default hide"
                            style="margin-left: 10px;">
                            {%= __("Upload") %}</a>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>
