<div class="grid-form-heading sortable-handle">
	<div class="toolbar">
		<span class="panel-title">
            {%= __("Editing Row") %} #<span class="grid-form-row-index"></span></span>
		<button class="btn btn-success btn-xs pull-right" style="margin-left: 7px;">
			<i class="octicon octicon-check visible-xs" style="padding-bottom: 2px;"></i>
			<span class="hidden-xs">{%= __("Done") %}</span></button>
		<button class="btn btn-default btn-xs pull-right grid-insert-row"
			style="margin-left: 7px;">
			{%= __("Insert Above") %}</button>
		<button class="btn btn-danger btn-xs pull-right grid-delete-row">
			<i class="octicon octicon-trashcan visible-xs"
				style="padding-bottom: 2px; margin-top: 1px;"></i>
			<span class="hidden-xs">{%= __("Remove") %}</span></button>
	</div>
</div>
<div class="grid-form-body">
	<div class="form-area"></div>
	<div class="grid-footer-toolbar clearfix hidden-xs">
		<span class="text-muted">
            <i class="octicon octicon-keyboard"></i> &ndash;
			<kbd>{%= __("Ctrl + Up") %}</kbd>, <kbd>{%= __("Ctrl + Down") %}</kbd>, <kbd>{%= __("ESC") %}</kbd>
        </span>
		<button class="btn btn-default btn-xs pull-right grid-append-row"
			style="margin-left: 7px;">
			{%= __("Insert Below") %}</button>
	</div>
</div>
