<div class="timeline">
	<div class="timeline-head">
	</div>
	<div class="timeline-new-email">
		{% if (doctype === "Communication") { %}
			<button class="btn btn-default btn-reply-email btn-xs">
				{%= __("Reply") %}
			</button>
		{% } else { %}
			<button class="btn btn-default btn-new-email btn-xs">
			{%= __("New Email") %}
			</button>
			{% if (allow_events_in_timeline===1) { %}
			<button class="btn btn-default btn-new-interaction btn-xs">
				{%= __("New Event") %}
			</button>
			{% } %}
		{% } %}
	</div>
	<div class="timeline-email-import text-muted small hide"></div>
	<div class="timeline-items">

	</div>
</div>
