[run]
omit =
    tests/*
    .github/*
    commands/*
    **/test_*.py

[report]
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:

exclude_also =
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    class .*\bProtocol\):
    @(abc\.)?abstractmethod
