language: python
dist: trusty
sudo: required

python:
  - 3.6

services:
  - mysql

install:
  - source ~/.nvm/nvm.sh
  - nvm install v8.10.0

  - pip install -e ~/bench

  - rm $TRAVIS_BUILD_DIR/.git/shallow
  - cd ~/ && bench init frappe-bench --python $(which python) --frappe-path $TRAVIS_BUILD_DIR
  - cp -r $TRAVIS_BUILD_DIR/test_sites/test_site ~/frappe-bench/sites/

before_script:
  - cd ~/frappe-bench
  - sed -i 's/9000/9001/g' sites/common_site_config.json
  - bench start &
  - sleep 10

script:
  - mysql -u root -ptravis -e "CREATE DATABASE test_frappe"
  - mysql -u root -ptravis -e "CREATE USER 'test_frappe'@'localhost' IDENTIFIED BY 'test_frappe'"
  - mysql -u root -ptravis -e "GRANT ALL PRIVILEGES ON \`test_frappe\`.* TO 'test_frappe'@'localhost'"
  - mysql -u root -ptravis -e "FLUSH PRIVILEGES"

  - bench --site test_site reinstall --yes
  - bench --site test_site scheduler disable
  - bench --site test_site run-tests --coverage


after_script:
  - pip install python-coveralls
  - coveralls -b apps/frappe -d ../../sites/.coverage