language: python
dist: trusty

python:
  - "2.7"
  - "3.6"

addons:
  hosts:
    - test_site
  mariadb: 10.3

git:
  depth: 1

cache:
  - pip

install:
  - cd ~
  - nvm install 10

  - git clone https://github.com/frappe/bench --depth 1
  - pip install -e ./bench

  - bench init frappe-bench --skip-assets --python $(which python) --frappe-path $TRAVIS_BUILD_DIR

  - mkdir ~/frappe-bench/sites/test_site
  - cp $TRAVIS_BUILD_DIR/.travis/site_config.json ~/frappe-bench/sites/test_site/site_config.json

  - mysql -u root -e "SET GLOBAL character_set_server = 'utf8mb4'"
  - mysql -u root -e "SET GLOBAL collation_server = 'utf8mb4_unicode_ci'"

  - mysql -u root -e "CREATE DATABASE test_frappe"
  - mysql -u root -e "CREATE USER 'test_frappe'@'localhost' IDENTIFIED BY 'test_frappe'"
  - mysql -u root -e "GRANT ALL PRIVILEGES ON \`test_frappe\`.* TO 'test_frappe'@'localhost'"

  - mysql -u root -e "UPDATE mysql.user SET Password=PASSWORD('travis') WHERE User='root'"
  - mysql -u root -e "FLUSH PRIVILEGES"

  - wget -O /tmp/wkhtmltox.tar.xz https://github.com/frappe/wkhtmltopdf/raw/master/wkhtmltox-0.12.3_linux-generic-amd64.tar.xz
  - tar -xf /tmp/wkhtmltox.tar.xz -C /tmp
  - sudo mv /tmp/wkhtmltox/bin/wkhtmltopdf /usr/local/bin/wkhtmltopdf
  - sudo chmod o+x /usr/local/bin/wkhtmltopdf

  - cd ~/frappe-bench
  - ./env/bin/pip install ldap3

  - sed -i 's/watch:/# watch:/g' Procfile
  - sed -i 's/schedule:/# schedule:/g' Procfile
  - sed -i 's/socketio:/# socketio:/g' Procfile
  - sed -i 's/redis_socketio:/# redis_socketio:/g' Procfile

  - bench start &
  - bench --site test_site reinstall --yes
  - bench build --app frappe

script:
  - bench --site test_site run-tests --coverage

after_script:
  - pip install coverage==4.5.4
  - pip install python-coveralls
  - coveralls -b apps/frappe -d ../../sites/.coverage
