language: python
dist: trusty
sudo: required

python:
  - 3.6

services:
  - mysql

install:
  - source ~/.nvm/nvm.sh
  - nvm install v8.10.0

  - git clone https://github.com/adityahase/bench --depth 1 --branch faster
  - pip install -e ./bench

  - cd ~/ && bench init frappe-bench --skip-assets --python $(which python) --frappe-path $TRAVIS_BUILD_DIR
  - cp -r $TRAVIS_BUILD_DIR/test_sites/test_site ~/frappe-bench/sites/

  - mysql -u root -ptravis -e "CREATE DATABASE test_frappe"
  - mysql -u root -ptravis -e "CREATE USER 'test_frappe'@'localhost' IDENTIFIED BY 'test_frappe'"
  - mysql -u root -ptravis -e "GRANT ALL PRIVILEGES ON \`test_frappe\`.* TO 'test_frappe'@'localhost'"
  - mysql -u root -ptravis -e "FLUSH PRIVILEGES"

before_script:
  - cd ~/frappe-bench
  - bench start &
  - sleep 10
  - bench --site test_site reinstall --yes
  - bench --site test_site scheduler disable

script:
  - bench --site test_site run-tests --coverage

after_script:
  - pip install python-coveralls
  - coveralls -b apps/frappe -d ../../sites/.coverage