language: python
dist: trusty
sudo: required

python:
  - 3.6

services:
  - mysql

install:
  - $TRAVIS_BUILD_DIR/.travis/install.sh

before_script:
  - cd ~/frappe-bench
  - sed -i 's/9000/9001/g' sites/common_site_config.json
  - bench start &
  - sleep 10

script:
  - $TRAVIS_BUILD_DIR/.travis/run-tests.sh

after_script:
  - coveralls -b apps/frappe -d ../../sites/.coverage