language: python
dist: trusty
sudo: required

python:
  - 3.6

services:
  - mysql

install:
  - cd ~
  - source ./.nvm/nvm.sh
  - nvm install v8.10.0

  - git clone https://github.com/adityahase/bench --depth 1 --branch faster
  - pip install -e ./bench

  - bench init frappe-bench --skip-assets --python $(which python) --frappe-path $TRAVIS_BUILD_DIR
  - cp -r $TRAVIS_BUILD_DIR/test_sites/test_site ~/frappe-bench/sites/

  - mysql -u root -e "SET GLOBAL character_set_server = 'utf8mb4'"
  - mysql -u root -e "SET GLOBAL collation_server = 'utf8mb4_unicode_ci'"
  - mysql -u root -e "SET GLOBAL innodb_file_format=Barracuda"
  - mysql -u root -e "SET GLOBAL innodb_file_per_table=ON"
  - mysql -u root -e "SET GLOBAL innodb_large_prefix=1"

  - mysql -u root -e "CREATE DATABASE test_frappe"
  - mysql -u root -e "CREATE USER 'test_frappe'@'localhost' IDENTIFIED BY 'test_frappe'"
  - mysql -u root -e "GRANT ALL PRIVILEGES ON \`test_frappe\`.* TO 'test_frappe'@'localhost'"

  - mysql -u root -e "UPDATE mysql.user SET Password=PASSWORD('travis') WHERE User='root'"
  - mysql -u root -e "FLUSH PRIVILEGES"

before_script:
  - cd ./frappe-bench
  - bench start &
  - sleep 10
  - bench --site test_site reinstall --yes
  - bench --site test_site scheduler disable

script:
  - bench --site test_site run-tests --coverage

after_script:
  - pip install python-coveralls
  - coveralls -b apps/frappe -d ../../sites/.coverage