boto3==1.9.45
chardet==3.0.4
cssmin==0.2.0
dropbox==7.3.1
gunicorn==19.9.0
httplib2==0.12.0
jinja2==2.10
markdown2==2.3.6
markupsafe==1.1.0
PyMySQL==0.9.2
python-geoip==1.2
python-geoip-geolite2==2015.303
python-dateutil==2.7.5
pytz==2018.7
six==1.11.0
termcolor==1.1.0
werkzeug==0.14.1
semantic_version==2.6.0
rauth>=0.6.2
requests==2.20.1
redis==2.10.6
selenium==3.141.0
babel==2.6.0
ipython==5.8.0
html2text==2016.9.19
email_reply_parser==0.5.9
click==7.0
num2words==0.5.5
watchdog==0.8.0
bleach==2.1.4
bleach-whitelist==0.0.9
Pillow==5.3.0
beautifulsoup4==4.6.3
rq==0.12.0
schedule==0.5.0
cryptography==2.4.1
pyopenssl==18.0.0
ndg-httpsclient==0.5.1
pyasn1==0.4.4
zxcvbn-python==4.4.24
unittest-xml-reporting==2.2.0
oauthlib==2.1.0
PyJWT==1.6.4
PyPDF2==1.26.0
openpyxl==2.5.10
pyotp==2.2.7
pyqrcode==1.2.1
pypng==0.0.18
premailer==3.2.0
croniter==0.3.26
googlemaps==3.0.2
urllib3==1.23
GitPython==2.1.11
