chardet
cssmin
dropbox
gunicorn
httplib2
jinja2
markdown2
markupsafe
mysql-python==1.2.5
pygeoip
python-dateutil
python-memcached
pytz
six
slugify
termcolor
werkzeug
semantic_version
rauth>=0.6.2
requests==1.2.3
celery
redis
selenium
pdfkit
babel
ipython
