{% extends base_template %}

{% block content %}
<div class="col-md-12" style="margin-top: 15px;">
	{% include "lib/website/doctype/website_slideshow/templates/includes/slideshow.html" %}
	<div class="web-page-content" id="{{ name }}">
	{{ main_section }}
	</div>
</div>
<script>
$(function() {
	if(window.logged_in && getCookie("system_user")==="yes") {
		wn.require("lib/js/wn/website/editable.js");
		wn.make_editable($(".web-page-content"), "Web Page", "{{ name }}", "main_section");
	}
})
</script>
{% endblock %}