{% extends base_template %}

{% block content %}
<div class="col-md-12" style="margin-top: 15px;">
	{% include "lib/website/doctype/website_slideshow/templates/includes/slideshow.html" %}
	<div class="web-page-content" id="{{ name }}">
	{{ main_section }}
	</div>
</div>
<script>
$(function() {
	window.name = "{{ name }}";
	if(getCookie("full_name")) {
		wn.require("js/editor.min.js");
		wn.editor = new wn.ui.Editor({
			editor: $(".web-page-content"),
			onsave: function(editor) {
				wn.call({
					type: "POST",
					method: "webnotes.client.set_value",
					args: {
						doctype:"Web Page",
						name: window.name,
						fieldname: "main_section",
						value: editor.editor.html()
					},
					callback: function(r) {
						wn.msgprint(r.exc ? "Error" : "Saved");
						if(!r.exc)
							editor.editor.html(r.message[0].main_section);
					}
				});
			}
		});
	}
})
</script>
{% endblock %}