// include in bootstrap.less

@brand-primary:              #2980b9;
@font-family-sans-serif:     Arial, sans-serif;
@input-border-focus:         #000;
@alert-padding:              10px;
@nav-link-padding:           8px 15px;

.alert {
    border: 1px solid transparent;
}

.list-group-item {
    padding: 8px 15px;
}

.panel {
	border: 1px solid transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}

h3, h4 {
	font-weight: bold;
}