// REDESIGN-TODO: Review
.awesomplete {
	--awesomebar-shadow: 0px 2px 6px rgba(17, 43, 66, 0.08), 0px 1px 4px rgba(17, 43, 66, 0.1);
	[hidden] {
		display: none;
	}
	.visually-hidden {
		position: absolute;
		clip: rect(0, 0, 0, 0);
	}

	&> input {
		display: block;
		&:focus {
			// border-bottom: 1px solid var(--border-color);
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			box-shadow: var(--awesomebar-shadow);
		}
	}

	&> ul:empty {
		display: none;
	}

	&> ul {
		position: absolute;
		min-width: 100%;
		list-style: none;
		background-color: var(--fg-color);
		max-height: unquote("min(60vh, 300px)");
		overflow-y: auto;
		overflow-x: hidden;
		border-radius: var(--border-radius-sm);
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		left: 0;
		margin: 0;
		padding: var(--padding-xs);
		z-index: 1;
		box-shadow: var(--awesomebar-shadow);

		&> li {
			cursor: pointer;
			font-size: var(--text-md);
			padding: var(--padding-sm);
			color: var(--text-color);
			border-radius: var(--border-radius-sm);
			margin-bottom: var(--margin-xs);
		}

		&> li .link-option {
			font-weight: normal;
		}

		&> li:hover, &> li[aria-selected=true] {
			background-color: var(--control-bg);
			color: var(--text-color);
		}

		a:hover {
			text-decoration: none;
		}
	}
}