.breadcrumb {
	padding-left: 0;
	padding-right: 0;
	background-color: white;
	@include get_textstyle("sm", "regular");
}
/*! This comment will be included even in compressed mode. */
#navbar-breadcrumbs {
	@include get_textstyle("sm", "regular");
	a {
		margin-right: 10px;
		&:before {
			content: #{"/*!rtl:var(--left-arrow-svg);*/"}var(--right-arrow-svg);
			display: inline-block;
			margin-right: 10px;
		}
	}

	li:first-child a:before {
		// no angle before first item
		content: none;
	}

	li.disabled {
		a {
			color: var(--gray-600);
			pointer-events: none;
		}
	}
}
