.breadcrumb {
	padding-left: 0;
	padding-right: 0;
	background-color: white;
	font-size: var(--text-sm);
}
/*! This comment will be included even in compressed mode. */
#navbar-breadcrumbs {
	margin-left: var(--margin-md);
	font-size: var(--text-base);
	font-weight: var(--weight-regular);
	a {
		margin-right: 10px;
		&:before {
			content: #{"/*!rtl:var(--left-arrow-svg);*/"}var(--right-arrow-svg);
			display: inline-block;
			margin-right: 10px;
		}
	}

	li.disabled {
		a {
			color: var(--gray-600);
			pointer-events: none;
		}
	}
}
