// Data Import
.map-columns .form-section {
	padding: 0 7px 7px;
	border-top: none;

	.clearfix {
		display: none;
	}
}

.map-columns .form-section:first-child {
	padding-top: 7px;
}

.table-preview {
	margin-top: 12px;
}
