.form-print-wrapper {
	border: 1px solid var(--border-color);
	border-top: none;
	padding: 0;
}

.print-preview-wrapper {
	padding: 80px 0;
	background-color: var(--gray-200);
	border-radius: var(--border-radius);
}

.print-toolbar {
	margin: 0px;
	padding: var(--padding-md) 0;
	border-bottom: 1px solid var(--border-color);

	> div {
		padding-right: 0px;
	}
	> div:last-child {
		padding-right: var(--padding-md);
	}
}

.print-preview-refresh {
	margin-left: var(--margin-xs);
}

[data-theme="dark"] {
	.print-preview-wrapper {
		background-color: var(--gray-700);
	}
}

.print-preview-sidebar {
	.clearfix {
		display: none;
	}

	.frappe-control[data-fieldtype="Select"] .control-input {
		select {
			height: auto;
			padding: var(--padding-xs) var(--padding-sm);
		}

		.icon {
			width: 14px;
			top: 6px;
			right: 5px;
		}
	}

	.label-area {
		white-space: nowrap;
	}
}