@import "variables";
@import "mixins";

@import "~bootstrap/scss/bootstrap";
@import "global";
@import "form";
@import "form_print";
@import "list";
@import "navbar";
@import "modal";
@import "toast";
@import "breadcrumb";
@import "indicator";
@import "tags";
@import "page";
@import "timeline";
@import "avatar";
@import "icons";
@import "notification";
@import "global_search";
@import "desktop";
@import "awesomebar";
@import "sidebar";
@import "filters";
@import "list";
@import "report";
@import "frappe-datatable";
@import "frappe-gantt";
@import "image-view";
@import "kanban";
@import "calendar";
@import "dashboard-view";
@import "tree";
@import "controls";
@import "role_editor";
@import "user-profile";
@import "quill";
@import "plyr";
