:root {
	--mobile-sidebar-height: 50px;
}
.mobile-sidebar {
	width: 100vw;
	height: var(--mobile-sidebar-height);
	position: absolute;
	z-index: 1031;
	bottom: 0;
	background: var(--subtle-accent);
	border-top: solid $gray-100 2px;
}

.mobile-item-container {
	flex: 1 1 50px;
}

.mobile-item-anchor {
	padding-top: 6px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@include media-breakpoint-down(sm) {
	.main-section {
		height: calc(100vh - var(--mobile-sidebar-height));
	}
}
