.search-widget-wrapper {
	flex: 1;
	position: relative;
}

.search-widget-button {
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	gap: 8px;
	padding: var(--padding-xs) 10px;

	.search-widget-icon {
		display: flex;
		align-items: center;
		gap: 6px;
		color: var(--text-light);

		> svg {
			stroke: var(--text-light);
			flex-shrink: 0;
		}
	}

	.search-widget-shortcut {
		display: flex;
		align-items: center;
		gap: 4px;
		font-size: var(--text-xs);
		color: var(--text-muted);
		white-space: nowrap;

		svg {
			stroke: var(--text-muted);
			flex-shrink: 0;
		}
	}
}
