.tag-pill {
	background-color: var(--gray-200);
	border-radius: var(--border-radius);
	display: inline-flex;
	padding: 4px 10px;
	align-items: center;
	color: var(--text-muted);
	width: 60px;
	vertical-align: middle;
}

[data-theme="dark"] {
	.tag-pill {
		background-color: var(--gray-900);
	}
}
