<div class="kanban">
    <div class="kanban-column add-new-column">
        <div class="kanban-column-title h4 compose-column">
            <a class="text-muted"> {{ __("Add a column") }}</a>
        </div>
        <form class="compose-column-form">
            <div class="kanban-card">
                <textarea name="title"></textarea>
            </div>
            <div class="kanban-controls">
                <button class="btn btn-primary add-new">Add</button>
                <a class="btn octicon octicon-x text-muted close-form" style="font-size: 1.4em"></a>
            </div>
        </form>
    </div>
</div>