<div class="kanban-card-wrapper {{ disable_click }}" data-name="{{name}}">
	<a class="kanban-card-redirect" href="#">
		<div class="kanban-card content">
			<div class="kanban-card-title">
				{{ title }}
			</div>
			{% for(let i=0; i<card_fields.length; i++) { %}
				{% if(card_fields[i].value) { %}
					<div class="kanban-card-body">
						{% if(!hide_label){ %}
							<div class="kanban-card-label">
								{%= card_fields[i].label %}
							</div>
						{% } %} 
						<div class="kanban-card-title">
							{%= card_fields[i].value %}
						</div>
					</div>
				{% } %}	
			{% } %}
			<div class="kanban-card-meta">
			</div>
		</div>
	</a>
</div>