<div class="row" style="max-height: 30px;">
	<div class="col-xs-12">
		<div class="text-ellipsis">
			{%= list.get_avatar_and_id(doc) %}

			<span style="margin-right: 8px;" class="filterable"
					data-filter="first_name,=,{%= doc.first_name %}">
					{%= doc.first_name %}</span>
			<span style="margin-right: 8px;" class="filterable"
					data-filter="last_name,=,{%= doc.last_name %}">
					{%= doc.last_name %}</span>

			{% if(doc.enabled) { %}
			<span style="margin-right: 8px;"
				title="{%= __("Enabled") %}" class="filterable"
				data-filter="enabled,=,Yes">
				<i class="icon-ok"></i>
			</span>
			{% } %}

			{% if(doc.user_type==="System User") { %}
			<span style="margin-right: 8px;"
				title="{%= __("System User") %}" class="filterable"
				data-filter="user_type,=,System User">
				<i class="icon-lock"></i>
			</span>
			{% } %}

		</div>
	</div>
</div>
