.app-icon {
	border-radius: 5px;
	overflow: hidden;
	padding: 15px;
	display: inline-block;
	margin: auto;
	text-align: center;
	/*border: 1px solid #36414C;*/
	border: 1px solid #d1d8dd;
	background-color: #fff;
}

.app-icon:hover {
	background-color: #f5f7fa;
}


.app-icon i {
	font-size: 40px;
	min-width: 40px;
	color: #36414C;
	display: inline-block;
}

.app-icon:hover i {
	color: inherit;
}

.app-icon svg, .app-icon img {
	height: 40px;
	width: 40px;
	margin-top: -3px;
}

.app-icon path {
	fill: #36414C;
}

.app-icon:hover path {
	fill: inherit;
}

.app-icon-small {
	padding: 12px;
}

.app-icon-img.app-icon-small {
	padding: 0px;
	height: 54px;
	width: 54px;
}

.app-icon-img {
	padding: 0px;
	height: 70px;
	width: 70px;
}

.app-icon-img img {
	width: 100%;
	height: 100%;
}


@media (max-width: 768px) {
	.app-icon {
		padding: 12px;
	}
}
