/* appframe header */

.appframe {
/*	padding-top: 15px;
	padding-bottom: 15px;*/
}

.appframe-wrapper {
	background-color: #fff;
	/*box-shadow: 1px 0px 1px rgba(0,0,0,0.4);*/
}

.appframe-titlebar {
	border-bottom: 1px solid #c7c7c7;
}

/*.appframe-titlebar, .appframe-iconbar, .appframe-form, .appframe-primary-actions {
	background-color: #f9f9f9;
}*/

.appframe-primary-actions {
	border-bottom: 1px solid #c7c7c7;
}

.appframe-primary-actions .btn {
	margin: 10px;
	margin-left: 0px;
}

.appframe-iconbar {
	border-bottom: 1px solid #c7c7c7;
}

.titlebar-item {
	padding-top: 10px;
	padding-bottom: 10px;
}

.titlebar-item h3 {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 7px 0px;
	margin: 0px;
}

.titlebar-item.text-right {
	margin-top: 3px;
}

.titlebar-left-item  {
	float: left;
	width: 30px;
}

h2.titlebar-left-item {
	margin-top: -2px !important;
}

.titlebar-center-item  {
	float: left;
	width: 90%;
}

.title-sub {
	font-size: 50%;
	color: #888;
	margin-left: 34px;
	margin-top: 4px;
}

@media (max-width: 768px) {
	.titlebar-center-item  {
		width: 80%;
	}
	.titlebar-item h2 {
		font-size: 20px;
	}
}

.appframe-header {
	margin-bottom: 20px;
}

.appframe-toolbar {
	margin-bottom: 0px;
}

.appframe-header .status-bar {
	text-align: right;
}


/* fixed navbar in appframe */

.appframe .navbar {
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 0px;
	border-radius: 0px;
	border-bottom: 1px solid #e7e7e7;
	min-height: 51px;
}

.appframe .navbar-form select,
.appframe .navbar-form input,
.appframe .navbar-form button,
.appframe .navbar-form label {
	margin-bottom: 5px;
}

.appframe .navbar-form {
	margin-bottom: 2px;
	width: 100%;
}

.appframe-iconbar, .appframe-form {
	/*border-bottom: 1px solid #c7c7c7;*/
}

.appframe-form {
	padding: 2px 0px 5px 0px;
}

.appframe-form input, .appframe-form select, .appframe-form label {
	font-size: 90%;
	padding: 4px;
	margin: 3px 0px;
}

.appframe-form .form-group {
	margin-bottom: 0px;
}

.appframe-form .form-control {
	height: 28px;
	margin-top: 0px;
}

.iconbar {
	display: inline-block;
	padding: 9px 0px;
}

.iconbar-4 {
	border-left: 1px solid #c7c7c7;
	padding-left: 4px;
}

.iconbar ul {
	list-style: none;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.iconbar li {
	display: inline-block;
	padding-left: 4px;
	padding-right: 4px;
}

.iconbar i {
	margin-top: 4px;
	margin-right: 4px;
	color: #888;
	cursor: pointer;
	font-size: 16px;
}

.iconbar i:hover {
	color: #000;
}

.iconbar i:active {
	color: #5bc0de;
}

.iconbar .appframe-iconbar-active i {
	font-weight: bold;
	color: orange;
}

.workflow-button-area {
	margin-bottom: 15px;
}

.appframe-control-label {
	font-size: 75% !important;
	margin: 0px auto !important;
	padding: 0px 4px !important;
}

.appframe-only-label {
	margin-top: 21px !important;
	text-align: center;
}

.appframe-form .checkbox {
	margin-top: 15px !important;
	margin-bottom: -7px !important;
}
