.avatar {
	display: inline-block;
	vertical-align: middle;
	border-radius: 3px;
	overflow: hidden;
	border: 1px solid #d1d8dd;
	width: 50px;
	height: 50px;
}

.avatar img {
	width: 100%;
	height: auto;
}

.avatar-empty {
	border: 1px dashed #d1d8dd;
}

.avatar-small {
	margin-right: 5px;
	width: 30px;
	height: 30px;
}

.avatar-large {
	margin-right: 10px;
	width: 72px;
	height: 72px;
}

.avatar-xs {
	margin-right: 3px;
	margin-top: -2px;
	width: 17px;
	height: 17px;
	border: none;
	border-radius: 3px;
}
