h1,
h2,
h3,
h4, 
h5, 
h6,
p,
span,
div,
li,
td {
	font-family: -apple-system, BlinkMacSystemFont,
	    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
	    "Fira Sans", "Droid Sans", "Helvetica Neue",
	    sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6, {
	color: #6c7680;
	margin: 0;
	padding: 0;
}

h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
p {
	color: #6c7680;
	font-size: 12px;
  	margin: 0 0 10px;
}
p.small {
	font-size: 10px;
}
p.italic {
	font-style: italic;
}
a {
	outline: none;
}
a.grey {
	color: 
}
.footer {
	color: #8d99a6;
}
.footer a {
	color: #8d99a6;
}
img {
	border: 0;
	outline: none;
}
td {
	font-size: 12px;
	vertical-align: top;
}
td.v-spacer {
	font-size: 0;
	line-height: 0;
	width: 20px;
	vertical-align: top;
}
td.h-spacer {
	font-size: 0;
	line-height: 0;
	height: 20px;
	vertical-align: top;
}
th {
	font-size: 14px;
}
table.inner {
	width: 100%;
	max-width: 600px;
	border: 0;
}
table.wrapper {
	background: #fafbfc;
	text-align: center;
	width: 100%;
}