.fc-toolbar {
  padding: 15px;
  margin-bottom: 0px !important;
}
.fc-view-container {
  margin-left: -1px;
}
th.fc-widget-header {
  background-color: #F7FAFC;
  color: #8C99A5;
}
.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed hr,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-row,
.fc-unthemed .fc-popover {
  border-color: #d1d8dd !important;
}
.fc-unthemed .fc-today {
  background-color: #FFFEF2 !important;
}
.fc-highlight {
  background-color: #D9F6FF !important;
}
.fc-event {
  border: 1px solid #E8DDFF;
  /* default BORDER color */
  background-color: #E8DDFF;
}
