.cursor-pointer {
  cursor: pointer;
}
.frappe-fab {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
}
.frappe-fab:hover {
  box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.25);
}
.frappe-fab.frappe-fab-sm {
  width: 40px;
  height: 40px;
}
.frappe-fab.frappe-fab-lg {
  width: 56px;
  height: 56px;
}
.frappe-chat-popper {
  position: fixed;
  bottom: 0px;
  right: 0px;
  margin: 20px;
  z-index: 1035;
}
.frappe-chat-popper .frappe-chat-popper-collapse {
  position: fixed;
  bottom: 0px;
  right: 0px;
  margin: 20px;
  margin-bottom: calc(70px);
}
.frappe-chat-popper .frappe-chat-popper-collapse .panel {
  width: 350px;
  height: 500px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
}
.frappe-chat-popper .frappe-chat-popper-collapse .panel-span {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 1037;
  overflow: auto;
  border-radius: none !important;
}
.frappe-chat__room {
  position: relative;
  margin-top: 15px;
}
.frappe-chat__form {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 15px;
}
