.frappe-fab {
  position: fixed;
  margin: 20px;
  bottom: 0px;
  right: 0px;
  width: 40px;
  height: 40px;
  z-index: 1035;
  border-radius: 50%;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
}
.frappe-fab:hover {
  box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.25);
}
.frappe-fab.frappe-fab-lg {
  width: 56px;
  height: 56px;
}
.frappe-chat__widget__collapse {
  position: fixed;
  bottom: 0px;
  right: 0px;
  margin: 20px;
  z-index: 1000;
}
.frappe-chat__widget__collapse .panel {
  margin-bottom: 72px;
  max-width: 350px;
  min-height: 500px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
}
.frappe-chat__app-bar-account {
  margin-top: 15px;
}
.frappe-chat__app-bar-search {
  margin-top: 15px;
}
.frappe-chat__app-bar-room-list {
  margin-top: 15px;
}
.frappe-chat__app-bar-search .dropdown-menu {
  min-width: 150px;
}
.frappe-chat__room {
  position: relative;
  margin-top: 15px;
}
.frappe-chat__form {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 15px;
}
