.unit-checkbox {
  color: #36414c;
  margin-top: 5px;
  margin-bottom: 5px;
}
.unit-checkbox label {
  position: relative;
}
.unit-checkbox input[type=checkbox] {
  margin-left: 0;
}
.unit-checkbox + .checkbox {
  margin-top: 5px;
  margin-bottom: 5px;
}
.frappe-control .select-all {
  margin-right: 5px;
}
.frappe-control .control-value {
  overflow-wrap: break-word;
}
