.data-table {
  width: 100%;
  position: relative;
  overflow: auto;
  font-size: 12px;
  border-collapse: collapse;
}
.body-scrollable {
  max-height: 500px;
  overflow: auto;
}
.data-table-header {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  color: #8D99A6;
  font-weight: bold;
}
.data-table-col {
  display: table-cell;
  border: 1px solid #d1d8dd;
  white-space: nowrap;
}
.data-table-col > div {
  padding: 10px;
}
.data-table-col.numeric {
  text-align: right;
}
.data-table-col div {
  border: 1px solid white;
}
.data-table-col.selected > div {
  border: 1px solid #5E64FF;
}
.data-table-row {
  display: table-row;
}
