html {
	min-height: 100%;
	position: relative;
}

body {
	height: 100%;
	margin: 0px;
	padding-top: 44px;
	color: #36414C;
}

a {
	cursor: pointer;
}

.navbar-default {
	background-color: #f5f7fa;
	border-bottom: 1px solid #ebeff2;
}

.navbar-brand {
	font-size: inherit;
}

a.disabled, a.disabled:hover {
	color: #888;
	cursor: default;
	text-decoration: none;
}

.page-container {
	padding-bottom: 15px;
}

a.form-link {
	font-weight: bold;
	font-size: 102%;
}

em.link-option {
	font-weight: normal;
}

.layout-main {
	padding-bottom: 10px;
}

.text-small {
	font-size: 80%;
}

.text-ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media (max-width: 767px) {
	.layout-side-section {
		border-top: 1px solid #d1d8dd;
	}
}

.app-page {
	padding: 0px;
	overflow: hidden;
}

.layout-main-section {
	border: 1px solid #d1d8dd;
	border-top: 0px;
}

/*.limit-container-width .container {
	max-width: 970px;
}*/

/* listing */

.no-result {
	padding: 15px;
}

.show_filters {
	padding: 15px;
	padding-bottom: 5px;
	border-bottom: 1px solid #d1d8dd;
}

.set-filters .btn {
	margin-bottom: 10px;
}

.set-filters .btn-group {
	margin-right: 10px;
}

.list-row {
	padding: 7px 15px 10px 15px;
	border-bottom: 1px solid #d1d8dd;
}

.list-row:last-child {
	border-bottom: 0px;
}

.list-item-col {
	white-space: nowrap;
	text-overflow: ellipsis;
	height: 30px;
	padding-top: 3px;
}

.list-filters {
	background-color: #f7fafc;
}

.list-paging-area {
	padding: 10px 15px;
	border-top: 1px solid #d1d8dd;
}

.progress {
	height: 10px;
}

.doclist-row .progress {
	margin-top: 12px;
}

.filterable {
	cursor: pointer;
}

.doclist-row .label {
	margin-right: 8px;
}

.list-info-row {
	float: left;
	margin-top: -7px;
}

.list-row-right {
	margin-top: 8px;
	margin-bottom: -8px;
}

.side-panel {
	border-bottom: 1px solid #d1d8dd;
	margin: 0px -15px;
	padding: 5px 15px;
}

.star-action.icon-star {
	color: #ffdb4c;
}

/* module */

.alert-badge {
	margin: 4px 0px;
	padding: 10px;
}

.alert-badge a, .alert-badge a:hover {

}

.alert-badge .badge {
	margin-top: 3px;
}

.form-layout {
	/*margin-top: -15px;*/
}

.form-print-wrapper {
	border: 1px solid #d1d8dd;
	border-top: none;
}

.print-preview-wrapper {
	padding: 30px 0px;
	background-color: #f5f7fa;
}

.print-toolbar {
	margin: 0px;
	padding: 10px 0px;
	border-bottom: 1px solid #d1d8dd;
}

.form-page-header {
	border-top: 1px solid #d1d8dd;
	padding: 10px 15px;
	background-color: #f7fafc;
}

.form-control {
	padding: 6px 8px;
}

.form-headline {
	margin-bottom: 10px;
	font-size: 120%;
}

.form-dashboard {
	display: none;
	border-bottom: 1px solid #d1d8dd;
}

.form-section {
	margin: 0px;
	padding: 15px;
}
.form-section:nth-child(even), .list-row:nth-child(even), .timeline-item:nth-child(even) {
	background-color: #fafbfc;
}

.help ol {
	padding-left: 19px;
}

.field_description_top {
	margin-bottom: 3px;
}

.link-field-btn a, .link-field-btn a:hover {
	color: #888;
	text-decoration: none;
	margin-left: 3px;
}

.sidebar-section li {
	margin-top: 5px;
}

.sidebar-section {
	margin-top: 25px;
}
.sidebar-section:last-child {
	margin-bottom: 20px;
}
.sidebar-section h5 {
	text-transform: uppercase;
	color: #888;
	font-size: 90%;
}
.user-actions {
	margin-bottom: 15px;
}
.user-actions a {
	font-weight: bold;
}

/* module */

.module-item-progress {
	margin-bottom: 10px;
	height: 17px;
}

.module-item-progress-total {
	height: 7px;
	background-color: #999999;
	width: 0px;
}

.module-item-progress-open {
	height: 7px;
	background-color: red;
	width: 0px;
}


.badge-important {
	background-color: #e74c3c;
}

.comm-header {
	font-weight: bold;
	height: 20px;
	overflow: hidden;
}

.comm-header > div {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

/* alert */


#alert-container {
	position: fixed;
	bottom: 8px;
	right: 8px;
	z-index: 1050;
}

#alert-container .alert {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

		overflow: hidden;
		max-width: 400px;
		text-overflow: ellipsis;
		white-space: nowrap;
}

.missing-image {
	background-color: #eee;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 140px;
	height: 140px;
	font-size: 32px;
	color: #888;
}
/* form */

.timeline {
	border: 1px solid #d1d8dd;
	margin: 30px -15px;
}

.timeline-item {
	padding: 15px 30px;
}

.timeline-item blockquote {
	font-size: inherit;
}

.timeline-head {
	background-color: #fafbfc;
	padding: 30px 30px 15px 30px;
	border-bottom: 1px solid #d1d8dd;
}

.frappe-editor {
	cursor: text;
}

.frappe-editor img {
	max-width: 100%;
}

textarea.form-control {
	height: 120px;
}

ul.linked-with-list {
	list-style: none;
	margin: 0 0 20px 0;
	padding: 0 0 0 0;
}

ul.linked-with-list li {
	padding: 5px 0px;
	border-bottom: 1px solid #d1d8dd;
}

/* form grid */

.form-grid {
	border: 1px solid #d1d8dd;
	margin-bottom: 15px;
	border-radius: 3px;
}

.grid-heading-row {
	border-bottom: 1px solid #d1d8dd;
	background-color: #f7fafc;
	font-weight: bold;
}

.grid-row {
	padding: 10px 15px;
	border-bottom: 1px solid #d1d8dd;
}

.grid-row:last-child {
	border: none;
}

.rows .grid-row .data-row, .rows .grid-row .grid-footer-toolbar, .grid-form-heading {
	cursor: pointer;
}

.data-row.row {
	margin: 0px;
}

.grid-body {
	background-color: #fff;
}

.grid-footer {
	padding: 10px 15px;
	border-top: 1px solid #d1d8dd;
}

.grid-empty, .list-loading {
	padding: 10px 15px;
	color: #d1d8dd;
}

.grid-static-col {
	max-height: 200px;
	overflow: hidden;
}

.row-index {
	text-align: right;
	width: 30px;
	margin-left: -15px;
	float: left;
}

.row-data > .row {
	margin-left: 15px;
}

.grid-row td {
	vertical-align: top;
}

.grid-row p {
	margin-bottom: 5px;
}

.form-in-grid {
	margin: -10px -15px;
	z-index: 1021;
	position: relative;
	background-color: white;
}

.grid-form-heading {
	padding: 10px 15px;
	font-size: 120%;
	border-bottom: 1px solid #d1d8dd;
}

.grid-footer-toolbar {
	padding: 10px 15px;
	border-top: 1px solid #d1d8dd;
}

/* form footer */

.form-footer {
	padding-bottom: 30px;
	/*box-shadow: 0px -1px 6px rgba(0,0,0,0.3);*/
}

.form-footer h5 {
	margin: 15px 0px;
	font-weight: bold;
}


.control-label, .grid-heading-row {
	color: #8c99a5;
	font-size: 85%;
}

.like-disabled-input {
	margin-bottom: 7px;
	border-radius: 3px;
	min-height: 30px;
	font-size: 110%;
	font-weight: bold;
}

/* jquery ui */

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
	display: inline;
}

.hidden-xs-inline, .hidden-xs-inline-block {
	display: none;
}

.ui-autocomplete {
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
}


@media (min-width: 768px) {
	.hidden-xs-inline {
		display: inline;
	}
	.hidden-xs-inline-block {
		display: inline-block;
	}

	.listview-main-section {
		border-right: 1px solid #d7d7d7;
	}
}

.modal-backdrop {
  opacity: 0.5;
}

/* buttons */

.grid-overflow-no-ellipsis {
	word-wrap: break-word;
	overflow: hidden;
	padding-right: 0px;
}

.grid-overflow-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-right: 0px;
}

.toolbar-banner {
	text-align: center;
	background-color: #fcf8e3;
	padding: 7px;
	z-index: 1;
}

.form-group {
	margin-bottom: 7px;
}


/* hack */
.ui-datepicker { z-index: 9999999 !important; }
.ui-autocomplete {
	z-index: 9999999 !important;
}

.bold,
.strong {
	font-weight: bold;
}

.print-preview {
	padding: 0px;
	max-width: 8.3in;
	margin: auto;
	min-height: 11.69in;
}

.module-view-layout {
	margin-top: 10px;
}

/* on small screens, show only icons on top */
@media (max-width: 767px) {
	.module-view-layout .nav-stacked > li {
		float: left;
		margin-bottom: 5px;
	}

	.nav-stacked > li + li {
	  margin-top: 0px;
	  margin-left: 2px;
	}
}

#freeze {
	background-color: #557698;
	opacity: 0.2;
	z-index: 1020;
}

kbd {
	color: inherit;
	background-color: #F0F4F7;
    -webkit-box-shadow: none;
            box-shadow: none;

}
