html {
  min-height: 100%;
}
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  margin: 0px;
  padding: 0px !important;
}
html,
body {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */
}
.offcanvas-main-section-overlay {
  display: none;
  cursor: pointer;
  opacity: 0.5;
}
.sidebar-padding {
  padding: 12px 14px;
}
.offcanvas .sidebar .sidebar-menu > li > a,
.offcanvas .sidebar .dropdown-menu > li > a {
  padding: 12px 14px;
  display: block;
  whitespace: nowrap;
  transition: 0.2s;
  text-decoration: none !important;
}
.offcanvas .sidebar .dropdown-menu {
  padding: 0px;
  font-size: inherit;
}
.offcanvas .sidebar .dropdown-menu > li > a {
  padding-left: 28px;
}
.offcanvas .sidebar .divider {
  height: 1px;
  overflow: hidden;
  background-color: #ebeff2;
  width: 100%;
  margin: 0px;
}
.offcanvas .sidebar .badge {
  right: 15px !important;
  top: 11px !important;
}
.offcanvas .sidebar .sidebar-menu > li > a:hover,
.offcanvas .sidebar .dropdown-menu > li > a:hover,
.offcanvas .sidebar .sidebar-menu > li > a:focus,
.offcanvas .sidebar .dropdown-menu > li > a:focus,
.offcanvas .sidebar .sidebar-menu > li > a:active,
.offcanvas .sidebar .dropdown-menu > li > a:active {
  background-color: #f0f4f7;
}
.breadcrumb {
  line-height: 1.5em;
}
.breadcrumb {
  background-color: transparent;
  padding: 10px 0px;
}
.breadcrumb a,
.breadcrumb a:hover,
.breadcrumb a:focus,
.breadcrumb a:visited {
  color: inherit;
}
.navbar {
  background-color: transparent;
  border: none;
  padding: 10px 0px;
  border-radius: 0px;
  border-bottom: 1px solid #7575ff;
}
.section {
  padding: 30px 0px;
}
.docs-footer {
  margin-top: 50px;
  padding: 30px 0px 60px 0px;
  border-top: 1px solid #d1d8dd;
}
.docs-footer a {
  color: #8d99a6;
}
.docs-footer li {
  display: inline-block;
  margin: 0 15px;
}
.jumbotron {
  background-color: transparent;
  padding: 80px 30px;
  text-align: center;
}
.jumbotron h1 {
  font-size: 32px;
  font-weight: 400;
}
.jumbotron p {
  font-color: #8d99a6 !important;
}
.browser-image {
  min-height: 300px;
  border: 1px solid #d1d8dd;
}
.fake-browser-frame {
  position: relative;
  margin: 40px auto;
  max-width: 600px;
}
.fake-browser-frame::before {
  content: "";
  height: 24px;
  position: absolute;
  top: -24px;
  left: 0px;
  right: 0px;
  border: 1px solid #d1d8dd;
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.fake-browser-frame::after {
  content: '\f111  \f111  \f111';
  position: absolute;
  color: #d1d8dd;
  top: -15px;
  left: 8px;
  /* octicon */
  font: normal normal;
  font-size: 8px;
  font-family: 'FontAwesome';
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.fake-iphone-frame {
  position: relative;
  padding: 40px 8px;
  border: 1px solid #d1d8dd;
  border-radius: 15px;
}
.fake-ipad-frame {
  position: relative;
  padding: 8px 40px;
  border: 1px solid #d1d8dd;
  border-radius: 15px;
}
