/* csslint ignore:start */
body {
  line-height: 1.5;
  color: #36414C;
}
p {
  margin: 1em 0 !important;
}
hr {
  border-top: 1px solid #d1d8dd;
}
.body-table {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
.email-header,
.email-body,
.email-footer {
  width: 100% !important;
  min-width: 100% !important;
}
.email-body {
  font-size: 14px;
}
.email-footer {
  border-top: 1px solid #d1d8dd;
  font-size: 12px;
}
.email-header {
  background: #fafbfc;
  border: 1px solid #d1d8dd;
  border-radius: 3px 3px 0 0;
}
.email-header .brand-image {
  width: 24px;
  height: 24px;
  display: block;
}
.body-table.has-header .email-body {
  border: 1px solid #d1d8dd;
  border-radius: 0 0 3px 3px;
  border-top: none;
}
.body-table.has-header .email-footer {
  border-top: none;
}
.btn {
  text-decoration: none;
  padding: 7px 10px;
  font-size: 12px;
  border: 1px solid;
  border-radius: 3px;
}
.btn.btn-default {
  color: #fff;
  background-color: #f0f4f7;
  border-color: transparent;
}
.btn.btn-primary {
  color: #fff;
  background-color: #5E64FF;
  border-color: #444bff;
}
.table {
  width: 100%;
  border-collapse: collapse;
}
.table td,
.table th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #d1d8dd;
  text-align: left;
}
.table th {
  font-weight: bold;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #d1d8dd;
}
.table > thead:first-child > tr:first-child > th {
  border-top: none;
}
.table.table-bordered {
  border: 1px solid #d1d8dd;
}
.table.table-bordered td,
.table.table-bordered th {
  border: 1px solid #d1d8dd;
}
.more-info {
  font-size: 80% !important;
  color: #8D99A6 !important;
  border-top: 1px solid #EBEFF2;
  padding-top: 10px;
}
/* csslint ignore:end */
