/* the element that this class is applied to, should have a max width for this to work*/
.date-range-picker {
  font-size: 85%;
}
.filter_area {
  margin: 0 -15px;
}
.filter-dashboard-wrapper {
  display: none;
  padding-bottom: 0px;
}
.list-filter-dashboard {
  border-top: 1px solid #d1d8dd;
  overflow-x: scroll;
  overflow-y: hidden;
}
.filter-header {
  border-bottom: 1px solid #d1d8dd;
  background-color: #F7FAFC;
  padding: 8px 15px;
}
.filter-header .search-dropdown {
  margin-top: -20px;
  margin-right: 20px;
}
.filter-header .search-dropdown .octicon {
  font-size: 14px;
}
.filter-header .sort-dropdown {
  margin-top: -16px;
}
.filter-header .dropdown-menu {
  min-width: 120px !important;
}
.filter-label {
  margin: 0px;
  color: #8D99A6;
}
.filter-dashboard-items {
  height: 187px;
  margin-right: -2px;
  display: flex;
}
.filter-dash-item {
  flex-grow: 1;
  min-width: 180px;
  float: left;
  height: 187px;
  border-right: 1px solid #d1d8dd;
}
.filter-input {
  padding: 10px 15px;
}
.filter-input input {
  height: 25px;
}
.filter-item-value,
.stat-no-records {
  padding: 0px 15px;
}
.filter-dash-item:after {
  /*top:-10px;*/
}
.filter-sort {
  font-size: 1.5em;
}
.filter-sort-item a {
  padding: 8px !important;
}
.filter-sort-item:hover {
  color: #212a33;
  text-decoration: none;
  background-color: #F0F4F7;
}
.filter-stat {
  overflow-y: auto;
  overflow-x: hidden;
  height: 158px;
  margin: 0px;
}
.selected {
  vertical-align: 10%;
  font-size: 1.2em;
}
.filter-sort-item > label {
  float: right;
}
.filter-stat-link > .badge {
  position: absolute;
  float: right;
  margin-right: 10px;
  margin-top: 2px;
  font-size: 11px;
}
.filter-stat-link > .stat {
  width: 130px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  vertical-align: middle;
}
.filter-dash-controls > .filter-label {
  padding-bottom: 5px;
}
