.form-print-wrapper {
  border: 1px solid #d1d8dd;
  border-top: none;
}
.print-preview-wrapper {
  padding: 30px 0px;
  background-color: #f5f7fa;
}
.print-toolbar {
  margin: 0px;
  padding: 10px 0px;
  border-bottom: 1px solid #d1d8dd;
}
.form-inner-toolbar {
  padding: 10px 15px 0px;
  background-color: #fafbfc;
  text-align: right;
}
.form-inner-toolbar .btn {
  margin-bottom: 10px;
}
.form-clickable-section {
  border-top: 1px solid #d1d8dd;
  padding: 10px 15px;
  background-color: #F7FAFC;
}
.form-page.second-page {
  border-top: 1px solid #d1d8dd;
}
.form-dashboard {
  display: none;
  border-bottom: 1px solid #d1d8dd;
}
.form-section {
  margin: 0px;
  padding: 15px;
}
.form-section .form-section-heading {
  margin: 0px 0px 10px 0px;
}
.form-section .section-head {
  margin: 0px 0px 15px 15px;
  cursor: pointer;
}
.form-section .section-head .collapse-indicator {
  color: #d1d8dd;
  margin-left: 10px;
  position: relative;
  bottom: -1px;
}
.form-section .section-head .collapse-indicator.octicon-chevron-up {
  bottom: -2px;
}
.form-section .section-head.collapsed {
  margin-bottom: 0px;
}
.form-section:not(:last-child),
.form-inner-toolbar {
  border-bottom: 1px solid #EBEFF2;
}
.empty-section {
  display: none !important;
}
.shaded-section,
.timeline-item:nth-child(even) {
  background-color: #fafbfc;
}
.modal .form-layout {
  margin: -15px;
}
.modal .form-section {
  padding: 7px;
}
.help ol {
  padding-left: 19px;
}
.field_description_top {
  margin-bottom: 3px;
}
.user-actions {
  margin-bottom: 15px;
}
.user-actions a {
  font-weight: bold;
}
.badge-important {
  background-color: #e74c3c;
}
.timeline {
  border: 1px solid #d1d8dd;
  margin: 30px 0px;
}
.timeline-item {
  margin-top: 0px;
  padding: 15px 30px 7px;
  border-bottom: 1px solid #d1d8dd;
}
.timeline-item .icon-fixed-width {
  text-align: center;
}
.timeline-item blockquote {
  font-size: inherit;
}
.timeline-item:last-child {
  border-bottom: 0px;
}
.timeline-item .reply {
  margin-top: 5px;
}
.timeline-item .reply-link {
  padding: 0px 7px;
}
.timeline-item h6,
.timeline-head h6 {
  margin-top: 6px;
}
.timeline-head {
  background-color: #fafbfc;
  padding: 15px 30px;
  border-bottom: 1px solid #d1d8dd;
}
.form-footer h5 {
  margin: 15px 0px;
  font-weight: bold;
}
.control-label,
.grid-heading-row {
  color: #8D99A6;
  font-size: 12px;
}
.control-label {
  margin-bottom: 5px;
}
.like-disabled-input {
  margin-bottom: 7px;
  border-radius: 3px;
  min-height: 30px;
  font-weight: bold;
}
.like-disabled-input.for-description {
  font-weight: normal;
}
.frappe-control {
  margin-bottom: 10px;
}
.frappe-control .help-box {
  margin-top: 3px;
}
.hide-control {
  display: none !important;
}
.shared-user {
  margin-bottom: 10px;
}
.linked-with-dialog {
  width: 75%;
}
.linked-with-dialog .panel-body {
  padding: 0px;
}
.linked-with-dialog .form-section {
  padding-top: 15px;
}
.attach-missing-image,
.attach-image-display {
  cursor: pointer;
}
select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form-control.bold {
  color: #000;
  font-weight: bold;
  background-color: #fffdf4;
}
.form-headline .alert {
  font-size: 12px;
  background-color: #fffce7;
  margin-bottom: 0px;
  margin: 0px -15px;
}
.delivery-status-indicator {
  display: inline-block;
  margin-top: -3px;
  margin-left: 1px;
  font-weight: 500;
  color: #8D99A6;
}
@media (min-width: 768px) {
  .layout-main .form-column.col-sm-12 > form > .input-max-width {
    max-width: 50%;
    padding-right: 15px;
  }
  .col-sm-6 .form-grid .form-column.col-sm-12 > form > .input-max-width {
    max-width: none;
    padding-right: 0px;
  }
}
@media (max-width: 991px) {
  .form-section .form-section-heading {
    margin-top: 10px;
  }
}
@media (max-width: 767px) {
  .form-section .section-head {
    padding: 15px 15px 15px 0px;
  }
  .form-column {
    border-bottom: 1px solid #EBEFF2;
  }
  .form-column:last-child {
    border-bottom: 0px;
  }
  .form-section {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .form-grid {
    margin-left: -17px;
    margin-right: -17px;
    border-left: none !important;
    border-right: none !important;
    border-radius: none;
  }
  .form-page .form-section {
    padding: 0px 15px;
  }
  .form-page .frappe-control {
    padding: 7px 15px;
    border-bottom: 1px solid #EBEFF2;
    margin: 0px -15px;
  }
  .form-page .frappe-control .link-btn {
    top: -2px;
  }
  .form-page .frappe-control .like-disabled-input {
    min-height: 0px !important;
  }
  .form-page .frappe-control:last-child {
    border-bottom: 0px;
  }
  .form-page .frappe-control[data-fieldtype="Table"] {
    padding: 0px 15px;
    margin-top: -1px;
    border-bottom: none;
  }
  .form-page .frappe-control[data-fieldtype="Table"] label {
    margin-top: 7px;
  }
  .form-page .form-control {
    border: none;
    box-shadow: none;
    background-color: inherit;
    height: auto;
    padding: 0px;
    margin-bottom: 7px;
    border-radius: 0px;
    text-align: left !important;
  }
  .form-page .form-control:focus {
    box-shadow: none;
  }
}
