.data-table {
  --primary-color: #7679FC !important;
  margin-left: -1px;
  margin-top: -1px;
  font-size: 12px;
}
.data-table .data-table-col .edit-cell {
  padding: 0;
}
.data-table .data-table-col .edit-cell input {
  font-size: inherit;
  height: 34px;
}
.data-table .frappe-control {
  margin: 0;
}
.data-table .form-group {
  margin: 0;
}
.data-table .form-control {
  border-radius: 0px;
  border: none;
}
.data-table .link-btn {
  top: 6px;
}
.data-table select {
  height: 34px;
}
.data-table .checkbox {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
}
.data-table [data-fieldtype="Color"] .control-input {
  overflow: hidden;
}
.data-table .body-scrollable::-webkit-scrollbar {
  display: none;
}
