.gantt #grid .grid-background {
  fill: none;
}
.gantt #grid .grid-header {
  fill: #ffffff;
  stroke: #d1d8dd;
  stroke-width: 1.4;
}
.gantt #grid .grid-row {
  fill: #ffffff;
}
.gantt #grid .grid-row:nth-child(even) {
  fill: #fafbfc;
}
.gantt #grid .row-line {
  stroke: #EBEFF2;
}
.gantt #grid .tick {
  stroke: #d1d8dd;
  stroke-width: 0.2;
}
.gantt #grid .tick.thick {
  stroke-width: 0.4;
}
.gantt #grid .today-highlight {
  fill: #fffce7;
  opacity: 0.5;
}
.gantt #arrow {
  fill: none;
  stroke: #8D99A6;
  stroke-width: 1.4;
}
.gantt .bar {
  fill: #cbd1d8;
  stroke: #aeb0b1;
  stroke-width: 0;
  transition: stroke-width 0.3s ease;
}
.gantt .bar-progress {
  fill: #a8a8ff;
}
.gantt .bar-invalid {
  fill: transparent;
  stroke: #aeb0b1;
  stroke-width: 1;
  stroke-dasharray: 5;
}
.gantt .bar-invalid ~ .bar-label {
  fill: #6c7680;
}
.gantt .bar-label {
  fill: #fff;
  dominant-baseline: central;
  text-anchor: middle;
  font-size: 12px;
  font-weight: lighter;
  letter-spacing: 0.8px;
}
.gantt .bar-label.big {
  fill: #6c7680;
  text-anchor: start;
}
.gantt .handle {
  fill: #F0F4F7;
  cursor: ew-resize;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease;
}
.gantt .bar-wrapper {
  cursor: pointer;
}
.gantt .bar-wrapper:hover .bar {
  stroke-width: 2;
}
.gantt .bar-wrapper:hover .handle {
  visibility: visible;
  opacity: 1;
}
.gantt .bar-wrapper.active .bar {
  stroke-width: 2;
}
.gantt .primary-text,
.gantt .secondary-text {
  font-size: 12px;
  text-anchor: middle;
}
.gantt .primary-text {
  fill: #6c7680;
}
.gantt .secondary-text {
  fill: #36414C;
}
.gantt #details {
  font-size: 14;
}
.gantt #details .details-container {
  stroke: #d1d8dd;
  stroke-width: 1.1;
  fill: #fff;
}
.gantt #details .details-heading {
  fill: #36414C;
  font-weight: 500;
}
.gantt #details .details-body {
  fill: #6c7680;
}
.gantt .hide {
  display: none;
}
