.kanban {
  min-height: 400px;
  background-color: #fafbfc;
  display: flex;
  overflow: scroll;
}
.kanban .kanban-column {
  flex: 0 0 230px;
  max-width: 230px;
  background-color: #fafbfc;
  border-right: 1px solid #e2dfdf;
  padding: 15px;
}
.kanban .kanban-column-title {
  margin-top: 0;
  margin-bottom: 15px;
}
.kanban .kanban-card-wrapper:hover {
  cursor: pointer;
  text-decoration: none;
}
.kanban .kanban-card-wrapper:hover .kanban-card {
  background-color: #f9f9f9;
}
.kanban .kanban-card-wrapper.ghost-card .kanban-card {
  display: none;
}
.kanban .kanban-card-wrapper.ghost-card .kanban-card-placeholder {
  background-color: #ccc;
  min-height: 32px;
  border-radius: 3px;
  margin-top: 10px;
}
.kanban .kanban-card-wrapper.chosen-card .kanban-card {
  transform: rotate(5deg);
}
.kanban .kanban-card {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  padding: 6px 6px 6px 8px;
  margin-top: 10px;
}
.kanban .kanban-card.compose-card {
  background-color: transparent;
  box-shadow: none;
  color: #8D99A6;
}
.kanban .kanban-card.compose-card:hover {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  color: #36414C;
  cursor: pointer;
}
.kanban .kanban-card.compose-card .octicon-plus {
  top: -1px;
  font-size: 1em;
  margin-right: 5px;
  position: relative;
}
.kanban form.compose-card-form .kanban-card {
  margin-bottom: 10px;
}
.kanban form.compose-card-form .kanban-card textarea {
  resize: none;
  border: none;
  background: none;
  overflow: hidden;
  word-wrap: break-word;
  width: 100%;
}
.kanban form.compose-card-form .kanban-card textarea:focus {
  outline: none;
}
