.module-item {
  margin: 0px;
  padding: 7px;
  border-bottom: 1px solid #d1d8dd;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}
.module-item h4 {
  display: inline-block;
}
.module-item .module-item-description {
  margin-top: -5px;
}
.module-item .badge {
  margin-top: -2px;
  margin-left: 3px;
}
.module-item:hover,
.module-item:focus {
  background-color: #F7FAFC;
}
.module-item:last-child {
  border: none;
}
.module-sidebar-item.active .icon-chevron-right {
  margin-top: 2px;
  display: block !important;
}
.module-item-progress {
  margin-bottom: 10px;
  height: 17px;
}
.module-item-progress-total {
  height: 7px;
  background-color: #999999;
  width: 0px;
}
.module-item-progress-open {
  height: 7px;
  background-color: red;
  width: 0px;
}
@media (max-width: 767px) {
  body[data-route^="Module"] .page-title {
    width: 100%;
  }
  body[data-route^="Module"] .page-actions {
    display: none !important;
  }
  body[data-route^="Module"] .layout-main-section {
    border-bottom: 0px;
  }
}
