html {
  min-height: 100%;
}
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  margin: 0px;
  padding: 0px !important;
}
html,
body {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */
}
.offcanvas-main-section-overlay {
  display: none;
  cursor: pointer;
  opacity: 0.5;
}
.sidebar-padding {
  padding: 12px 14px;
}
.offcanvas .sidebar .sidebar-menu > li > a,
.offcanvas .sidebar .dropdown-menu > li > a {
  padding: 12px 14px;
  display: block;
  whitespace: nowrap;
  transition: 0.2s;
  text-decoration: none !important;
}
.offcanvas .sidebar .dropdown-menu {
  padding: 0px;
  font-size: inherit;
}
.offcanvas .sidebar .dropdown-menu > li > a {
  padding-left: 28px;
}
.offcanvas .sidebar .divider {
  height: 1px;
  overflow: hidden;
  background-color: #EBEFF2;
  width: 100%;
  margin: 0px;
}
.offcanvas .sidebar .badge {
  right: 15px !important;
  top: 11px !important;
}
.offcanvas .sidebar .sidebar-menu > li > a:hover,
.offcanvas .sidebar .dropdown-menu > li > a:hover,
.offcanvas .sidebar .sidebar-menu > li > a:focus,
.offcanvas .sidebar .dropdown-menu > li > a:focus,
.offcanvas .sidebar .sidebar-menu > li > a:active,
.offcanvas .sidebar .dropdown-menu > li > a:active {
  background-color: #F0F4F7;
}
.hide-form-sidebar .form-sidebar {
  display: none !important;
}
body[data-route=""] .main-menu .desk-sidebar,
body[data-route="desk"] .main-menu .desk-sidebar {
  display: block !important;
}
body[data-route=""] .main-menu .form-sidebar,
body[data-route="desk"] .main-menu .form-sidebar {
  display: none !important;
}
body[data-route^="List"] .main-menu .list-sidebar {
  display: block !important;
}
body[data-route^="List"] .main-menu .form-sidebar {
  display: none !important;
}
body[data-route^="Module"] .main-menu .module-sidebar {
  display: block !important;
}
body[data-route^="Module"] .main-menu .form-sidebar {
  display: none !important;
}
.layout-side-section {
  font-size: 12px;
  padding-right: 0px;
}
.layout-side-section .divider {
  display: none !important;
}
.layout-side-section .sidebar-menu > li > a {
  display: inline-block;
}
.layout-side-section .sidebar-menu {
  margin: 30px 0px;
}
.layout-side-section .sidebar-menu > li > a:hover,
.layout-side-section .sidebar-menu > li > a:focus,
.layout-side-section .sidebar-menu > li > a:active {
  text-decoration: underline;
}
.sidebar-menu .badge {
  position: absolute;
  font-weight: normal;
  right: 0px;
  top: 0px;
  padding-bottom: 4px;
}
.sidebar-menu .octicon {
  font-size: 12px;
}
.sidebar-menu h6,
.sidebar-menu .h6 {
  text-transform: uppercase;
  color: #8D99A6;
  font-size: 10px;
  margin-top: 0px;
}
.sidebar-menu li {
  position: relative;
  margin-bottom: 7px;
}
.form-sidebar .form-tags .tag-area {
  margin-top: -3px;
  margin-left: -4px;
}
.form-sidebar .form-tags input {
  font-size: 12px !important;
  color: #36414C !important;
  font-style: italic;
}
.form-sidebar .form-tags .tagit-new {
  clear: both;
  margin-top: 2px;
  margin-bottom: -1px;
}
.form-sidebar a.close {
  position: absolute;
  right: 5px;
}
.form-sidebar .attachment-row a.close {
  margin-top: -5px;
}
.form-sidebar .form-shared .share-doc-btn,
.form-sidebar .form-viewers .share-doc-btn {
  cursor: pointer;
}
.form-sidebar .form-shared .octicon,
.form-sidebar .form-viewers .octicon {
  position: relative;
  top: 2px;
  left: 7px;
}
.form-sidebar .form-shared .avatar,
.form-sidebar .form-viewers .avatar {
  margin-top: 5px;
}
.form-sidebar .form-shared .shared-with-everyone,
.form-sidebar .form-viewers .shared-with-everyone {
  border-style: solid;
  border-color: #F0F4F7;
  background-color: #F0F4F7;
}
.form-sidebar .form-shared .shared-with-everyone .octicon,
.form-sidebar .form-viewers .shared-with-everyone .octicon {
  color: #36414C !important;
}
.form-sidebar .form-shared .share-doc-btn:hover,
.form-sidebar .form-shared .share-doc-btn:focus,
.form-sidebar .form-shared .share-doc-btn:active {
  background-color: #F0F4F7;
}
.form-sidebar .form-shared .share-doc-btn:hover .octicon-plus,
.form-sidebar .form-shared .share-doc-btn:focus .octicon-plus,
.form-sidebar .form-shared .share-doc-btn:active .octicon-plus {
  color: #36414C !important;
}
.sidebar-left .form-sidebar .form-tags,
.sidebar-left .form-sidebar .assignment-row,
.sidebar-left .form-sidebar .form-shared,
.sidebar-left .form-sidebar .modified-by,
.sidebar-left .form-sidebar .created-by,
.sidebar-left .form-sidebar .tags-label,
.sidebar-left .form-sidebar .shared-with-label,
.sidebar-left .form-sidebar .form-viewers,
.sidebar-left .form-sidebar .viewers-label {
  padding: 12px 14px;
}
.sidebar-left .form-sidebar .assigned-to-label,
.sidebar-left .form-sidebar .attachments-label,
.sidebar-left .form-sidebar .tags-label,
.sidebar-left .form-sidebar .shared-with-label,
.sidebar-left .form-sidebar .viewers-label {
  padding: 12px 14px;
  margin-bottom: 0px;
}
.sidebar-left .form-sidebar .assigned-to-label,
.sidebar-left .form-sidebar .tags-label,
.sidebar-left .form-sidebar .attachments-label.has-attachments,
.sidebar-left .form-sidebar .shared-with-label,
.sidebar-left .form-sidebar .viewers-label {
  padding-bottom: 0px;
}
.sidebar-left .form-sidebar a.close {
  right: 5px;
}
.sidebar-left .form-sidebar .assignment-row a.close {
  margin-top: -12px;
}
.layout-side-section .form-sidebar .modified-by,
.layout-side-section .form-sidebar .created-by {
  margin: 30px 0px;
}
.layout-side-section .list-sidebar {
  margin-top: -15px;
}
.sidebar-left .list-sidebar .stat-label,
.sidebar-left .list-sidebar .stat-no-records {
  padding: 12px 14px;
}
.sidebar-left .list-sidebar .stat-label {
  margin-bottom: -10px;
}
.list-sidebar .list-tag-preview {
  padding: 5px !important;
  margin-left: 5px;
  display: inline !important;
}
.list-sidebar .list-tag-preview:hover,
a.close:hover,
.list-sidebar .list-tag-preview:active,
a.close:active,
.list-sidebar .list-tag-preview:focus,
a.close:focus {
  border-color: transparent !important;
}
.layout-side-section .module-sidebar-nav {
  margin-top: 15px;
}
