.slick-header-column,
.slick-cell {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.slick-wrapper,
.slick-header {
  border: none !important;
}
.slick-headerrow {
  border: none;
  border-bottom: 1px solid #d1d8dd;
}
.slick-headerrow-column {
  background-color: #F7FAFC !important;
  text-overflow: clip;
}
.slick-headerrow-column input {
  border: 1px solid #d1d8dd;
  border-radius: 3px;
  font-size: 12px;
  padding: 0px 3px !important;
  margin: 0;
  width: 100%;
  min-height: 20px;
}
.slick-cell,
.slick-headerrow-column {
  font-size: 12px;
  border-color: transparent #d1d8dd #d1d8dd transparent !important;
  border-style: solid;
  color: inherit !important;
  margin-top: -1px;
}
.slick-header-column,
.slick-header-columns {
  font-size: 12px;
  font-weight: bold;
  background-color: #F7FAFC;
  border-color: #d1d8dd !important;
  color: #8D99A6 !important;
}
.slick-header-column:hover,
.slick-header-column-active {
  background-image: none;
  background-color: #d9e7f1;
}
.slick-row.odd .slick-cell {
  background-color: #fafbfc;
}
