.stored-filters li.filter {
	display: flex;
	flex-direction: row;
}

.stored-filters li.filter .filter-link {
	flex: 1 1;
}

.stored-filters li.filter .filter-link .glyphicon {
	margin-right: .5em;
}

.stored-filters .actions {
	display: flex;
	flex-direction: row;
}

.stored-filters .actions > input {
	flex: 1 1;
}

@media (max-width: 991px) {
	.layout-side-section .overlay-sidebar .stored-filters > li.filter,
	.layout-side-section .overlay-sidebar .stored-filters > li.options {
		padding: 0 15px !important;
	}
}
