.tree {
  padding: 15px;
}
.tree li {
  list-style: none;
  margin: 2px 0px;
}
ul.tree-children {
  padding-left: 20px;
}
.tree-link {
  cursor: pointer;
}
.tree-link.active i {
  color: #5e64ff !important;
}
.tree-hover {
  background-color: #F7FAFC;
  min-height: 20px;
  border: 1px solid #d1d8dd;
}
.tree-node-toolbar {
  display: inline-block;
  padding: 0px 5px;
  margin-left: 15px;
  margin-bottom: -4px;
}
@media (max-width: 767px) {
  ul.tree-children {
    padding-left: 10px;
  }
}
