.tree li { 
	list-style: none; 
}
.tree ul { 
}
.tree-link { 
	cursor: pointer; 
}
.tree-hover { 
	background-color: #eee; 
	min-height: 20px; 
	border: 1px solid #ddd; 
}
.tree-node-toolbar {
	display: inline-block;
	padding: 0px 5px;
	margin-left: 15px;
	border-radius: 3px;
	background-color: #ddd;
}
.tree-toolbar-item {
	display: inline-block;
	padding: 0px 5px;
	padding-top: 1px;
	border-right: 1px solid #aaa;
	font-size: 90%;
}
.tree-toolbar-item:last-child {
	border-right: 0px;
}