.tree {
  padding: 15px;
}
.tree li {
  list-style: none;
}
.tree-link {
  cursor: pointer;
}
.tree-hover {
  background-color: #f7fafc;
  min-height: 20px;
  border: 1px solid #d1d8dd;
}
.tree-node-toolbar {
  display: inline-block;
  padding: 0px 5px;
  margin-left: 15px;
  border-radius: 3px;
  background-color: #f0f4f7;
}
.tree-toolbar-item {
  display: inline-block;
  padding: 0px 5px;
  padding-top: 1px;
  border-right: 1px solid #d1d8dd;
  font-size: 90%;
}
.tree-toolbar-item:last-child {
  border-right: 0px;
}
