@media (min-width: 768px) {
  .login-wrapper {
    border-right: 1px solid #f2f2f2;
  }
}
a {
  cursor: pointer;
}
a,
a:hover,
a:active,
a:focus {
  outline: 0;
}
img {
  max-width: 100%;
}
.content {
  margin-bottom: 22px;
}
.banner {
  margin-top: 20px;
  padding: 0px 20px;
}
.missing-image {
  background-color: #f7fafc;
  padding: 40px;
  width: 112px;
  font-size: 32px;
  color: #8d99a6;
}
.no-border {
  border: none !important;
}
.light-bg {
  background-color: #fafbfc;
}
.panel-bg {
  background-color: #f7fafc;
}
.navbar-bg {
  background-color: #f5f7fa;
}
.social-icons i {
  font-size: 120%;
}
.social-icons a:hover {
  text-decoration: none;
}
.social-icons a i:hover {
  text-decoration: none;
}
.social-icons i {
  margin-left: 5px;
}
.web-footer {
  border-top: 1px solid #d1d8dd;
  padding: 20px 0px;
  min-height: 140px;
}
.avatar {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  background-color: #f0f4f7;
  border: 1px solid #d1d8dd;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.avatar-small {
  margin-right: 5px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
}
.avatar-small img {
  width: 30px;
}
.avatar-medium {
  margin-right: 5px;
  width: 48px;
  height: 48px;
  border-radius: 48px;
  -moz-border-radius: 48px;
  -webkit-border-radius: 48px;
}
.avatar-medium img {
  width: 48px;
}
.avatar-large {
  margin-right: 10px;
  width: 72px;
  height: 72px;
  border-radius: 72px;
  -moz-border-radius: 72px;
  -webkit-border-radius: 72px;
}
.avatar-large img {
  width: 72px;
}
.avatar-x-large {
  margin-right: 10px;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
}
.avatar-x-large img {
  width: 100px;
}
.carousel-control .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
}
.hidden-xs-inline,
.hidden-xs-inline-block {
  display: none;
}
@media (min-width: 768px) {
  .hidden-xs-inline {
    display: inline;
  }
  .hidden-xs-inline-block {
    display: inline-block;
  }
}
.visible-xs-inline {
  display: inline;
}
.visible-xs-inline-block {
  display: inline-block;
}
@media (min-width: 768px) {
  .visible-xs-inline,
  .visible-xs-inline-block {
    display: none;
  }
}
/* the element that this class is applied to, should have a max width for this to work*/
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
.border-bottom {
  border-bottom: 1px solid #d1d8dd;
}
.navbar {
  box-shadow: none;
  border-radius: 0px;
  margin-bottom: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d1d8dd;
}
.navbar-brand {
  padding-right: 30px;
  max-width: 80%;
  min-height: 20px;
  height: auto;
}
.navbar a.active {
  font-weight: bold;
}
@media (min-width: 768px) {
  .navbar-brand {
    max-width: 300px;
  }
}
.panel-container {
  margin-top: 35px;
}
.panel-heading,
.panel-body {
  padding-left: 15px;
}
fieldset {
  margin-bottom: 20px;
}
.message-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1040;
  background-color: #fff;
  display: table;
}
.message-overlay .content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.web-page-editable {
  margin: -15px;
  padding: 15px;
  border-radius: 4px;
}
.slide-image {
  width: 100%;
}
.page-container {
  padding: 0px;
}
.page-content {
  padding-bottom: 30px;
}
div[data-html-block="content"] {
  padding-right: 15px;
}
.page-content hr {
  margin-left: -15px;
  margin-right: -30px;
}
.page-content {
  border-right: 1px solid #d1d8dd;
}
.page-sidebar {
  border-left: 1px solid #d1d8dd;
  padding-left: 15px;
}
.sidebar-item {
  margin: 0px;
  padding: 5px 0px;
  border: none;
  color: #8d99a6;
  font-size: 12px;
}
.sidebar-item:first-child {
  padding-top: 10px;
}
.sidebar-item:last-child {
  padding-bottom: 10px;
}
.sidebar-item a {
  color: #8d99a6;
}
.sidebar-item a.active {
  color: #000;
  font-weight: bold;
}
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
.page-footer {
  margin: 20px 0px 0px;
  padding: 15px 0px;
  border-top: 1px solid #eee;
}
/* website group */
.view-selector {
  margin-bottom: 15px;
}
/* post and post list */
.web-list-item {
  padding: 15px 0px;
  border-bottom: 1px solid #d1d8dd;
  margin-right: -30px;
  padding-right: 30px;
}
.web-list-item:last-child {
  border-bottom: none;
}
.web-list-item h3 {
  margin: 0 0 5px 0;
}
.web-list-item h3 a {
  color: inherit !important;
  text-decoration: none;
}
textarea {
  resize: vertical;
}
.user-profile {
  min-height: 50px;
  min-width: 70px;
}
.visible-xs {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: inline-block !important;
  }
}
.nav-tabs > li > a {
  padding: 7px 10px;
}
.btn-more {
  margin-top: 15px;
}
.post-content img {
  margin: 10px 0px;
}
.assigned-label,
.event-label {
  display: inline-block;
  padding: .4em .6em .4em;
  margin-bottom: 7px;
}
a.no-decoration {
  text-decoration: none;
  color: inherit;
}
a.active {
  pointer-events: none;
  cursor: default;
}
:target {
  background-color: #ffa;
}
.page-breadcrumbs .breadcrumb {
  padding: 0px;
  background-color: transparent;
  border-radius: 0px;
  font-size: 12px;
}
.breadcrumb a {
  color: inherit;
}
.breadcrumb > .active {
  color: #8d99a6;
}
@media (max-width: 767px) {
  .page-sidebar {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
  }
  .page-sidebar .sidebar-item {
    margin-left: 17px;
  }
}
.post:last-child {
  border-bottom: none;
}
/* end - needs review */
/* docs */
.docs-attr-name {
  font-size: 120%;
}
.docs-attr-desc {
  padding-left: 30px;
}
a.grey,
.nav-pills a,
.control-value a,
.data-row a {
  color: inherit;
  border-bottom: 1px solid transparent;
  margin-bottom: 0.4em;
}
a.grey:hover,
.nav-pills a:hover,
.control-value a:hover,
.data-row a:hover {
  border-bottom: 1px solid #212a33;
  color: #212a33;
}
.text-muted {
  color: #8d99a6 !important;
}
.text-extra-muted {
  color: #d1d8dd !important;
}
a.text-muted,
a.text-extra-muted {
  border-bottom: 1px solid transparent;
}
a.text-muted:hover,
a.text-muted:focus,
a.text-extra-muted:hover,
a.text-extra-muted:focus {
  color: inherit;
  border-bottom: 1px solid #8d99a6;
}
