{% extends base_template %}

{% block content %}
<div class="container content">
	{# title, breadcrumbs, table of contents #}
	{% block pre_content -%}
	{% if show_title %}<h1>{{ title }}</h1>{% endif %}
	{% if show_breadcrumbs and breadcrumbs -%}
	<ul class="breadcrumb">
		{% for b in breadcrumbs -%}
		<li><a href="{{ b.page_name }}">{{ b.title }}</a></li>
		{%- endfor %}
		<li class="active">{{ title }}</li>
	</ul>
	{%- endif %}
	{%- endblock %}
	
	{% include "website/doctype/website_slideshow/templates/includes/slideshow.html" %}
	<div class="web-page-content" id="{{ name }}">
	{{ main_section or "" }}
	</div>
	
	{# toc, parent, child, next sibling #}
	{% block post_content -%}
	{% if show_toc and toc_list -%}
	<div class="well">
		<h4>Contents</h4>
		<ol>
			{% for t in toc_list -%}
			<li><a href="{{ t.page_name }}">{{ t.title }}</a></li>
			{%- endfor %}
		</ol>
	</div>
	{%- endif %}
	{% if links and links.get("parent") -%}
	<div class="btn-group pull-right" style="margin: 15px 0px;">
		<a class='btn btn-default' href="{{ links.parent.page_name }}">
			<i class="icon-arrow-up"></i> {{ links.parent.title }}</a>
		{% if links.get("next") -%}
		<a class='btn btn-default' href="{{ links.next.page_name }}">
			<i class="icon-arrow-right"></i> {{ links.next.title }}</a>
		{%- endif -%}
		{% if links.get("child") -%}
		<a class='btn btn-default' href="{{ links.child.page_name }}">
			<i class="icon-arrow-down"></i> {{ links.child.title }}</a>
		{%- endif -%}
	</div>
	<div class="clearfix"></div>
	{%- endif %}
	{% if enable_comments -%}
	<hr>
	<h3>Discuss</h3>
	{% include 'website/templates/includes/comments.html' %}
	{%- endif %}
	{%- endblock %}
</div>
<script>
$(function() {
	if(window.logged_in && getCookie("system_user")==="yes") {
		wn.has_permission("Web Page", "{{ name }}", "write", function(r) {
			wn.require("js/wn/website/editable.js");
			wn.make_editable($(".web-page-content"), "Web Page", "{{ name }}", "main_section");
		});
	}
});
</script>
{% endblock %}
