<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{ subject or "" }}</title>
</head>
<body style="line-height: 1.6;">
<!-- body -->
<div style="font-family: Helvetica, Arial, sans-serif; font-size: 14px;">{{ content }}</div>

<!-- footer -->
<div style="margin-top: 30px; font-family: Helvetica, Arial, sans-serif; font-size: 11px;">
	{{ footer }}</div>

<!-- /footer -->
<div class="print-html">{{ print_html or "" }}</div>
</body>
</html>
