<div class="website-list-filters">
	<div class="row">
		<div class="col-xs-6">
			<form class="form-inline form-search" action="/{{ pathname }}">
				<div class="input-group">
					<input class="form-control" doctype="text" name="txt"
						placeholder="Search..." value="{{ txt or '' }}">
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit">
							<i class="fa fa-search"></i></button>
					</span>
				</div>
			</form>
		</div>
	</div>
	{% if txt %}
	<div>
		<div class="filter-message small text-muted">Results filtered by <b>{{ txt }}</b>.
			<a href="/{{ pathname }}" class="text-muted">( <span class="close-inline">&times;</span> {{ _("clear") }} )</a></div>
	</div>
	{% endif %}
</div>
