#body_div {
	position: relative;
}

.content {
	width: 900px;
	position: absolute;
	left: 1000px;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;	
	transition:all 0.5s ease-in-out;
}