.app-icon {
	border-radius: 5px;
	overflow: hidden;
	padding: 20px;
	display: inline-block;
	margin: auto;
	text-align: center;
}


.app-icon i {
	font-size: 30px;
	min-width: 30px;
	color: #f8f8f8;
	display: inline-block;
}

.app-icon svg, .app-icon img {
	height: 30px;
	width: 30px;
}

.app-icon path {
	fill: #f8f8f8;
}

.app-icon-small {
	padding: 12px;
}

.app-icon-img.app-icon-small {
	padding: 0px;
	height: 54px;
	width: 54px;
}

.app-icon-img {
	padding: 0px;
	height: 70px;
	width: 70px;
}

.app-icon-img img {
	width: 100%;
	height: 100%;
}


@media (max-width: 768px) {
	.app-icon {
		padding: 12px;
	}
}
