<div class="media timeline-item" data-name="{%= data.name %}">
	<span class="pull-left avatar avatar-medium">
		<img class="media-object" src="{%= data.image %}">
	</span>
	<div class="pull-left media-body" style="max-width: calc(100% - 41px); padding-right: 0px;">
		<div>
			<div class="pull-right">
				<span class="small text-muted">
					{%= data.delete %}
				</span>
			</div>
			{% if(data.doctype=="Communication" || data.comment_type=="Comment") { %}
				<h6>
                    <i class="{%= data.icon %} icon-fixed-width"></i>
                    <span title="{%= data.comment_by %}">{%= data.fullname %}</span>
                    <span class="text-muted" style="font-weight: normal;">
                        &ndash; {%= data.comment_on %}</span>
                    {% if(data.doctype=="Communication") { %}
						{% if (frappe.model.can_read(\'Communication\')) { %}
						<a href="#Form/{%= data.doctype %}/{%= data.name %}"
                            class="text-muted">
						{% } %}

							{% if (data.delivery_status) {
								if (in_list(["Sent", "Opened", "Clicked"], data.delivery_status)) {
									var indicator_class = "green";
								} else {
									var indicator_class = "red";
								}
							%}
							<span class="text-muted">&ndash;</span>
							<span class="indicator-right {%= indicator_class %} delivery-status-indicator"
								title="{%= data.delivery_status %}">
								{%= data.delivery_status %}</span>

							{% } else { %}
								{% if (frappe.model.can_read(\'Communication\')) { %}
								<span class="text-muted">&ndash;</span>
								{%= __("Details") %}
								{% } %}
							{% } %}

						{% if (frappe.model.can_read(\'Communication\')) { %}
						</a>
						{% } %}

						<a class="text-muted reply-link pull-right"
                            data-name="{%= data.name %}">{%= __("Reply") %}</a>
                    {% } %}
                </h6>
				<div class="reply">
        			<div>
        				{%= data.comment_html %}
        			</div>
                </div>
            {% } else if(in_list(["Assignment Completed", "Assigned", "Shared", "Unshared"], data.comment_type)) { %}
                <h6>
                    <i class="{%= data.icon %} icon-fixed-width"></i>
						{% if(data.reference_doctype && data.reference_name) { %}
						<a href="#Form/{%= data.reference_doctype %}/{%= data.reference_name %}">
						{% } %}
	                        {%= data.comment %}
						{% if(data.reference_doctype && data.reference_name) { %}
						</a>
						{% } %}
                        <span class="text-muted" style="font-weight: normal;">
                        &ndash; {%= data.comment_on %}</span>
                </h6>
            {% } else { %}
                <h6>
                    <i class="{%= data.icon %} icon-fixed-width"></i>
                    <span title="{%= data.comment_by %}">{%= data.fullname %}</span> {%= data.comment %}
                        <span class="text-muted" style="font-weight: normal;">
                        &ndash; {%= data.comment_on %}</span>
                </h6>
            {% } %}
			{% if(data.attachments && data.attachments.length) { %}
			<div style="margin: 10px 0px">
				{% $.each(data.attachments, function(i, a) { %}
				<div class="text-ellipsis">
					<a href="{%= a %}" class="text-muted small" target="_blank">
						<i class="icon-paperclip"></i>
						{%= a.split("/").slice(-1)[0] %}
					</a>
				</div>
				{% }); %}
			</div>
			{% } %}
		</div>
	</div>
</div>
