{% if not no_breadcrumbs and parents %}
<div class="container mt-3">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
			{%- set parents = parents[-3:] %}
			{% for parent in parents %}
				<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="breadcrumb-item">
					<a itemprop="item" href="{{ url_prefix }}{{ parent.route | abs_url }}" itemprop="url">
						<span itemprop="name">{{ parent.title or parent.label or parent.name or "" }}</span>
						<meta itemprop="position" content="{{ loop.index }}" />
					</a>
				</li>
			{% endfor %}
			<li class="breadcrumb-item active" aria-current="page">
				{{ title or "" }}
			</li>
		</ol>
	</nav>
</div>
{% endif %}
