<div class="page-container" id="page-{{ name or page_name }}" data-path="{{ pathname }}"
    {% if page_or_generator=="Generator" %}data-doctype="{{ doctype }}"{% endif %}>
	<div class="page-content">
    	<div class="page-content-wrapper">
    		<div class="page-header-block" data-html-block="header">
    			{%- if header is defined -%}{% if header %}{{ header }}{% endif %}{%- endif -%}
    		</div>
    		<div class="page-breadcrumbs" data-html-block="breadcrumbs">
    			{%- if breadcrumbs is defined -%}{{ breadcrumbs }}{%- endif -%}
    		</div>
    	    <div class="page-content-block">
    		{%- block content -%}{{ content or "" }}{%- endblock -%}
    	    </div>
    	</div>
	</div>
</div>
