{% macro inner() %}
	<div class="page-content-wrapper">
		<div class="page-header-block" data-html-block="header">
			{%- if header is defined -%}{% if header %}{{ header }}{% endif %}{%- endif -%}
		</div>
		<div class="page-breadcrumbs" data-html-block="breadcrumbs">
			{%- if breadcrumbs is defined -%}{{ breadcrumbs }}{%- endif -%}
		</div>
	    <div class="page-content-block">
		{%- block content -%}{{ content or "" }}{%- endblock -%}
	    </div>
	</div>
{% endmacro %}

<div class="page-container" id="page-{{ name or page_name }}" data-path="{{ pathname }}">
	<div class="row">
        {% if has_sidebar %}
		<div class="col-sm-10 col-xs-12 page-content">
            {{ inner() }}
		</div>
		<div class="col-sm-2 hidden-xs page-sidebar">
			{%- block sidebar -%}{{ sidebar or "" }}{%- endblock -%}
		</div>
        {% else %}
		<div class="col-sm-12 page-content no-border">
            {{ inner() }}
		</div>
        {% endif %}
	</div>
</div>
