<div class="item-search text-muted pull-right">
	<input type="text" class="item-search-input"
		placeholder="Search" autocomplete="off">
	<i class="octicon octicon-search"></i>
</div>
<div class="clearfix pull-right" style="width:300px;">
	<h4 class="item-search-results pull-left"></h4>
	<p class="pull-right">
		<a style="display: none; padding-left:5px;" href="javascript:history.back();" class="octicon octicon-x text-extra-muted clear" title="Clear Search" ></a>
	</p>
</div>

<script>
frappe.ready(function() {
	if(get_url_arg("search")){
	var txt = get_url_arg("search");
	$(".item-search-results").html("Search results for : " + txt);
	$(".item-search").toggle(false);
	$(".clear").toggle(true);
	}
	var thread = null;
	function findResult(t) {
		if (window.location.href.indexOf("?") > -1) 
		{
			window.location.href=document.URL + "&search=" + t;
		}
		else
		{
			window.location.href=document.URL + "?search=" + t;
		}
	}

	$(".item-search-input").keyup(function() {
		clearTimeout(thread);
		var $this = $(this); thread = setTimeout(function(){findResult($this.val())}, 1000);
	});
	$(".form-search").on("submit", function() { return false; });
});
</script>
