<div class="sidebar-exists"></div>
{% if children -%}
{%- for child in children -%}
<div class="sidebar-item">
	<i class="icon-fixed-width
	{% if (child.lft != None) and (child.rgt - child.lft != 1) and (not loop.first) %}icon-chevron-right{% endif %}
	{% if parents and child.name == parents[-1].name or (loop.first and child.name==pathname) %}icon-chevron-down{% endif %}"
	style="margin-left: -17px; color: #ddd;"></i>
	<a href="{{ child.name }}" class="no-decoration {% if child.name == pathname %}active{% endif %}">
		{{ child.page_title }}
		{% if not child.public_read %}
		(<i class="icon-fixed-width icon-lock"></i>)
		{% endif %}
	</a>
</div>
{%- endfor -%}
{%- endif %}
