body {	
	margin: 0px;
	padding-top: 50px;
	padding-bottom: 50px;
}

a {
	cursor: pointer;
}

a.disabled, a.disabled:hover {
	color: #888;
	cursor: default;
	text-decoration: none;
}

.appframe {
	background-color: #fff;
	border-radius: 5px;
	border: 3px solid #c7c7c7;
	overflow: hidden;
}

.layout-main {
	padding-bottom: 10px;
}

.text-small {
	font-size: 80%;
}

/* freeze */

div#freeze {
	position: fixed;
	display: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	background-color: #aaa;
	opacity: 0.6;
	z-index: 1;
	text-align: center;
}

/* listing */

.show_filters {
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #d7d7d7;
}

.list-row {
	padding: 5px 15px;
	margin: 0px -15px;
	border-bottom: 1px solid #d7d7d7;
}

.side-panel {
	border-bottom: 1px solid #d7d7d7;
	margin: 0px -15px;
	padding: 5px 15px;
}

/* appframe header */

.appframe-header {
	margin-bottom: 20px;
	border-bottom: 3px solid #d7d7d7;
	/*background-color: #f7f7f7;*/
	/*box-shadow: 0px 2px 4px rgba(0,0,0,0.2);*/
}

.appframe-toolbar {
	margin: 0px -15px;
	padding: 7px 15px;
	padding-bottom: 0px;
	border-bottom: 1px solid #e7e7e7;
}

.appframe-title {
	padding-bottom: 10px;
	border-bottom: 1px solid #e7e7e7;
}

.appframe-header .status-bar {
	text-align: right;
}

/* module */

.alert-badge {
	padding-right: 15px;
	margin: 7px 0px;
}

.alert-badge a, .alert-badge a:hover {
	
}

.alert-badge .badge {
	margin-top: 3px;
}

.icon-in-circle {
	color: #b7b7b7; 
	background-color: white;
	border-radius:50%; 
	text-align: center; 
	width: 20px; 
	height: 20px; 
	font-size: 20px; 
	display: inline-block;	
}

.form-layout {
	/*margin-top: -15px;*/
}

.form-headline {
	margin-bottom: 10px;
	font-size: 130%;
}

.form-dashboard {
	display: none;
	border-bottom: 1px solid #e7e7e7;
}

.help ol {
	padding-left: 19px;
}

.field_description_top {
	margin-bottom: 3px;
}

.link-field-btn a, .link-field-btn a:hover {
	color: #888;
	text-decoration: none;
	margin-left: 3px;
}

/* list */

.doclist-row {
	padding-top: 5px; 
	padding-bottom: 0px;
	margin-bottom: 5px; 
	border-bottom: "1px solid #eee";
}

.doclist-row .col {
	padding-left: 7px;
	padding-right: 7px;
}

.doclist-row .col:first-child {
	padding-left: 15px;
}

.doclist-row .col:last-child {
	padding-right: 15px;
}

/* module */

.module-item-progress {
	margin-bottom: 10px;
	height: 17px;
}

.module-item-progress-total {
	height: 7px;
	background-color: #999999;
	width: 0px;
}

.module-item-progress-open {
	height: 7px;
	background-color: red;
	width: 0px;
}


/* fixed navbar in appframe */

.appframe .navbar {
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 0px;
	border-radius: 0px;
	border-bottom: 1px solid #e7e7e7;
	min-height: 51px;
}

.appframe .navbar-form select,
.appframe .navbar-form input,
.appframe .navbar-form button,
.appframe .navbar-form label {
	margin-bottom: 5px;
}

.appframe .navbar-form {
	margin-bottom: 2px;
	width: 100%;
}

.appframe .mini-bar {
	float: right;
	margin-top: -10px;
}

.appframe .mini-bar ul {
	list-style: none;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.appframe .mini-bar li {
	display: inline-block;
	padding-left: 4px;
	padding-right: 4px;
}

.appframe .mini-bar li:last-child {
	padding-right: 0px;
}

.appframe .mini-bar i {
	margin-top: 4px;
	margin-right: 4px;
	color: #888;
	cursor: pointer;
}

.appframe .mini-bar i:hover {
	color: #444;
}

.appframe .mini-bar i:active {
	color: #5bc0de;
}

.appframe .mini-bar .appframe-mini-bar-active i {
	font-weight: bold;
	color: orange;
}

.appframe .title-icon {
	cursor: pointer;
	display: inline-block;
	float:left;
	padding: 5px;
	margin-right: 10px;
	border-radius: 5px;
	margin-top: -10px;
	font-size: 28px;
	text-align: center;
}

.appframe .title-text {
	display: inline-block;
	float:left;
	margin-top: -10px;
}

.appframe .sub-title-area {
	margin-top: -24px;
	margin-left: 42px;
	font-size: 100%;
}

.appframe .title-icon:active {
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.3);
			box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.3);

}


/* home icon in main nav */

.navbar-icon-home {
	vertical-align: middle;
}

.navbar-icon-home:hover,
.navbar-icon-home:focus,
.navbar-icon-home:active,
.navbar-icon-home-hover{
	opacity:1;
	Filter:alpha(opacity=100); /* For IE8 and earlier */
}

.navbar .brand {
	max-height: 15px;
}

.navbar #spinner {
	display: block;
	float: right;
	width: 20px;
	margin-bottom: -5px;
	margin-top: 14px;
	visibility: hidden;
}

.navbar-new-comments {
	margin: -3px 0px;
	padding: 2px 5px;
	min-width: 20px;
	text-align: center;
	display: inline-block;
	border-radius: 2px;
	color: #999999;
	background-color: #333131;
}

.navbar-new-comments:hover,
.navbar-new-comments:active,
.navbar-new-comments:focus {
	color: #fff;
}

.navbar-new-comments-true {
	color: #fff;
	background-color: #e74c3c;
}


.btn [class^="icon-"], .nav [class^="icon-"], .btn [class*=" icon-"], .nav [class*=" icon-"] {
	display: inline-block;
}

.badge-important {
	background-color: #e74c3c;
}

/* alert */


#alert-container {
	position: fixed; 
	bottom: 8px; 
	right: 8px;
	z-index: 10;
}

#alert-container .alert {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

		overflow: hidden;
		max-width: 400px;
		text-overflow: ellipsis;
		white-space: nowrap;
}

/* avatar */

.avatar {
	display: inline-block; 
	vertical-align: middle;
	border-radius: 50%;
	overflow: hidden;
	background-color: #ddd;
	border: 1px solid #eee;
}

.avatar img {
	width: 100%;
	height: auto;
}

.avatar-small {
	margin-right: 5px;
	width: 30px;
	height: 30px;
}

.avatar-large {
	margin-right: 10px;
	width: 72px;
	height: 72px;
}

/* slickgrid */

.slick-cell { 
	font-size: 12px; 
}

.slick-header-column, .slick-cell {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

.slick-headerrow-column {
	background: #87ceeb;
	text-overflow: clip;
}

.slick-headerrow-column input {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 20px;
}

.missing-image {
	background-color: #eee;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 140px;
	height: 140px;
	font-size: 32px;
	color: #888;
}
/* form */

.wn-editor img {
	max-width: 100%;
}

textarea.form-control {
	height: 120px;
}

/* form grid */

.grid-heading-row {
	padding: 8px;
	border-bottom: 1px solid #dddddd;
}

.rows .grid-row .divider {
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #dddddd;
}

.rows .grid-row .data-row, .rows .grid-row .panel-heading {
	cursor: pointer;
}

.grid-row .panel {
	background-color: #fffff8;
}

/* form footer */

.form-footer {
	/*background-color: #f3f3f3;*/
	margin-top: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-top: 3px solid #d7d7d7;
	color: #888;
	/*box-shadow: 0px -1px 6px rgba(0,0,0,0.3);*/
}

.like-disabled-input {
	background-color: #f8f8f8;
	padding: 6px;
	margin-bottom: 7px;
	border-radius: 3px;	
	min-height: 30px;
}

/* jquery ui */

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
	display: inline;
}

.hidden-xs-inline, .hidden-xs-inline-block {
	display: none;
}

@media (min-width: 768px) {
	.hidden-xs-inline {
		display: inline;
	}
	.hidden-xs-inline-block {
		display: inline-block;
	}
}

.modal-backdrop {
  opacity: 0.5;
}

/* buttons */

.grid-overflow-no-ellipsis {
	word-wrap: break-word;
	overflow: hidden;
	padding-right: 0px;
}

.grid-overflow-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-right: 0px;
}

.toolbar-banner {
	margin-top: -20px;
	margin-bottom: 20px;
	text-align: center;
	background-color: #fcf8e3;
	padding: 7px;
	z-index: 1;
}

.form-group {
	margin-bottom: 7px;
}
