body {	
	margin: 0px;
	padding-top: 70px;
	padding-bottom: 50px;
}

h1, h2, h3, h4, h5 {
	font-weight: 500;
}

a {
	cursor: pointer;
}

.content {
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 6px rgba(0,0,0,0.7);
	box-shadow: 0px 0px 6px rgba(0,0,0,0.7);
}

.layout-main {
	padding-bottom: 10px;
}

/* freeze */

div#freeze {
	position: fixed;
	display: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	background-color: #aaa;
	opacity: 0.6;
	z-index: 1;
	text-align: center;
}

/* listing */

.list-row {
	padding: 5px;
	border-bottom: 1px solid #eee;
}

/* appframe header */

.appframe-header {
	margin-bottom: 20px;
}

.appframe-toolbar {
	margin: 0px -15px;
	padding: 7px 15px;
	padding-bottom: 0px;
	background-color: #f8f8f8;
	border-bottom: 1px solid #e7e7e7;
}

.appframe-title {
	background-color: #fff;
	padding-bottom: 10px;
	border-bottom: 1px solid #e7e7e7;
}

.appframe-header .status-bar {
	text-align: right;
}

/* module */

.alert-badge {
	padding-right: 15px;
}

.alert-badge a, .alert-badge a:hover {
	color: black;
	font-size: 120%; 
	font-weight: bold;
}

.alert-badge .badge {
	margin-top: 3px;
}

.form-headline {
	margin-bottom: 10px;
	font-size: 130%;
}

.form-dashboard {
	display: none;
	border-bottom: 1px solid #ddd;
}

.help ol {
	padding-left: 19px;
}

.field_description_top {
	margin-bottom: 3px;
}

.link-field .btn {
	padding-left: 6px;
	padding-right: 6px;
}

/* list */

.doclist-row {
	padding-top: 5px; 
	padding-bottom: 0px;
	margin-bottom: 5px; 
	border-bottom: "1px solid #eee";
}

.doclist-row .col {
	padding-left: 7px;
	padding-right: 7px;
}

.doclist-row .col:first-child {
	padding-left: 15px;
}

.doclist-row .col:last-child {
	padding-right: 15px;
}

/* module */

.module-item-progress {
	margin-bottom: 10px;
	height: 17px;
}

.module-item-progress-total {
	height: 7px;
	background-color: #999999;
	width: 0px;
}

.module-item-progress-open {
	height: 7px;
	background-color: red;
	width: 0px;
}


/* fixed navbar in appframe */

.appframe .navbar {
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: 0px;
	border-radius: 0px;
	border-bottom: 1px solid #ddd;
	min-height: 51px;
}

.appframe .navbar-form select,
.appframe .navbar-form input,
.appframe .navbar-form button,
.appframe .navbar-form label {
	margin-bottom: 5px;
}

.appframe .navbar-form {
	margin-bottom: 2px;
	width: 100%;
}

.appframe .info-bar {
	padding: 7px;
	border-bottom: 1px solid #ddd;
	margin-left: -15px;
	margin-right: -15px;
}

.appframe .info-bar {
	padding: 7px;
	height: 35px;
}

.appframe .info-bar .form-icon {
	margin-top: 4px;
	margin-right: 4px;
	color: #888;
	cursor: pointer;
}

.appframe .info-bar .form-icon:hover {
	color: #444;
}

.appframe .info-bar .form-icon:active {
	color: #5bc0de;
}

.appframe .info-bar ul {
	width: 80%;
	list-style: none;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.appframe .info-bar li {
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
}

.appframe .info-bar li.bold a {
	font-weight: bold;
}

.appframe .title-icon {
	cursor: pointer;
	display: inline-block;
	padding: 14px;
	width: 55px;
	color: white;
	text-align: center;
	margin-right: 10px;
	border-radius: 5px;
	margin-top: -10px;
	font-size: 24px;
}

.appframe .sub-title-area {
	margin-top: -25px;
	margin-left: 75px;
	font-size: 120%;
}

.appframe .title-icon:active {
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.3);
			box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.3);

}


/* home icon in main nav */

.navbar-icon-home {
	vertical-align: middle;
	opacity: 0.7;
	Filter:alpha(opacity=70); /* For IE8 and earlier */
}

.navbar-icon-home:hover,
.navbar-icon-home:focus,
.navbar-icon-home:active,
.navbar-icon-home-hover{
	opacity:1;
	Filter:alpha(opacity=100); /* For IE8 and earlier */
}

.navbar .brand {
	max-height: 15px;
}

.navbar #spinner {
	display: block;
	float: right;
	width: 20px;
	margin-bottom: -5px;
	margin-top: 14px;
	visibility: hidden;
}

.navbar-new-comments {
	margin: -3px 0px;
	padding: 2px 5px;
	min-width: 20px;
	text-align: center;
	display: inline-block;
	border-radius: 2px;
	color: #999999;
	background-color: #333131;
}

.navbar-new-comments:hover,
.navbar-new-comments:active,
.navbar-new-comments:focus {
	color: #fff;
}

.navbar-new-comments-true {
	color: #fff;
	background-color: #e74c3c;
}


.btn [class^="icon-"], .nav [class^="icon-"], .btn [class*=" icon-"], .nav [class*=" icon-"] {
	display: inline-block;
}

.badge-important {
	background-color: #e74c3c;
}

/* alert */


#alert-container {
	position: fixed; 
	bottom: 8px; 
	right: 8px;
	z-index: 10;
}

#alert-container .alert {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

		overflow: hidden;
		max-width: 400px;
		text-overflow: ellipsis;
		white-space: nowrap;
}

/* avatar */

.avatar {
	display: inline-block; 
	vertical-align: middle;
	overflow: hidden;
}

.avatar img {
	background-color: #ddd;
	border: 1px solid #eee;
	border-radius: 50%;
	width: 100%;
	height: auto;
}

.avatar-small {
	margin-right: 5px;
	width: 30px;
}

.avatar-large {
	margin-right: 10px;
	width: 72px;
}

/* slickgrid */

..slick-cell { 
	font-size: 12px; 
}

.slick-header-column {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

.slick-headerrow-column {
	background: #87ceeb;
	text-overflow: clip;
}

.slick-headerrow-column input {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 20px;
}

.missing-image {
	background-color: #eee;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 140px;
	height: 140px;
	font-size: 32px;
	color: #888;
}

.wysiwyg-editor {
	height: 400px;
	background-color: white;
	border-collapse: separate; 
	border: 1px solid rgb(204, 204, 204); 
	padding: 4px; 
	box-sizing: content-box; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; 
	box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	border-top-right-radius: 3px; border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px; border-top-left-radius: 3px;
	overflow: scroll;
	outline: none;	
}

.wysiwyg-editor img {
	max-width: 100%;
}
/* form */

textarea[data-fieldtype="Small Text"] {
	height: 60px;
}

/* form grid */

.rows .grid-row .divider {
	padding-bottom: 8px;
	margin-bottom: 8px;
	border-bottom: 1px solid #dddddd;
}

.rows .grid-row .data-row, .rows .grid-row .panel-heading {
	cursor: pointer;
}

.grid-row .panel {
	background-color: #fffff8;
}

/* form footer */

.form-footer {
	background-color: #f8f8f8;
	margin-top: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-top: 1px dashed #ddd;
	color: #888;
}

.like-disabled-input {
	background-color: #f8f8f8;
	padding: 6px;
	margin-bottom: 7px;
	border-radius: 3px;	
	min-height: 30px;
}

/* jquery ui */

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
	display: inline;
}

.hidden-sm-inline {
	display: none;
}

@media (min-width: 768px) {
	.hidden-sm-inline {
		display: inline;
	}
}

.modal-backdrop {
  opacity: 0.5;
}

/* buttons */

.btn-default {
  color: #ffffff;
  background-color: #a7a9aa;
  border-color: #a7a9aa;
}

.dropup .btn-default .caret,
.btn-default .caret {
	border-bottom-color: #ffffff;
	border-top-color: #ffffff;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-color: #9a9c9d;
  border-color: #8d9091;
  color: #ffffff;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #a7a9aa;
  border-color: #a7a9aa;
}

.grid-overflow-no-ellipsis {
	word-wrap: break-word;
	overflow: hidden;
	padding-right: 0px;
}

.grid-overflow-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-right: 0px;
}

.toolbar-banner {
	margin-top: -20px;
	margin-bottom: 20px;
	text-align: center;
	background-color: #fcf8e3;
	padding: 7px;
	z-index: 1;
}

.form-group {
	margin-bottom: 7px;
}