{% if df.get('_value') or df.show_empty %}
{%- set _show_label = df.show_label if df.show_label else 'show' -%}
{%- set _align = df.align if df.align else '' -%}
{%- set _orientation = df.section.field_orientation or '' -%}
{%- set _inline = (_show_label == 'inline') or (_orientation == 'left-right') -%}
{%- set _fstyle = (('gap: ' + df.label_gap|int|string + 'px;') if (_inline and df.label_gap is defined and df.label_gap is not none) else '') + (df.custom_style or '') -%}
<div class="field {{ _orientation }}{% if _inline and _orientation != 'left-right' %} field-inline{% endif %}{% if _align %} field-align-{{ _align }}{% endif %}" {% if _fstyle %}style="{{ _fstyle|e }}"{% endif %} {{ field_attributes(df) }}>
	{%- if _show_label != 'hide' -%}
	<div class="label">{{ _(df.label)|e }}</div>
	{%- endif -%}
	<div class="value">{{ df.get('_value') or '' }}</div>
</div>
{% endif %}
