{% if df.source and doc.get(df.source) %}
<div class="pfb-repeater" {{ field_attributes(df) }}>
	{% if df.label %}<div class="label">{{ _(df.label) }}</div>{% endif %}
	<table class="pfb-repeater-table">
		{% for row in doc.get(df.source) %}
		<tr>
			{% for col in df.repeater_columns %}
			<td class="pfb-repeater-cell" style="text-align: {{ col.align or 'left' }}">
				{%- for tok in col.template -%}
					{%- if tok.t == 'f' -%}
						{%- if col.format == 'Auto' -%}{{ row.get_formatted(tok.v) }}{%- else -%}{{ row.get(tok.v) if row.get(tok.v) is not none else '' }}{%- endif -%}
					{%- else -%}{{ tok.v }}{%- endif -%}
				{%- endfor -%}
			</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</table>
</div>
{% endif %}
