{% extends base_template_path %}

{% macro page_content() %}
{%- block page_content -%}{%- endblock -%}
{% endmacro %}

{% block content %}

{% macro main_content() %}
<div class="page-content-wrapper">
	<!-- breadcrumbs -->
	<div class="page-breadcrumbs">
		{%- block breadcrumbs -%}
		{%- include 'templates/includes/breadcrumbs.html' -%}
		{%- endblock -%}
	</div>

	asdfasdf

	{% block page_container %}
	<main class="row">
		<div class="page_content page-content {{ 'col-sm-9' if page_toc else 'col-sm-12' }}">
			{{ page_content() }}
		</div>
		{%- if page_toc -%}
		<div class="page-toc col-sm-3">
			<div>
				<h5>On this page</h5>
				{{ page_toc_html }}
			</div>
			{% include "templates/includes/web_sidebar.html" %}
		</div>
		{%- endif -%}
	</main>
	{% endblock %}
</div>
{% endmacro %}

{% macro sidebar() %}
{%- if show_sidebar -%}
<div class="sidebar-column col-sm-{{ columns }}">
	{% block page_sidebar %}
	{% include "templates/includes/web_sidebar.html" %}
	{% endblock %}
</div>
{%- endif -%}
{% endmacro %}

{% macro container_attributes() -%}
id="page-{{ name or route | e }}" data-path="{{ pathname | e }}"
{%- if page_or_generator=="Generator" %}source-type="Generator" data-doctype="{{ doctype }}"{%- endif %}
{%- if source_content_type %}source-content-type="{{ source_content_type }}"{%- endif %}
{%- endmacro %}

<div class="container">
	<div class="row" {{ container_attributes() }}>
		{%- set columns = (sidebar_columns or 2) if show_sidebar else 0 -%}
		{%- if not sidebar_right -%}
		{{ sidebar() }}
		{%- endif -%}
		<div class="main-column col-sm-{{ 12 - columns }}">
			{{ main_content() }}
		</div>
		{%- if sidebar_right -%}
		{{ sidebar() }}
		{%- endif -%}
	</div>
</div>

{% endblock %}
