{% extends base_template_path %}

{% block hero %}{% endblock %}
{% block content %}
<div class="page-container" id="page-{{ name or page_name }}" data-path="{{ pathname }}"
	{% if page_or_generator=="Generator" %}data-doctype="{{ doctype }}"{% endif %}>
		<div class="page-content {% if not show_sidebar %}page-max-width{% endif %}">
			<div class="row {% if show_sidebar %}vert-line{% endif %}">
				{% if show_sidebar %}
					<div class="col-sm-3 sidebar-block">
						{% include "templates/includes/web_sidebar.html" %}
					</div>
				{% endif %}
				<div class="{% if show_sidebar %}content-block col-sm-9{% else %} content-block col-sm-12 {% endif %}">
					<div class="page-content-wrapper">
						<div class="row page-head">
							<div class="col-sm-8">
								{% if self.breadcrumbs() %}
								<div class="page-breadcrumbs">
									{% block breadcrumbs %}{% endblock %}
								</div>
								{% endif %}
								<h2>{% block header %}{% endblock %}</h2>
							</div>
							<div class="col-sm-4">
								{% if show_search %}
								<div class="page-search-block">
								{% block search %}
									{% include 'templates/includes/search_box.html' %}
								{% endblock %}
								</div>
								{% endif %}
								<div class="page-header-actions-block">
									{% block header_actions %}{% endblock %}
								</div>
							</div>
						</div>
					</div>
					<div class="page_content">
						{%- block page_content -%}{%- endblock -%}
					</div>
				</div>
			</div>
		</div>
</div>
{% endblock %}
