<div class="module-body">
{% for (var i=0; i < data.length; i++) { var section = data[i]; %}
{% if ((i % 2)===0) { %}<div class="row module-section">{% } %}
	<div class="col-sm-6 module-section-column">
		<div class="h4 section-head">
			{{ section.label }}
		</div>
		<div class="section-body">
		{% for (var j=0; j < section.items.length; j++) {
			var item = section.items[j];
			if(item.shown) { %}
				<div style="min-height: 22px; margin-top: 8px;">
					<a class="module-section-link small" data-type="{{ item.type }}"
						{% if(item.type==="help") { %}
							data-youtube-id="{{ item.youtube_id }}"{% } %}
						href="#{{ item.route }}" style="{{ item.style }}">
						{{ item.label || __(item.name) }}
					</a>
					{% if(item.type==="doctype") { %}
					<span class="open-notification global hide"
						data-doctype="{{ item.doctype || item.name }}"></span>
					{% } %}
				</div>
			{% } %}
		{% } %}
		</div>
	</div>
{% if ((i % 2)===1 || i===data.length-1) { %}</div>{% } %}
{% } %}
</div>
