{% if (tags.length) { %}
	<span style="margin-right: 10px;" class="list-tag-preview">
		{%= tags.join(", ") %}</span>
{% } %}
{% if (comments.length) { %}
	<a style="margin-right: 10px;" href="#Form/{%= doctype %}/{%= encodeURIComponent(data.name) %}"
		title="{%= comments[comments.length-1].comment %}">
		<i class="icon-comments"></i> {%= comments.length %}
	</a>
{% } %}
{% if (assign.length) { %}
	{% for (var i=0, l=assign.length; i<l; i++) { %}
		<span class="filterable" data-filter="_assign,like,%{%= assign[i] %}%">
			{%= frappe.avatar(assign[i], "avatar-xs") %}</span>
	{% }%}
{% } %}
{%= comment_when(data.modified) %}
