{% set change_password_link = "<a class='email-inline-link' href='" + change_password_url + "'>" + _("change your password") + "</a>" %}
<h1 class="email-title">{{ _("New login to the Administrator account") }}</h1>
<div class="email-body">
	<p>{{ _("Time:") }} <b>{{ date_and_time }}</b></p>
	<p>{{ _("IP address:") }} <b>{{ ip_address | e }}</b></p>
	<p><span class="email-subhead">{{ _("If this was you:") }}</span><br>{{ _("There is nothing else you need to do.") }}</p>
	<p><span class="email-subhead">{{ _("If this wasn't you:") }}</span><br>{{ _("Your account may be compromised. Please {0} immediately.").format(change_password_link) }}</p>
</div>
