<p>{{_("Dear User,")}}</p>
<p>{{_("We have received a request for deletion of {0} data associated with: {1}").format(host_name, email)}}.</p>
<p>{{_("This will permanently remove your data.")}}</p>
<p>{{_("Click on the link below to verify your request")}}.</p>
<p>
	<a href="{{ link }}" rel="nofollow" class="btn btn-primary">{{ _("Confirm Request") }}</a>
</p>
<p class="text-muted text-small">
	{% set verification_link = '<a href="' + link + '">' + _("Verification Link") + '</a>' %}
	{{_("You can also copy-paste this {0} to your browser").format(verification_link) }}
</p>
