<h3>Document Follow Notification</h3>
{% for doc in docinfo %}
<div class="gray-container follow-panel">
	<div class="follow-panel-title text-medium">
		<a href="{{doc.reference_url}}">{{ doc.reference_doctype }}: {{ doc.reference_docname }}</a>
	</div>
	<ul class="list-unstyled follow-timeline">
		{% for data in timeline %}
			{% if (data.doctype == doc.reference_doctype and data.doc_name == doc.reference_docname) %}
				{% if data.type == "comment" %}
					<li>
						<span class="text-muted">{{data.data.time}}:</span>
						<b>"{{data.data.comment}}"</b>
						{{data.data.by}}
					</li>
				{% elif data.type == "row added" %}
					<li>
						<span class="text-muted">{{data.data.time}}:</span>
						Row Added to Table Field
						<b>{{data.data.to}}</b>
						By:
						<b>{{data.by}}</b>
					</li>
				{% elif data.type == "field changed" %}
					<li>
						<span class="text-muted">{{data.data.time}}:</span>
						Field:
						<b>"{{data.data.field}}"</b>
						changed from
						<b>"{{data.data.from}}"</b>
						to
						<b>"{{data.data.to}}"</b>
						By:
						<b>{{data.by}}</b>
					</li>
				{% elif data.type == "row changed" %}
					<li>
						<span class="text-muted">{{data.data.time}}:</span>
						Table Field:
						<b>"{{data.data.table_field}}"</b>
						Row# {{data.data.row}} Field:
						<b>"{{data.data.field}}"</b>
						changed from
						<b>"{{data.data.from}}"</b>
						to <b>"{{data.data.to}}"</b>
						By:
						<b>{{data.by}}</b>
					</li>
				{% endif %}
			{% endif %}
		{% endfor %}
	</ul>
</div>
{% endfor %}
