<div align="center">
	<p>{{ _("Please select a rating") }}</p>

	<div class="user-ratings">
		<a class="rating" style="text-decoration: none; color: grey" href="{{url}}&rating=1">★</a>
		<a class="rating" style="text-decoration: none; color: grey" href="{{url}}&rating=2">★</a>
		<a class="rating" style="text-decoration: none; color: grey" href="{{url}}&rating=3">★</a>
		<a class="rating" style="text-decoration: none; color: grey" href="{{url}}&rating=4">★</a>
		<a class="rating" style="text-decoration: none; color: grey" href="{{url}}&rating=5">★</a>
	</div>
</div>