<div align="center">
	<p>{{ _("Please select a rating") }}</p>
	<a class="rating" style="font-size: 20px; text-decoration: none; color: grey" href="{{url}}&rating=1">★</a>
	<a class="rating" style="font-size: 20px; text-decoration: none; color: grey" href="{{url}}&rating=2">★</a>
	<a class="rating" style="font-size: 20px; text-decoration: none; color: grey" href="{{url}}&rating=3">★</a>
	<a class="rating" style="font-size: 20px; text-decoration: none; color: grey" href="{{url}}&rating=4">★</a>
	<a class="rating" style="font-size: 20px; text-decoration: none; color: grey" href="{{url}}&rating=5">★</a>
	<div class="more-info">{{ _("1 star being lowest & 5 stars being highest rating") }}</div>
</div>
