<div align="center">
	<p>Please take a few minute to leave a feedback - we would really appreciate it!<br>
	Rating (select a star)</p>

	<div class="user-ratings">
		<a class="rating" style="text-decoration: none; color: black" href="{{url}}&rating=1">★</a>
		<a class="rating" style="text-decoration: none; color: black" href="{{url}}&rating=2">★</a>
		<a class="rating" style="text-decoration: none; color: black" href="{{url}}&rating=3">★</a>
		<a class="rating" style="text-decoration: none; color: black" href="{{url}}&rating=4">★</a>
		<a class="rating" style="text-decoration: none; color: black" href="{{url}}&rating=5">★</a>
	</div>
</div>
