
<tr>
    <td style="width:20px;"></td>
    <td style="vertical-align: top">
        <table class="header" width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td width="50">
                    <img src="https://raw.githubusercontent.com/ashwinisave35/erpnext/email-logo/erp-logo.jpg" width="40" style="display: block;" alt="ERPNext">
                </td>
                <td>
                    <p class="brand-name">ERPNext</p>
                </td>
            </tr>
        </table>
    </td>
    <td class="v-spacer"></td>
</tr>
<!-- End of header block -->