{% macro table(content, td_align, tb_color, tb_width) %}
<table cellpadding="0" cellspacing="0" width="{{ tb_width or '100%' }}" bgcolor="{{ tb_color or '' }}">
	<tbody>
		<tr>
			<td align="{{ td_align or 'center' }}">
				{{ content }}
			</td>
		</tr>
	</tbody>
</table>
{% endmacro %}

{% macro body() %}
<table width="100%" cellspacing="0" cellpadding="0">
	<tbody>
		<tr>
			<td align="center">
				<div class="email-header-title">Click on the below button to login to {{ app_name }}</div>
				<div>The link will expire in {{ minutes }} minutes</div>
			</td>
		</tr>
		<tr>
			<td align="center">
				<div class="btn btn-primary" style="margin-top: 30px;">
					<a href="{{ link or '#'}}" style="color: #fff; text-decoration: none;">LOG IN TO {{ app_name.upper() }}</a>
				</div>
			</td>
		</tr>
	</tbody>
</table>
{% endmacro %}

{% macro footer() %}
<div class="email-footer">
	<div>Thanks!</div>
	<div style="font-size: 17px;"><strong>{{ app_name }}</strong></div>
</div>
{% endmacro %}

<div class="body-table with-container">
	<div class="body-content">
		<table class="email-container" align="center" cellspacing="0" cellpadding="0">
			<tbody>
				<tr>
					<td>
						<div class="email-body">
							{{ table(body()) }}
						</div>
						<div class="email-footer-container">
							{{ table(footer()) }}
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>