{% macro table(content, td_align, tb_color, tb_width) %}
<table cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr>
			<td align="center">
				{{ content }}
			</td>
		</tr>
	</tbody>
</table>
{% endmacro %}

{% macro body() %}
<table width="100%" cellspacing="0" cellpadding="0">
	<tbody>
		<tr>
			<td align="center">
				<div class="email-header-title">
					{{ _('Click on the button to log in to {0}').format(app_name) }}
				</div>
				<div>{{ _('The link will expire in {0} minutes').format(minutes) }}</div>
			</td>
		</tr>
		<tr>
			<td align="center">
				<div class="btn btn-primary" style="margin-top: 30px;">
					<a href="{{ link or '#'}}" style="color: #fff; text-decoration: none;">
						{{ _('LOG IN TO {0}').format(app_name.upper()) }}
					</a>
				</div>
			</td>
		</tr>
	</tbody>
</table>
{% endmacro %}

{% macro footer() %}
<div class="email-footer">
	<div>{{ _('Thanks!') }}</div>
	<div style="font-size: 17px;"><strong>{{ app_name }}</strong></div>
</div>
{% endmacro %}

<div class="body-table with-container">
	<div class="body-content">
		<table class="email-container" align="center" cellspacing="0" cellpadding="0">
			<tbody>
				<tr>
					<td>
						<div class="email-body">
							{{ table(body()) }}
						</div>
						<div class="email-footer-container">
							{{ table(footer()) }}
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>