<h1 class="email-header-title">{{ _("Reset your password") }}</h1>
<p>{{_("Dear")}} {{ first_name }}{% if last_name %} {{ last_name}}{% endif %},</p>
<p>{{_("We received a request to reset the password for your account. Click the button below to set a new password.")}}</p>
<p><a class="btn btn-primary" href="{{ link }}">{{_("Reset Password")}}</a></p>
<div class="callout callout-warning">
	{{_("If you did not request a password reset, please ignore this email. Your password will remain unchanged.")}}
</div>
<p>
	{{_("Thank you")}},<br>
	{{ created_by }}
</p>
