<h1 class="email-title">{{ _("Reset your password") }}</h1>
<div class="email-body">
	<p>{{ _("Click below to reset your password.") }}{% if expiry_minutes %} {% if expiry_minutes == 1 %}{{ _("The link expires in 1 minute.") }}{% else %}{{ _("The link expires in {0} minutes.").format(expiry_minutes) }}{% endif %}{% endif %}</p>
	<div class="email-action">
		<a class="email-btn email-btn-primary" href="{{ link }}">{{ _("Reset password") }}</a>
	</div>
	<div class="email-copy">
		<p>{{ _("Or copy and paste:") }}</p>
		<a href="{{ link }}">{{ link }}</a>
	</div>
	<p class="email-ignore">{{ _("If you didn't request this, you can safely ignore this email. Your password won't be changed.") }}</p>
</div>
