
<tr>
	<td class="v-spacer"></td>
	<td style="vertical-align: top;">
		<table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td class="h-spacer"></td>
            </tr>
            <tr>
            	<td>
					<h3>{{_("Password Update Notification")}}</h3>
				</td>
			</tr>
            <tr>
                <td>
                    <p>{{_("Dear")}} {{ first_name }}{% if last_name %} {{ last_name}}{% endif %},</p>
                </td>
            </tr>
			<tr>
				<td><p>{{_("Your password has been updated. Here is your new password")}}: {{ new_password }}</p></td>
			</tr>
			<tr>
                <td>
					<p>{{_("Thank you")}},<br>
					{{ user_fullname }}</p>
                </td>
			</tr>
			<tr>
                <td class="h-spacer">
                </td>
			</tr>
		</table>
	</td>
	<td class="v-spacer"></td>
</tr>
