<table width="100%" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td style="vertical-align: top;">
			<table width="100%" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td>
						<h4>{{_("Password Reset")}}</h4>
					</td>
				</tr>
				<tr>
					<td>
						<p>{{_("Dear")}} {{ first_name }}{% if last_name %} {{ last_name}}{% endif %},</p>
					</td>
				</tr>
				<tr>
					<td>
						<p>{{_("You are recieving this email because you requested a new password for your ERPNext account.")}}:</p>
					</td>
				</tr>
				<tr><td class="h-spacer"></td></tr>
				<tr>
					<td><p><a class="primary-btn" href="{{ link }}">Reset Password</a></p></td>
				</tr>
				<tr><td class="h-spacer"></td></tr>
				<tr>
					<td>
						<p class="font-12">Or you can copy and paste this link in your browser:</p>
						<p class="font-12"><a href="{{ link }}">{{ link }}</a></p>
					</td>
				</tr>
				<tr>
					<td class="h-spacer">
					</td>
				</tr>
				<tr>
					<td>
						<p>{{_("Thank you")}},<br>
							{{ user_fullname }}</p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>