<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>{{ subject or "" }}</title>
</head>

<body>
	<table class="body-table {% if header %}has-header{% endif %}" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
		<tr>
			<td align="center" valign="top">
				<table class="email-container" border="0" cellpadding="0" cellspacing="0"
					width="{% if header %}600{% else %}100%{% endif %}">
					<tr>
						<td valign="top">
							{{ header or "" }}
						</td>
					</tr>
					<tr>
						<td valign="top">
							<table class="email-body" border="0" cellpadding="0" cellspacing="0" width="100%">
								<tr>
									<td width="15"></td>
									<td valign="top">
										<p>{{ content }}</p>
										<p>{{ signature }}</p>
									</td>
									<td width="15"></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td valign="top">
							<table class="email-footer" border="0" cellpadding="0" cellspacing="0" width="100%">
								<tr>
									<td valign="top" data-email-footer="true">
										{{ footer }}
									</td>
								</tr>
								<tr>
									<td valign="top">
										<div class="print-html">{{ print_html or "" }}</div>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>

</html>