<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{ subject or "" }}</title>
</head>
<body style="line-height: 1.5; color: #36414C;">
<!-- body -->
<div style="font-family: -apple-system, BlinkMacSystemFont,
	    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
	    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
		font-size: 14px; padding: 10px;">
    {{ content }}
	{{ signature }}
</div>

<!-- footer -->
<div style="margin-top: 30px; font-family: Helvetica, Arial, sans-serif; font-size: 11px;
    margin-bottom: 15px; border-top: 1px solid #d1d8dd;"
	data-email-footer="true">
	{{ footer }}
</div>
<!-- /footer -->

<div class="print-html">{{ print_html or "" }}</div>
</body>
</html>
