<div class="ql-editor read-mode">
  <p>**------------- TROUBLE TICKET NOTIFICATION -------------**</p>
  <p>
    <br>
  </p>
  <p>Dear Bapak / Ibu,</p>
  <p>
    <br>
  </p>
  <p>Dengan&nbsp;ini kami mengingatkan untuk segera merespon <strong>Trouble Ticket</strong>&nbsp;dengan no {{ name }}, </p>
  <p>detail:</p>
  <ol>
    <li data-list="bullet">
      <span class="ql-ui" contenteditable="false"></span>Deskripsi : {{ tt_description }}
    </li>
    <li data-list="bullet">
      <span class="ql-ui" contenteditable="false"></span>Tower ID : {{ tower_id }}
    </li>
    <li data-list="bullet">
      <span class="ql-ui" contenteditable="false"></span>Tower Name : {{ tower_name }}
    </li>
    <li data-list="bullet">
      <span class="ql-ui" contenteditable="false"></span>Alamat : {{ address }}
    </li>
    <li data-list="bullet">
      <span class="ql-ui" contenteditable="false"></span>Severity : {{ priority }}
    </li>
  </ol>
  <p>harap segera ditindak lanjuti</p>
  <p>
    <br>
  </p>
  <p>Best regards,</p>
  <p>Help Desk PT. Dayamitra Telekomunikasi, tbk</p>
  <p>Note : E-mail dikirim oleh System, dimohon untuk tidak membalas E-mail ini.</p>
  <p>PT. Dayamitra Telekomunikasi ,&nbsp;tbk © 2014</p>
</div>
