<span style = "display: block; margin-bottom: 1.5rem;">
  Hello,
</span>
<span style = "display: block; margin-bottom: 1rem;">
  You've been invited to join {{ site_name }} on {{ title }}.
</span>
<span style = "display: block; margin-bottom: 0.5rem;">
  Click below to get started:
</span>
<a 
  href = "{{ invite_link }}" 
  target = "_blank" 
  class = "btn btn-primary"
  style = "display: block; margin-bottom: 1rem; width: fit-content"
>
  Accept Invitation
</a>
<span>
  If you have any questions, reach out to your system administrator.
</span>
