<div class="small text-muted post-list-help"></div>
<div class="post-list">
{{ post_list_html }}	
</div>
<div class="text-center">
	<button class="btn btn-default btn-more hide">More</button>
</div>

<script>
$(function() {
	if($(".post").length===20) {
		wn.setup_pagination();
	}
	
	{% if group.group_type == "Forum" -%}
	website.toggle_edit(true);

	{% elif group.group_type == "Tasks" %}
	website.toggle_edit();

	{% elif group.group_type == "Events" %}
	website.toggle_edit();
	website.format_event_timestamps();

	{%- endif %}
});
</script>
