<div class="blog-comment-row">
	<div class="inline-block" style="vertical-align: top">
		<div class="avatar avatar-medium" style="margin-top: 11px;">
			<img itemprop="thumbnailUrl" src="{{ frappe.get_gravatar(comment.sender) }}" />
		</div>
	</div>
	<div class="inline-block" style="width: calc(100% - 100px)">
		<h4 itemprop="name">{{ comment.sender_full_name }}

		<small class="text-muted pull-right">
			<span itemprop="commentTime">{{ comment.creation|global_date_format }}</span>
		</small>
		</h4>
		<div itemprop="commentText">{{ comment.content|markdown }}</div>
	</div>
</div>
