<div class="list-row">
	<div class="row doclist-row {% if (data._checkbox) { %} has-checkbox {% } %}">
		<div class="col-sm-10 col-xs-10 list-row-left">
			<div class="row">
				<div class="col-sm-8 list-col ellipsis h6 text-muted">
					<span class="list-value">
						{% if (data._checkbox) { %}
						<input class="list-row-checkbox" type="checkbox" data-name="{{data.name}}">
						{% } %}
						<a class="grey list-id {{ data.css_seen }}" href="#Form/{%= data._doctype_encoded %}/{%= data._name_encoded %}">
							{%= data.subject %}
						</a>
					</span>
				</div>
				<div class="col-sm-4  hidden-xs list-col ellipsis h6 text-muted">
					<span class="filterable text-muted" data-filter="sender,=,{%= data.sender %}">
						{%= is_sent_emails? data.recipients: data.sender %}
					</span>
				</div>
			</div>
		</div>
		<div class="col-sm-2 col-xs-2 text-right list-row-right" style="padding-left:0px">
			<div class="visible-xs">
				{%= data.attachment_html %}
			</div>
			<div class="hidden-xs">
				{%= data.attachment_html %}
				<span class="list-row-modified text-muted">
					{%= comment_when(data.modified, true) %}
				</span>
			</div>
		</div>
	</div>
</div>