<div class="no-result">
	{% if(is_inbox_configured) { %}
	<div class="select-inbox no-border">
		<div class="form-group">
			<div class="clearfix">
				<label class="control-label" style="padding-right: 0px;">Email Inbox</label>
			</div>
			<div class="control-input-wrapper">
				<div class="control-input">
					<select type="text" autocomplete="off" class="input-with-feedback form-control bold" maxlength="140" data-fieldtype="Select" data-fieldname="email_inbox" placeholder="">
						<option value=""></option>
						{% for(var email_id in email_accounts) { %}
						<option value="{%= email_accounts[email_id] %}">{%= email_id %}</option>
						{% } %}
					</select>
				</div>
				<p class="help-box small text-muted hidden-xs">Please Select Email Inbox</p>
			</div>
		</div>
	</div>
	{% } else if(!is_system_manager) { %}
		<div class="msg-box no-border">
			<p>Email Account is not assigned, Please contact System Manager</p>
		</div>
	{% } else { %}
		{%= frappe.render_template("inbox_no_result", { 
				doctype: "Email Account",
				label: "Email Account",
				action: `frappe.new_doc("Email Account")`
			}) %}
	{% } %}
</div>