.print-heading {
	text-align: right;
	text-transform: uppercase;
	color: #666;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #d1d8dd;
}

.print-heading h2 {
	font-size: 24px;
}

.print-format th {
	background-color: #eee !important;
	border-bottom: 0px !important;
}

/* modern format: don't remove this line */