.print-heading {
	text-align: right;
	text-transform: uppercase;
	font-color: #888;
	font-weight: bold;
	padding-bottom: 7px;
	margin-bottom: 15px;
	border-bottom: 3px solid #aaa;
}

.print-format table.table-bordered {
	border-top: 3px solid #aaa;
}

.print-format th {
	background-color: #eee !important;
}
