{% include "public/css/font/noto_sans/noto_sans.css" %}

@media screen {
	.print-format-gutter {
		background-color: #ddd;
		padding: 15px 0px;
	}
	.print-format {
		background-color: white;
		box-shadow: 0px 0px 9px rgba(0,0,0,0.5);
		max-width: 8.3in;
		min-height: 11.69in;
		padding: 0.75in;
	    margin: auto;
	}

	.page-break {
		padding: 30px 0px;
		border-bottom: 1px dashed #888;
	}

	.page-break:first-child {
		padding-top: 0px;
	}

	.page-break:last-child {
		border-bottom: 0px;
	}
}

@media print {
	.print-format p {
		margin-left: 1px;
		margin-right: 1px;
	}
}

.print-format {
	font-size: 9pt;
	font-family: 'Noto Sans', sans-serif;
	-webkit-print-color-adjust:exact;
}

.page-break {
	page-break-after: always;
}

.print-heading {
	border-bottom: 2px solid #aaa;
	margin-bottom: 10px;
}

.print-heading h2 {
	margin: 0px;
}
.print-heading h4 {
	margin-top: 5px;
}

table.no-border, table.no-border td {
	border: 0px;
}

.print-format label {
	/* wkhtmltopdf breaks label into multiple lines when it is inline-block */
	display: block;
}

.print-format img {
	max-width: 100%;
}

.print-format table td > .primary:first-child {
	font-weight: bold;
}

.print-format td, .print-format th {
	vertical-align: top !important;
	padding: 6px !important;
}

.print-format p {
	margin: 3px 0px 3px;
}

.print-format {
	font-size: {{ print_settings.font_size|flt or 9 }}pt;
}
