@import "variables.less";

.data-table {
	width: 100%;
	position: relative;
	overflow: auto;
	font-size: @text-medium;
	border-collapse: collapse;
}

.body-scrollable {
	max-height: 500px;
	overflow: auto;
}

.data-table-header {
	position: absolute;
	top: 0;
	left: 0;
	background-color: white;
	color: @text-muted;
	font-weight: bold;
}

.data-table-col {
	display: table-cell;
	border: 1px solid @border-color;
	white-space: nowrap;

	& > div {
		padding: 10px;
	}

	&.numeric {
		text-align: right;
	}

	div {
		border: 1px solid white;
	}

	&.selected > div {
		border: 1px solid @brand-primary;
	}
	// &:focus {
	// 	outline: 2px solid @brand-primary;
	// }
}

.data-table-row {
	display: table-row;
}

