@import "variables.less";

.table {
	margin: 0;
}

.data-table {
	width: 100%;
	position: relative;
	overflow: auto;
	font-size: @text-medium;
	border-collapse: collapse;

	.table > thead > tr > td, .table > tbody > tr > td {
		padding: 0;
	}
}

.body-scrollable {
	max-height: 500px;
	overflow: auto;
}

.data-table-header {
	position: absolute;
	top: 0;
	left: 0;
	background-color: white;
	color: @text-muted;
	font-weight: bold;

	.content span {
		cursor: pointer;
	}
}

.data-table-col {
	// display: table-cell;
	// display: inline-block;
	// border: 1px solid @border-color;
	// white-space: nowrap;
	// position: relative;

	.content {
		padding: 8px;
		// border: 1px solid white;
	}

	// &.selected .content {
	// 	border: 1px solid @brand-primary;
	// }

	// &:hover, & + .data-table-col:hover {
	// 	.handle {
	// 		opacity: 1;
	// 	}
	// }

	// .handle {
	// 	opacity: 0;
	// 	position: absolute;
	// 	right: -2px;
	// 	top: 0;
	// 	width: 5px;
	// 	background-color: @border-color;
	// 	border: 1px solid @border-color;
	// 	height: 100%;
	// 	cursor: ew-resize;
	// 	pointer-events: all;
	// 	// background-color: @light-bg;
	// }
}

.data-table-row {
	// display: table-row;
	// white-space: nowrap;
}

