/* csslint ignore:start */
@import "variables.less";

body {
	line-height: 1.5;
	color: @text-color;
}

p {
	margin: 1em 0 !important;
}

hr {
	border-top: 1px solid @border-color;
}

.body-table {
	font-family: @font-stack;
}

.email-header, .email-body, .email-footer {
	width: 100% !important;
	min-width: 100% !important;
}

.email-body {
	font-size: @text-regular;
}

.email-footer {
	border-top: 1px solid @border-color;
	font-size: @text-medium;
}

.email-header {
	background: @light-bg;
	border: 1px solid @border-color;
	border-radius: 3px 3px 0 0;

	.brand-image {
		width: 24px;
		height: 24px;
		display: block;
	}
}

.body-table.has-header {
	.email-body {
		border: 1px solid @border-color;
		border-radius: 0 0 3px 3px;
		border-top: none;
	}

	.email-footer {
		border-top: none;
	}
}

.btn {
	text-decoration: none;
	padding: 7px 10px;
	font-size: 12px;
	border: 1px solid;
	border-radius: 3px;

	&.btn-default {
		color: #fff;
		background-color: #f0f4f7;
		border-color: transparent;
	}

	&.btn-primary {
		color: #fff;
		background-color: @brand-primary;
		border-color: #444bff;
	}
}

.table {
	width: 100%;
	border-collapse: collapse;

	td, th {
		padding: 8px;
		line-height: 1.42857143;
		vertical-align: top;
		border-top: 1px solid @border-color;
		text-align: left;
	}

	th {
		font-weight: bold;
	}

	& > thead > tr > th {
		vertical-align: bottom;
		border-bottom: 2px solid @border-color;
	}

	& > thead:first-child > tr:first-child > th {
		border-top: none;
	}

	&.table-bordered {
		border: 1px solid @border-color;

		td, th {
			border: 1px solid @border-color;
		}
	}
}

.more-info {
	font-size: 80% !important;
	color: @text-muted !important;
	border-top: 1px solid @light-border-color;
	padding-top: 10px;
}

.text-right {
	text-align: right !important;
}

.text-center {
	text-align: center !important;
}

.text-muted {
	color: @text-muted !important;
}

.text-extra-muted {
	color: @text-extra-muted !important;
}

/* auto email report */
.report-title {
	margin-bottom: 20px;
}
/* csslint ignore:end */
