@import "variables.less";
@import "mixins.less";

.form-grid {
	border: 1px solid @border-color;
	border-radius: 3px;
}

.grid-heading-row {
	border-bottom: 1px solid @border-color;
	background-color: @panel-bg;
	font-weight: bold;
}

.grid-row {
	border-bottom: 1px solid @border-color;
	.transition(.2s);
}

.grid-row:last-child {
	border: none;
}

.rows .grid-row .data-row, .rows .grid-row .grid-footer-toolbar, .grid-form-heading {
	cursor: pointer;
}

.data-row.row {
	margin: 0px;
}

.grid-body {
	background-color: #fff;
}

.form-grid .data-row {
	padding: 10px 15px;
}

.grid-body .data-row {
	font-size: 12px;
}

.grid-empty, .list-loading {
	padding: 10px 15px;
	color: @border-color;
}

.grid-static-col {
	max-height: 200px;
	overflow: hidden;
}

.row-index {
	text-align: right;
	width: 30px;
	margin-left: -15px;
	float: left;
}

.row-data > .row {
	margin-left: 15px;
}

.grid-row {
	td {
		vertical-align: top;
	}

	p {
		margin-bottom: 5px;
	}

	.col-sm-6 {
		.editor-toolbar-text-group,
		.editor-toolbar-align-group {
			display: none;
		}

		.text-editor {
			height: 200px;
		}

		.markdown-text-editor {
			height: 251px;
		}
	}
}

.form-in-grid {
	background-color: white;
	z-index: 1021;
	position: relative;
	overflow: hidden;
	height: 0;
	opacity: 0;
	.transition(opacity .2s ease)
}

.grid-row-open .form-in-grid {
	opacity: 1;
	height: auto;
	overflow: visible;
}

.grid-form-heading {
	padding: 10px 15px;
	font-size: 120%;
	border-bottom: 1px solid @border-color;
}

.grid-footer {
	background-color: #fff;
}

.grid-footer-toolbar {
	padding: 10px 15px;
	border-top: 1px solid @border-color;
}

.grid-overflow-no-ellipsis {
	word-wrap: break-word;
	overflow: hidden;
	padding-right: 0px;
}

.grid-overflow-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-right: 0px;
}

.grid-label {
	margin-right: 8px; margin-bottom: 4px;
}

