@import "variables.less";

.data-table {
	font-size: 12px;

	.data-table-col .edit-cell {
		padding: 0;

		input {
			font-size: inherit;
			height: 32px;
		}
	}

	.data-table-col.editing .edit-cell {
		border: 2px solid @blue;
	}

	.frappe-control {
		margin: 0;
	}
	.form-group {
		margin: 0;
	}
	.form-control {
		border-radius: 0px;
		border: none;
	}
	.link-btn {
		top: 6px;
	}
	select {
		height: 32px;
	}

	.checkbox {
		margin-top: 8px;
		margin-bottom: 8px;
		margin-left: 8px;
	}
	[data-fieldtype="Color"] .control-input {
		overflow: hidden;
	}

	.data-table-col.selected .content {
		border-color: @blue;
	}
}
