@import "variables.less";

.underline {
	color: inherit;
	border-bottom: 1px solid transparent;
	margin-bottom: 0.4em;
}

.underline-hover {
	border-bottom: 1px solid @grey-link-color;
	color: @grey-link-color;
}
