@import "variables.less";

@media(max-width: 767px) {
	.layout-main-section-wrapper {
		padding: 0px;
	}

	.form-section {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
}

@media(max-width: 991px) {
	.layout-main-section {
		border-color: transparent !important;
	}

	.form-intro-area {
		padding: 15px 0px;
	}

	.form-grid {
		margin-left: -17px;
		margin-right: -17px;
		border-left: none !important;
		border-right: none !important;
		border-radius: none;
	}

	.grid-row-open {
		top: 0;
	}

	.page-title h1 {
		margin-top: 10px;
	}

	.page-title .indicator {
		display: block;
		margin-top: -5px;
		margin-bottom: 3px;
	}

	.page-head .sub-heading {
		display: block;
		position: absolute;
		bottom: -30px;
		right: 8px;
	}

	.page-actions {
		padding-top: 10px !important;
		padding-bottom: 0px !important;
		padding-left: 0px !important;
	}

	.page-head {
		min-height: 1px;
	}

	// navbar & breadcrumbs
	.nav > li > a {
		padding: 10px 0px;
	}

	.toggle-navbar-new-comments {
		padding: 8px 0px !important;
	}

	.navbar > .container > .navbar-header {
		float: left;
		width: 80%;
	}

	.navbar > .container > .navbar-right {
		float: right;
	}

	.navbar-brand .octicon-home {
		margin-top: 4px;
	}

	.navbar .breadcrumb-divider {
		margin-top: 12px !important;
		margin-right: 3px;
	}

	#navbar-breadcrumbs {
		margin: 0px;
		display: inline-block;
	}

	#navbar-breadcrumbs > li {
		display: inline-block;
		vertical-align: middle;
	}

	#navbar-breadcrumbs > li > a {
		padding: 10px 0px 0px;
	}

	// select all except last 2
	#navbar-breadcrumbs li:not(:nth-last-child(-n+2)) {
		display: none;
	}

	.navbar-nav {
		margin: 0px;
	}

	// Off Canvas
	.offcanvas {
		transition: 0.25s;
	}
	// .offcanvas,
	// .page-head,
	// .sidebar-right,
	// .sidebar-left,
	// .navbar-fixed-top,
	// .desk-main-section-overlay {
	// 	transition: 0.25s;
	// }

	.offcanvas {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}

	.desk-main-section-overlay {
		bottom: 0;
		position: fixed;
	}

	.offcanvas.active-left .desk-main-section-overlay,
	.offcanvas.active-right .desk-main-section-overlay {
		z-index: 1031;
		display: block;
		bottom: 0;
	}

	.offcanvas.active-left {
		-webkit-transform: translate3d(75%, 0, 0);
		transform: translate3d(75%, 0, 0);
	}

	.offcanvas.active-right {
		-webkit-transform: translate3d(-75%, 0, 0);
		transform: translate3d(-75%, 0, 0);
	}

	.offcanvas .sidebar {
		position: fixed;
		// position: absolute;
		top: 0;
		bottom: 0;
		width: 75%; /* 9 columns */
		overflow-x: hidden;
		overflow-y: auto;
		font-size: 12px;
	}

	.offcanvas .sidebar-right {
		left: 100%;
		border-left: 1px solid @border-color;
	}

	.offcanvas .sidebar-left {
		right: 100%;
		border-right: 1px solid @border-color;
	}

	.offcanvas .sidebar-menu {
		margin-bottom: 0;
	}

	.sidebar .form-group {
		margin-bottom: 0px;
	}

	#sidebar-search {
		height: 27px;
	}

	.sidebar .navbar-search-icon {
		float: right;
		color: @navbar-default-color;
		font-size: inherit;
		position: relative;
		right: 7px;
		top: -21px;
		height: 0;
	}

	.sidebar form {
		padding: 7px;
	}

	.sidebar .main-menu {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 41px;
		overflow-y: auto;
	}

	.sidebar .user-menu {
		padding: 9px 14px;
		background-color: @navbar-default-bg;

		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
	}

	.sidebar .user-menu,
	.sidebar .user-menu .octicon {
		color: @navbar-default-color;
	}

	.sidebar .user-menu img {
		margin-top: -1px;
	}

	// module view
	body[data-route^="Module"] {
		.navbar-center {
			display: block !important;
			position: absolute;
			top: 10px;
		}
	}
}
