@brand-primary:       #5E64FF;
@border-color:        #d1d8dd;
@text-color:          #36414C;
@text-muted:          #8D99A6;
@btn-bg:              #F0F4F7;
@panel-bg:            #F7FAFC;
@grey-link-color:     #212a33;
@navbar-bg:           #f5f7fa;
@light-bg:            #fafbfc;
@text-extra-muted:    @border-color;

@indicator-blue:      #5e64ff;
@indicator-red:       #ff5858;
@indicator-green:     #98d85b;
@indicator-orange:    #ffa00a;
@indicator-purple:    #743ee2;
@indicator-darkgrey:  #b8c2cc;
