.print-format-builder-section, .print-format-builder-add-section {
	border: 1px solid var(--dark-border-color);
	border-radius: var(--border-radius);
	margin: 0px;
	margin-bottom: 15px;
}
.print-format-builder-add-section, .print-format-builder-header {
	border: 1px dashed var(--dark-border-color);
	padding: 15px;
	cursor: pointer;
}

.print-format-builder-header {
	margin-bottom: 15px;
}

.print-format-builder-column {
	padding: 15px;
	margin: 0px -15px 0 -16px;
	background-color: var(--fg-color);
	min-height: 64px;
	border-left: 1px solid var(--dark-border-color);
	border-right: 1px solid var(--dark-border-color);
	border-radius: var(--border-radius);
}

.section-column:last-child .print-format-builder-column {
	margin-right: -16px;
}

.print-format-builder-field {
	padding: 5px;
	border: 1px solid var(--dark-border-color);
	border-radius: 3px;
	margin-bottom: 10px;
	min-height: 34px;
}

.print-format-builder-field:last-child {
	margin-bottom: 0px;
}

.print-format-builder-field-placeholder {
	margin-bottom: 10px;
}

.print-format-builder-field-placeholder:last-child {
	margin-bottom: 0px;
}

.print-format-builder-column .print-format-builder-field {
	cursor: move;
}


.print-format-builder-section-head {
	cursor: move;
	padding: 10px 15px;
	border-bottom: 1px solid var(--dark-border-color);
}

.column-selector-row:hover {
	background-color: #fafbfc;
}

.column-selector-row .form-control {
	margin-top: 5px;
}

.field-label.data-pill {
	border: 1px solid var(--dark-border-color);
	padding: 4px 8px;
	color: var(--text-light);
}

.print-format-builder-sidebar {
	padding: 5px;
	top: var(--navbar-height);
	height: 85vh;
	overflow-y: auto;
	position: sticky;
}

.filter-searchbox {
	padding: 10px;
	padding-left: 0;
	margin-bottom: 10px;
}

.print-format-builder-main {
	display: inline-block;
	vertical-align: top;
	border-top: 0px;
}
