@media (min-width: 768px) {
	.login-wrapper {
		border-right: 1px solid #f2f2f2;
	}
}

h1, h2, h3, h4, h5 {
	font-weight: bold;
}

a {
	cursor: pointer;
}

img {
	max-width: 100%;
}

.content {
	margin-bottom: 22px;
}

.banner {
	margin-top: 20px;
	padding: 0px 20px;
}

.missing-image {
	background-color: #eee;
	padding: 40px;
	width: 112px;
	font-size: 32px;
	color: #888;
}

.social-icons i {
	font-size: 120%;
}

.social-icons a:hover {
	text-decoration: none;
}
.social-icons a i:hover {
	text-decoration: none;
}
.social-icons i {
	margin-left: 5px;
}

.web-footer {
	padding: 20px 0px;
}

.avatar {
	display: inline-block; 
	vertical-align: middle;
	overflow: hidden;
	background-color: #ddd;
	border: 1px solid #eee;
}

.avatar-small {
	margin-right: 5px;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
}
.avatar-small img {
	width: 30px; 
}

.avatar-medium {
	margin-right: 5px;
	width: 48px;
	height: 48px;
	border-radius: 48px;
	-moz-border-radius: 48px;
	-webkit-border-radius: 48px;
}
.avatar-medium img {
	width: 48px; 
}

.avatar-large {
	margin-right: 10px;
	width: 72px;
	height: 72px;
	border-radius: 72px;
	-moz-border-radius: 72px;
	-webkit-border-radius: 72px;
}
.avatar-large img {
	width: 72px; 
}

.avatar-x-large {
	margin-right: 10px;
	width: 100px;
	height: 100px;
	border-radius: 100px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
}
.avatar-x-large img {
	width: 100px; 
}

.carousel-control .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
}

.hidden-xs-inline, .hidden-xs-inline-block {
	display: none;
}

@media (min-width: 768px) {
	.hidden-xs-inline {
		display: inline;
	}
	.hidden-xs-inline-block {
		display: inline-block;
	}
}

.visible-xs-inline {
	display: inline;
}

.visible-xs-inline-block {
	display: inline-block;
}

@media (min-width: 768px) {
	.visible-xs-inline, .visible-xs-inline-block {
		display: none;
	}
}

/* the element that this class is applied to, should have a max width for this to work*/
.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
}

.navbar {
	box-shadow: none;
	border-radius: 0px;
	margin-bottom: 0px;
}

.navbar-brand {
	padding-right: 30px;
	max-width: 80%;
	min-height: 20px;
	height: auto;
}

@media (min-width: 768px) {
	.navbar-brand {
		max-width: 300px;
	}
}

.panel-container {
	margin-top: 35px;
}

.panel-heading, 
.panel-body {
	padding-left: 15px;
}


fieldset {
	margin-bottom: 20px;
}

.message-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
	height: 100%;
    z-index: 1040;
	background-color: #fff;
    display: table;
}
.message-overlay .content {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.web-page-editable {
	margin: -15px;
	padding: 15px;
	border-radius: 4px;
}

.slide-image {
	width: 100%;
}

.page-header {
	margin: 0px;
	padding: 5px 0px;
}

.page-container {
	margin-top: 15px;
}

.page-header h1,
.page-header h2,
.page-header h3 {
	margin: 5px auto;
}

.page-header .lead {
	margin-bottom: 5px;
}

.sidebar-item {
	margin: 15px auto;
	color: #999;
	font-size: 90%;
}

.sidebar-item a:hover {
	color: #333;
	border-bottom: 2px solid #999;
}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: auto;
  margin: 0 auto -140px;
  /* Pad bottom by footer height */
  padding: 0 0 140px;
}

/* Set the fixed height of the footer here */
#wrap-footer {
  height: 140px;
  background-color: #f5f5f5;
}

.page-footer {
    margin: 20px 0px 0px;
    border-top: 1px solid #eee;
}


/* website group */
.view-selector {
	margin-bottom: 15px;
}

/* post and post list */
.post {
	padding: 15px 0px;
	word-wrap: break-word;
	border-bottom: 1px solid #eee;
}

.post:first-child {
	margin-top: 15px !important;
}

.post .img-responsive {
	border-radius: 4px;
}

.post .media-link {
	display: block;
	min-width: 50px;
	min-height: 50px;
}

.post .media-object {
	border-radius: 4px;
	max-width: 50px;
}

.post .media-heading {
	margin-bottom: 12px;
}

.parent-post .post {
	border: none;
}

.child-post {
	border: 1px solid #eee;
	padding-left: 15px;
	background-color: #f8f8f8;
	margin-top: 0px;
}

textarea {
	resize: vertical;
}

.post-add-textarea {
	height: 200px !important;
}

/* needs review */

.btn-small, .post-editor .btn {
	padding: 5px;
	font-size: 90%;
}

.btn-right, .post-editor .btn {
	margin-left: 5px;
}

.no-posts {
	margin-top: 15px;
}

.full-page {
	margin: 30px;
}

.img-responsive {
	border-radius: 4px;
}

.user-profile {
	min-height: 50px;
	min-width: 70px;
}

.hidden-xs {
	display: inline-block !important;
}

.visible-xs {
	display: none !important;
}

@media (max-width: 767px) {
	.hidden-xs {
		display: none !important;
	}
	.visible-xs {
		display: inline-block !important;
	}
}

.nav-tabs > li > a {
	padding: 7px 10px;
}

.btn-more {
	margin-top: 15px;
}

.post-content img {
	margin: 10px 0px;
}

.assigned-label, .event-label {
	display: inline-block;
	padding: .4em .6em .4em;
	margin-bottom: 7px;
}

a.no-decoration {
	text-decoration: none;
	color: inherit;
}

.page-breadcrumbs {
	border-bottom: 1px solid #eee;
}

.page-breadcrumbs .breadcrumb {
	margin-bottom: 0px;
	background-color: transparent;
	border-radius: 0px;
	padding: 8px 0px;
}

@media (min-width: 768px) {
	.page-sidebar {
		padding-left: 5em;
	}
	
}

.post:last-child {
	border-bottom: none;
}

/* end - needs review */

