<div><input class="form-control desktop-app-search" type="text" placeholder="{%= __("Search Application") %}">
</div>
{% if (frappe.user.has_role("System Manager")) { %}
<p class="text-right"><a href="#applications" class="btn btn-sm btn-default">Install new applications</a>
</p>
{% } %}
<hr>
<p class="text-muted small">{%= __("Checked items will be shown on desktop") %}</p>
<div class="list-group all-applications-list">
	{% for(var i=0, l=all_modules.length; i < l; i++) {
		var module_name = all_modules[i];
		var module = frappe.get_module(module_name);
		if (desktop_items.indexOf(module_name)===-1
            || frappe.user.is_module_blocked(module_name)) { continue; }
	%}
	<div class="list-group-item" data-label="{%= module.label %}" data-name="{%= module.name %}">
		<div class="checkbox">
		    <label>
		      <input type="checkbox" {% if (user_desktop_items.indexOf(module.name)!==-1) { %} checked {% } %}
			  		data-name="{%= module.name %}"> {%= __(module.label) %}
		    </label>
		  </div>
	</div>
	{% } %}
</div>
