#icon-grid {
	padding-top: 15px;
	padding-bottom: 30px;
}

.case-wrapper {
	position: relative;
	margin: 15px;
	float: left;
	width: 100px;
	height: 100px;
}

.case-label {
	font-size: 90%;
	line-height: 1.1;
	text-align: center;
	/*text-shadow: 1px 1px 3px rgba(0, 0, 0, 1), 0px 3px 15px rgba(0, 0, 0, 0.5);*/
}

@media (max-width: 768px) {
	.case-wrapper {
		margin: 9px;
		width: 70px;
		height: 80px;
	}
	.case-label {
		padding-top: 2px;
		font-size: 85%;
	}
}

.circle {
	position: absolute;
	top: -10px;
	right: 5px;
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	line-height: 12px;
	background: #e74c3c;
	padding: 7px;
	z-index: 5;
}

.circle-text {
	color: white;
	display: inline-block;
	min-width: 15px;
}

#page-desktop {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	overflow: auto;
	padding-top: 14px;
	padding-bottom: 50px;
	margin-bottom: -50px;
	border: 0px;
	background-color: transparent;
}
