#page-desktop {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	overflow: auto;
	padding-top: 14px;
	padding-bottom: 50px;
	margin-bottom: -50px;
	border: 0px;
	background-color: transparent;
	background-color: #fcfdfe;
}

#icon-grid {
	padding-top: 15px;
	padding-bottom: 30px;
}

.case-wrapper {
	position: relative;
	margin: 0px;
	float: left;
	width: 100px;
	height: 120px;
}

.case-label {
	font-size: 90%;
	line-height: 1.1;
	text-align: center;
	/*text-shadow: 1px 1px 3px rgba(0, 0, 0, 1), 0px 3px 15px rgba(0, 0, 0, 0.5);*/
}

.circle {
	position: absolute;
	top: 0px;
	right: 15px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	line-height: none;
	background: #FF5858;
	z-index: 5;
}

/*.circle-text {
	color: white;
	display: inline-block;
	min-width: 15px;
}*/

@media (max-width: 768px) {
	.case-wrapper {
		margin: 9px;
		width: 70px;
		height: 90px;
	}
	.case-label {
		padding-top: 2px;
		font-size: 85%;
	}
	.circle {
		right: 3px;
	}
}


