{%- block header -%} {{ header or "" }} {%- endblock -%}

{% block content %}
<div class="webpage-content">
	{% include "templates/includes/slideshow.html" %}
	<article class="web-page-content" id="{{ name }}" {% if text_align -%}style="text-align: {{ text_align }}"{%- endif %}>
	{{ main_section or "" }}
	</article>
	{% if enable_comments -%}
	<hr>
	<h3>Discuss</h3>
	{% include 'templates/includes/comments/comments.html' %}
	{%- endif %}
</div>
{% endblock %}

{% block style %}{{ style or "" }}{% endblock %}

{% block script %}{{ script or "" }}{% endblock %}
