.todoitem {
	padding-right: 21px;
  padding-left: 0px;
}

.todoitem div {
	float: right;
}

.todoitem .label {
	margin-left: 11px;
  margin-right: 0px;
}

.todoitem .todo-date {
	margin-left: 7px;
  margin-right: 0px;
}

.todoitem .close {
	margin-right: 5px;
	margin-left: 0px;
}

.todoitem .close-span {
	float: left;
}