<div>
	<div class="table-responsive">
		<table class="table table-bordered table-hover log-details-table">
				<tr>
					<th style="width:10%"> {{ __("Row No") }} </th>
					<th style="width:40%"> {{ __("Row Status") }} </th>
					<th style="width:50%"> {{ __("Message") }} </th>
				</tr>

			{% for row in data %}
				{% if (!show_only_errors) || (show_only_errors && row.indicator == "red") %}
				<tr>
					<td>
						<span>{{ row.row }} </span>
					</td>
					<td>
						<span class="indicator {{ row.indicator }}"> {{ row.title }} </span>
					</td>
					<td>
						{% if (import_status != "Failed" || (row.indicator == "red")) { %}
							<div>{{ row.message }}</div>
							{% if row.link %}
								<span style="width: 10%; float:right;">
									<a class="btn-open no-decoration" title="Open Link" href="{{ row.link }}">
										<i class="octicon octicon-arrow-right"></i>
									</a>
								</span>
							{% endif %}
						{% } else { %}
							<span> {{ __("Document can't saved.") }} </span>
						{% } %}
					</td>
				</tr>
				{% endif %}
			{% endfor %}
		</table>
	</div>
</div>