{% extends "templates/web.html" %}

{% block title %}{{ _("Payment Failed") }}{% endblock %}

{%- block page_content -%}
<div class='page-card'>
	<div class='page-card-head'>
		<span class='indicator red'>
			{{ _("Payment Failed") }}</span>
	</div>
	<p>{{ _("Your payment has failed.") }}</p>
	<div><a href='{{ frappe.form_dict.redirect_to or "/" }}' class='btn btn-primary btn-sm'>
		{{ _("Continue") }}</a></div>
</div>
<style>
.hero-and-content {
	background-color: #f5f7fa;
}
{% include "templates/styles/card_style.css" %}
</style>

{% endblock %}
