{% block title %}{{ blog_title or "Blog" }}{% endblock %}

{% block content %}
<!-- no-header -->
<!-- no-breadcrumbs -->
{% if blog_subtitle %}
<div class="list-hero">
	<h1>
		{{ blog_subtitle }}
	</h1>
</div>
{% endif %}
<div class="blog-list-content">
	<div id="blog-list">
		{% include "templates/includes/list/list.html" %}
	</div>
</div>
{% include "templates/includes/blog/blog_common.html" %}
{% endblock %}

{% block script %}{% include "templates/includes/list/list.js" %}{% endblock %}

{% block style %}
<style>
.page-content {
	padding-bottom: 0px;
}
</style>
{% endblock %}
