{% block title %}{{ blog_title or "Blog" }}{% endblock %}

{% block script %}
window.category = null;
{% endblock %}

{% block content %}
<div class="blog-list-content">
	{% if blog_introduction %}
	<p class="blog-introduction">{{ blog_introduction }}</p>
	{% endif %}
	<h3 id="blot-subtitle" class="hide"></h3>
	<div id="blog-list">
		{% include "templates/includes/list/list.html" %}
	</div>
    <div class="blog-footer">
        <p class="blog-message text-muted"></p>
    	<div class="text-center">
    		<button id="next-page" class="btn btn-default"
    			style="display:none;">More...</button>
    	</div>
    </div>
</div>
{% endblock %}

{% block footer %}{% include 'templates/includes/blog/blog_footer.html' %}{% endblock %}
