{% extends "templates/web.html" %}
{% block title %}{{ blog_title or _("Blog") }}{% endblock %}
{% block hero %}{% endblock %}

{% block page_content %}

<div class="row py-8">
	<div class="col-md-8">
		<div class="hero">
			<div class="hero-content">
				<h1 class="hero-title">{{ blog_title or _('Blog') }}</h1>
				<p class="hero-subtitle mb-0">{{ blog_introduction or '' }}</p>
			</div>
		</div>
	</div>
	<div class="col-md-4 align-self-end">
		{%- if browse_by_category -%}
		<label for="category-select" class="sr-only">{{ _("Browse by category") }}</label>
		<select id="category-select" class="custom-select" onchange="window.location.pathname = this.value">
			<option value="" {{ not frappe.form_dict.category and "selected" or "" }} disabled>
				{{ _("Browse by category") }}
			</option>
			{%- if frappe.form_dict.category -%}
			<option value="blog">{{ _("Show all blogs") }}</option>
			{%- endif -%}
			{%- for category in blog_categories -%}
			<option value="{{ category.route }}" {{ frappe.form_dict.category == category.name and "selected" or "" }}>
				{{ _(category.title) }}
			</option>
			{%- endfor -%}
		</select>
		{%- endif -%}
	</div>
</div>

<div class="blog-list-content">
	<div class="website-list" data-doctype="{{ doctype }}" data-txt="{{ txt or '[notxt]' | e }}">
		{% if not result -%}
		<div class="text-muted" style="min-height: 300px;">
			{{ no_result_message or _("Nothing to show") }}
		</div>
		{% else %}
		<div id="blog-list" class="blog-list result row">
			{% for item in result %}
			{{ item }}
			{% endfor %}
		</div>
		{% endif %}
		<button class="btn btn-light btn-more btn {% if not show_more -%} hidden {%- endif %}">{{ _("Load More") }}</button>
	</div>
</div>
{% endblock %}

{% block script %}
<script>{% include "templates/includes/list/list.js" %}</script>
{% endblock %}
