{% extends "templates/web.html" %}
{% block title %}{{ blog_title or _("Blog") }}{% endblock %}
{% block hero %}{% endblock %}

{% block page_content %}

{{ web_blocks([
		{
			'template': "Hero",
			'values': {
				'title': blog_title or _("Blog"),
				'subtitle': blog_introduction or '',
			},
			'add_container': 0,
			'add_top_padding': 0,
			'add_bottom_padding': 0,
			'css_class': "py-5"
		}
	])
}}

<div class="blog-list-content">
	<div class="website-list" data-doctype="{{ doctype }}" data-txt="{{ txt or '[notxt]' | e }}">
		<div id="blog-list" class="blog-list result row">
			{% if not result -%}
				<div class="text-muted" style="min-height: 300px;">
					{{ no_result_message or _("Nothing to show") }}
				</div>
			{% else %}
				{% for item in result %}
					{{ item }}
				{% endfor %}
			{% endif %}
		</div>
		<button class="btn btn-light btn-more btn {% if not show_more -%} hidden {%- endif %}">{{ _("Load More") }}</button>
	</div>
</div>
{% endblock %}

{% block script %}
<script>{% include "templates/includes/list/list.js" %}</script>
{% endblock %}
