{% from "frappe/templates/includes/avatar_macro.html" import avatar %}
<div class="reply-card">
	{% set member = frappe.db.get_value("User", reply.owner, ["name", "full_name", "username"], as_dict=True) %}
	<div class="reply-header">
		{{ avatar(reply.owner) }}
		<a class="button-links topic-author ml-4"
			{% if get_profile_url %} href="{{ get_profile_url(member.username) }}" {% endif %}>
			{{ member.full_name }}
		</a>
		<div class="ml-2 frappe-timestamp" data-timestamp="{{ reply.creation }}"> {{ frappe.utils.pretty_date(reply.creation) }} </div>
	</div>
	<div class="reply-text">{{ frappe.utils.md_to_html(reply.reply) }}</div>
</div>
