<div class="sidebar-parent">
  <div class="sidebar-topic" data-target="#t{{ topic.name }}" data-toggle="collapse" aria-expanded="false">
    <div class="discussion-topic-title">{{ topic.title }}</div>
    <div class="mt-2 mb-3">
      {% set creator = frappe.get_doc("User", topic.owner) %}
      <span class="course-instructor ml-0">
        {{ creator.full_name }}
      </span>
      <span class="muted-text pull-right">
        <span class="mr-2">
          <img src="/assets/community/icons/message.svg">
          <span class="reply-count">{{ replies | length }}</span>
        </span>
        <span> {{ frappe.utils.format_date(topic.creation, "dd MMM YYYY") }} </span>
      </span>
    </div>
  </div>
  <div class="card-divider"></div>
</div>
