<div class="page-head flex">
	<div class="container">
		<div class="row flex-nowrap align-center page-head-content justify-between">
			<div class="page-title">
				<button class="btn-reset sidebar-toggle-btn navbar-brand">
					<svg class="icon icon-md sidebar-toggle-placeholder">
						<use href="#icon-menu"></use>
					</svg>
					<span class="sidebar-toggle-icon">
						<svg class="icon icon-md">
							<use href="#icon-panel-left-close">
							</use>
						</svg>
					</span>
				</button>
				<div class="flex title-area ellipsis">
					<ul class="nav d-sm-flex navbar-breadcrumbs ellipsis {{frappe.is_mobile() ? "mobile-no-divider" : ""}}  "></ul>
					<button class="btn btn-default more-button hide">
						<svg class="icon icon-sm">
							<use href="#icon-ellipsis">
							</use>
						</svg>
					</button>
					<span class="es-badge page-indicator-pill hide" data-testid="page-status"></span>
				</div>
			</div>
			<div class="align-center flex standard-items-section">
				<button id="small-search-button" class="btn-reset search-bar navbar-modal-search-mobile hidden" aria-label="{{ __("Search") }}">
					<span class="search-icon">
						<svg class="icon icon-sm"><use href="#icon-search"></use></svg>
					</span>
				</button>
				{% if(!frappe.is_mobile()) { %}
				<button id="full-search-button" class="btn btn-default navbar-modal-search-mobile search-widget-button hidden" aria-label="{{ __("Search") }}">
					<span class="search-widget-icon">
						{{ frappe.utils.icon("search") }}
					</span>
					<span class="search-widget-label">{%= __("Search") %}</span>
					<span class="search-widget-shortcut">
					{% if(frappe.utils.is_mac()) { %}
						⌘K
					{% } else { %}
						Ctrl+K
					{% } %}
					</span>
				</button>

				{% } %}
				<div class="flex col page-actions justify-content-end {% if frappe.is_mobile() %} pl-0 {% endif %}">
					<!-- buttons -->
					{% if (frappe.boot.read_only) { %}
					<span class="ml-2 es-badge read-only-banner" data-theme="amber" title="{%= __(" Your site is undergoing
						maintenance or being updated.") %}">
						{%= __("Read Only Mode") %}
					</span>
					{% } %}
					{% if (frappe.boot.user.impersonated_by) { %}
					<span class="ml-2 es-badge" data-theme="red" title="{%= __(" You are impersonating as another user.") %}">
						{%= __("Impersonating {0}", [frappe.boot.user.name]) %}
					</span>
					{% } %}
					<div class="filters flex"></div>
					<div class="custom-actions hide hidden-xs hidden-md"></div>
					<div class="custom-mobile-actions"></div>
					<div class="standard-actions flex">
						<span class="page-icon-group hide hidden-xs hidden-sm"></span>
						<div class="menu-btn-group hide">
							<button type="button" class="btn btn-default icon-btn menu-more-button" data-toggle="dropdown" aria-expanded="false" aria-label="{{ __("Menu") }}">
								<span>
									<span class="menu-btn-group-label">
										<svg class="icon icon-sm">
											<use href="#icon-ellipsis">
											</use>
										</svg>
									</span>
								</span>
							</button>
							<ul class="dropdown-menu dropdown-menu-right" role="menu"></ul>
						</div>
						<button class="btn btn-secondary btn-default btn-sm hide"></button>
						<div class="actions-btn-group hide">
							<button type="button" class="btn btn-primary btn-sm justify-center" data-toggle="dropdown" aria-expanded="false">
								<span>
									<span class="hidden-xs actions-btn-group-label">{%= __("Actions") %}</span>
									<svg class="icon icon-xs">
										<use href="#icon-chevrons-up-down">
										</use>
									</svg>
								</span>
							</button>
							<ul class="dropdown-menu dropdown-menu-right" role="menu">
							</ul>
						</div>
						<button class="btn btn-primary btn-sm hide primary-action"></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container page-body">
	<div class="page-toolbar hide">
		<div class="container">
		</div>
	</div>
	<div class="page-wrapper">
		<div class="page-content">
			<div class="workflow-button-area btn-group pull-right hide"></div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
