<div class="col-xs-12 col-sm-3 doclist-row has-checkbox image-view text-ellipsis">
	<div class="row">
		<div class="col-xs-12 image-view-col">
			{%= subject %}
		</div>
	</div>
	<!-- Image -->
	<div class="row">
		<div class="col-xs-12 image-view-col" align="center">
			<div class="pos-item-image image-field" data-name="{{ data.name }}" style="{% if (item_image) { %} background-image: {%= item_image %} {% }
			 	else { %} background-color: {{ color }} {% } %}">
				{% if (!item_image) { %}{%= frappe.get_abbr(data.name) %}{% } %}
				<table class="table table-condensed field-info">
					{% for (var i=0, l=columns.length; i < l; i++ ) {
					var col = columns[i], value=data[col.fieldname]; %}
					{% if(in_list(allowed_type, col.fieldtype)) { %}
					<tr>
						<td align="right" width="40%">{%= col.title %}</td>
						<td align="left" width="60%">{%= value %}</td>
					</tr>
					{% } %}
					{% } %}
				</table>
			</div>
		</div>
	</div>
	<div class="row">
		<!-- comment -->
		<div class="col-xs-12 image-view-col">
			<div class="row">
				<div class="col-xs-4">{%= list.get_indicator(data) %}</div>
				<div class="col-xs-8 text-right">
					<div class="hidden-xs">
			    		<span class="list-row-modified text-muted">
			                {%= comment_when(data.modified, true) %}
			    		</span>
				        {% if (data._assign_list.length) { %}
				    		<span class="filterable"
				                data-filter="_assign,like,%{%= data._assign_list[data._assign_list.length - 1] %}%">
				    			{%= frappe.avatar(data._assign_list[data._assign_list.length - 1]) %}</span>
				        {% } else { %}
				            <span class="avatar avatar-small avatar-empty"></span>
				        {% } %}
				    	<span class="list-comment-count small
							{% if(!data._comment_count) { %} text-extra-muted {% } else { %} text-muted {% } %}">
				    		<i class="octicon octicon-comment-discussion"></i>
				                {%= (data._comment_count > 99 ? "99+" : data._comment_count) || 0 %}
				        </span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
