<div class="list-item__content ellipsis
    {% if(col.type==="Subject") { %}
        list-item__content--flex-2
    {% } else { %}
        hidden-xs
    {% } %}
    {% if(col.df && ["Int", "Float", "Currency", "Percent"].indexOf(col.df.fieldtype)!==-1) { %}text-right{% } %}"
    {% if(col.type!=="Indicator" && col.title) { %}
        title="{%= col.title + ": " + value %}"
    {% } %}
>
    {% if (col.type==="Subject") { %}
        {%= subject %}
    {% } else if (col.type==="Indicator") { %}
        {%= indicator %}
    {% } else if (col.render) { %}
        {%= col.render(data) %}
    {% } else if (col.fieldtype==="Image") { %}
        {% if(data[col.df.options]) { %}
        <img src="{%= data[col.df.options] %}" style="max-height: 30px; max-width: 100%;">
        {% } else { %}
        <div class="missing-image small"><span class="octicon octicon-circle-slash"></span></div>
        {% } %}
    {% } else if(col.fieldtype==="Select") { %}
        <span class="filterable indicator {%= frappe.utils.guess_colour(value) %} ellipsis"
            data-filter="{%= col.fieldname %},=,{%= value %}">{%= __(value) %}</span>
    {% } else if(col.fieldtype==="Link") { %}
        <a class="filterable text-muted grey ellipsis"
            data-filter="{%= col.fieldname %},=,{%= value %}">{%= value %}</a>
    {% } else { %}
        <a class="filterable text-muted ellipsis"
            data-filter="{%= col.fieldname %},=,{%= value %}">
        {% if(formatters && formatters[col.fieldname]) { %}
            {{ formatters[col.fieldname](value, col.df, data) }}
        {% } else if(col.fieldtype == "Code") { %}
            {{ value }}
        {% } else { %}
            {{ frappe.format(value, col.df, null, data) }}
        {% } %}
        </a>
    {% } %}
</div>