<div class="list-row list-row-head">
    <div class="row doclist-row">
        <div class="col-xs-10
			{% if (list.meta.title_field && !list.settings.hide_name_column) { %}
                col-sm-8
            {% } else { %}
                col-sm-10
            {% } %} list-row-left">
            <!-- title + columns -->
            {%= main %}
        </div>

        <!-- id -->
        {% if (list.meta.title_field && !list.settings.hide_name_column) { %}
        <div class="list-col col-sm-2 hidden-xs text-right">
        </div>
        {% } %}

        <!-- comment -->
        <div class="list-col col-sm-2 hidden-xs text-right list-row-right"></div>
    </div>
</div>
