{% if (_checkbox) { %}
<input class="list-row-checkbox hidden-xs" type="checkbox" data-name="{{name}}">
{% } %}
{% if (!_hide_activity) { %}
<span class="liked-by" data-liked-by=\'{{ JSON.stringify(_liked_by) }}\'>
	<i class="octicon octicon-heart
	    {% if (_liked_by.indexOf(_user)===-1) { %}
	        text-extra-muted not-liked
	    {% }%}
	    fa-fw like-action"
	    data-name="{{ _name }}" data-doctype="{{ doctype }}">
	</i>
	<span class="likes-count">{{ (_liked_by.length > 99 ? "99+" : _liked_by.length) || "" }}</span>
</span>
{% } %}

{% var anchor_title = (_full_title).replace(/["]/g, "&\quot;"); %}
<a class="grey list-id {{ css_seen }} ellipsis"
	data-name="{{ _name }}"
	href="#Form/{{ _doctype_encoded }}/{{ _name_encoded }}"
    title="{{ anchor_title }}">{{ strip_html(_title) }}</a>
{% if (_workflow && !_without_workflow) { %}
<span class="label label-{{ _workflow.style }} filterable"
    data-filter="{{ _workflow.fieldname }},=,{{ _workflow.value }}">
	{%= _workflow.value %}</span>
{% } %}