<div class="row doclist-row {% if (data._checkbox) { %} has-checkbox {% } %}">
    <div class="col-xs-10
		{% if (meta.title_field && !settings.hide_name_column) { %}
            col-sm-8
        {% } else { %}
            col-sm-10
        {% } %} list-row-left">
        <!-- title + columns -->
        {%= main %}
    </div>

    <!-- id -->
    {% if (meta.title_field && !settings.hide_name_column) {
		var is_different = data.name !== data[meta.title_field];
	%}
    <div class="list-col col-sm-2 hidden-xs text-right ellipsis list-row-id">
		{% if (is_different) { %}
        <a class="text-muted list-value" href="#Form/{%= data._doctype_encoded %}/{%= data._name_encoded %}">
            {%= data.name %}</a>
		{% } %}
    </div>
    {% } %}

    <!-- comment -->
    <div class="list-col col-sm-2 col-xs-2
		text-right list-row-right" style="padding-left:0px">
		<div class="visible-xs list-row-indicator">{%= indicator_dot %}</div>
		<!-- comments count and assigned to section -->
		{%= frappe.render_template("item_assigned_to_comment_count", { data: data }) %}
    </div>
</div>
