<div class="row">
    {% var total_cols=0; for (var i=0, l=columns.length; i < l; i++ ) {
        var col = columns[i], value=data[col.fieldname]; total_cols += parseInt(col.colspan); %}
        {% if (total_cols <= 12) { %}
        <div class="col-sm-{%= col.colspan %} list-col text-ellipsis
            {% if(col.type==="Subject") {
				if (right_column) { %}
					col-xs-9
				{% } else { %}
					col-xs-12
				{% } %}
			{% } else if(right_column && col.fieldname===right_column) { %}
				col-xs-3
			{% } else { %}
				hidden-xs
			{% } %}
			{% if(col.df && ["Int", "Float", "Currency", "Percent"].indexOf(col.df.fieldtype)!==-1) { %}text-right{% } %}"
            {% if(col.type!=="Indicator" && col.title) { %}title="{%= col.title + ": " + value %}"{% } %}>
            {% if(col.type!=="Indicator") { %}<span class="list-value">{% } %}
            {% if (col.type==="Subject") { %}
                {%= subject %}
            {% } else if (col.type==="Indicator") { %}
                {%= list.get_indicator(data) %}
            {% } else if (col.render) { %}
                {%= col.render(data) %}
            {% } else if (col.fieldtype==="Image") { %}
                {% if(data[col.df.options]) { %}
                <img src="{%= data[col.df.options] %}" style="max-height: 30px; max-width: 100%;">
                {% } else { %}
                <div class="missing-image small"><span class="octicon octicon-circle-slash"></span></div>
                {% } %}
            {% } else if(col.fieldtype==="Select") { %}
                <span class="filterable indicator {%= frappe.utils.guess_colour(value) %}"
                    data-filter="{%= col.fieldname %},=,{%= value %}">{%= value %}</span>
            {% } else if(col.fieldtype==="Link") { %}
                <a class="filterable h6 text-muted grey"
                    data-filter="{%= col.fieldname %},=,{%= value %}">{%= value %}</a>
            {% } else { %}
                {% if(list.settings.formatters
                    && list.settings.formatters[col.fieldname]) { %}
                    {{ list.settings.formatters[col.fieldname](value, col.df, data) }}
                {% } else { %}
                    {{ frappe.format(value, col.df, null, data) }}
                {% } %}
            {% } %}
            {% if(col.type!=="Indicator") { %}</span>{% } %}
        </div>
        {% } %}
    {% } %}
</div>
