<div style="padding-left: 20px;">
    <i class="octicon octicon-lock" style="float: left; margin-left: -20px;"></i>
    {% for(var i=0; i < condition_list.length; i++) {
        var conditions = condition_list[i]; %}
        <div style="margin-bottom: 5px;">
            {% if (i > 0) { %}<span style="margin-right: 10px;">{{ __("Or") }}</span>{% } %}
            {% for(key in conditions) { %}
                <span class="label label-default" style="margin-right: 10px;">
                    {% if(conditions[key].length) { %}
                        {{ key }} = {{ frappe.utils.comma_or(conditions[key]) }}
                    {% } else { %}
                        {{ __("{0} is not set", [key]) }}
                    {% } %}
                </span>
            {% } %}
        </div>
    {% } %}
</div>
<!-- <p class="text-muted" style="margin-top: 15px; margin-bottom: 0px;">
    {{ __("Note: fields having empty value for above criteria are not filtered out.") }}
</p> -->
