<div class="row doclist-row {% if (data._checkbox) { %} has-checkbox {% } %}">
    <div class="col-xs-10
		{% if (list.meta.title_field && !list.settings.hide_name_column) { %}
            col-sm-8
        {% } else { %}
            col-sm-10
        {% } %} list-row-left">
        <!-- title + columns -->
        {%= main %}
    </div>

    <!-- id -->
    {% if (list.meta.title_field && !list.settings.hide_name_column) {
		var is_different = data.name !== data[list.meta.title_field];
	%}
    <div class="list-col col-sm-2 hidden-xs text-right text-ellipsis list-row-id">
		{% if (is_different) { %}
        <a class="text-muted list-value" href="#Form/{%= data._doctype_encoded %}/{%= data._name_encoded %}">
            {%= data.name %}</a>
		{% } %}
    </div>
    {% } %}

    <!-- comment -->
    <div class="list-col col-sm-2 col-xs-2
		text-right list-row-right">
		<div class="visible-xs pull-right list-row-indicator">{%= list.get_indicator_dot(data) %}</div>
		<div class="hidden-xs pull-right">
	        {% if (data._assign_list.length) { %}
	    		<span class="filterable"
	                data-filter="_assign,like,%{%= data._assign_list[data._assign_list.length - 1] %}%">
	    			{%= frappe.avatar(data._assign_list[data._assign_list.length - 1]) %}</span>
	        {% } else { %}
	            <span class="avatar avatar-small avatar-empty"></span>
	        {% } %}
	    	<span class="h6 {% if(!data._comments_list.length) { %}text-extra-muted{% } %}">
	    		<i class="octicon octicon-comment-discussion"></i>
	                {%= data._comments_list.length || 0 %}
	        </span>
		</div>
		<div class="pull-right list-row-modified">
            <span class="text-muted">
                {%= comment_when(data.modified, true) %}</span>
		</div>
    </div>
</div>
