<div class="row">
    {% var total_cols=0; for (var i=0, l=columns.length; i < l; i++ ) {
        var col = columns[i]; total_cols += parseInt(col.colspan); %}
        {% if (total_cols <= 12) { %}
        <div class="col-sm-{%= col.colspan %} list-col text-ellipsis h6 text-muted
            {% if(col.type==="Subject") {
				if (right_column) { %}
					col-xs-9
				{% } else { %}
					col-xs-12
				{% } %}
			{% } else if(right_column && col.fieldname===right_column) { %}
				col-xs-3
			{% } else { %}
				hidden-xs
			{% } %}
			{% if(col.df && ["Int", "Float", "Currency", "Percent"].indexOf(col.df.fieldtype)!==-1) { %}text-right{% } %}">

			{% if (col.type==="Subject") { %}
				{%= frappe.render_template("header_select_all_like_filter", { _checkbox: _checkbox }) %}
			{% } %}

            <span class="list-value">{%= __(col.title) || __(col.label) || "" %}</span>
        </div>
        {% } %}
    {% } %}
</div>
