.download-backups {
	font-size: var(--text-base);
	height: 100vh;
	align-items: center;
    justify-content: center;
}
.no-backup-message{
    min-height: 50vh;
	text-align: center;
}

.download-backup-card {
	display: block;
	text-decoration: none;
	margin-bottom: var(--margin-lg);
}

.download-backup-card:hover {
	box-shadow: var(--shadow-md);
	text-decoration: none;
}
