html { 
	margin: 0px;
	padding: 0px;
}

body {	
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	color: #000;
}

body {
	background-color: #eee;
}

footer {
	background: #b7b7b7; /* Old browsers */
	background: -moz-linear-gradient(top,  #b7b7b7 0%, #eeeeee 36%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b7b7b7), color-stop(36%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b7b7b7 0%,#eeeeee 36%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b7b7b7 0%,#eeeeee 36%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b7b7b7 0%,#eeeeee 36%); /* IE10+ */
	background: linear-gradient(top,  #b7b7b7 0%,#eeeeee 36%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7b7b7', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	border-top: 1px solid #999;
	text-align: center;
	color: inherit;
	padding: 10px;
	font-size: 12px;
	line-height: 1.7;
}

label {
	padding-top: 15px;
	color: #404040;
}

.link_type {
	padding:2px;
	color: #0088cc;
	cursor: pointer;
}

.link_type:hover {
	color: #005580;
	text-decoration: underline;
}

:focus { -moz-outline-style:none; }

table.simpletable { border-collapse: collapse; margin-bottom: 10px;}
table.simpletable td {border: 1pt solid #000; vertical-align: top; padding: 2px; }

div.fix_ff_cursor { overflow: auto; }

/* --- Layout --- */

div.comment { color: #444; }

.help {
	margin-bottom: 3px;
	color: #888;
}

div#body_div {
	padding-right: 7px;
	padding-top: 70px;
	padding-bottom: 50px;
	min-height: 400px;
}

.content {
	margin: auto;
	width: 900px;
}

.background-fade-in {
	-webkit-transition: background 1s ease-in; /* property duration timing-function delay */
    -moz-transition: background 1s ease-in;
    -o-transition: background 1s ease-in;
    transition: background 1s ease-in;
}

header .container {
	width: 900px;
	margin: auto;
}

@media (max-width: 1200px) {
	header .container, .content {
		width: 900px;
	}
}

@media (min-width: 1200px) and (max-width: 1599px) {
	header .container, .content {
		width: 1100px;
	}
}

@media (min-width: 1600px) {
	header .container, .content {
		width: 1100px;
	}
	div#body_div {
		min-height: 900px;
	}
}

div.no_script {
	display: none;
}

div.loading_div {
	background-color: #FFFFCC;
	z-index: 1999;
	right: 5px;
	width: 90px;
	display: none;
	text-align: center;
	padding: 2px;
	border: 1px solid #FF4;
}

div.std-footer {
	margin: 13px -15px;
	border-top: 1px solid #AAA;
	padding: 13px;
}

div.std-footer-item {
	margin: 0px 13px 13px 0px;
}

.shadow {
	-moz-box-shadow: 0px 2px 2px #888;
	-webkit-box-shadow: 0px 2px 2px #888;
 	box-shadow: 0px 2px 2px #888;
}

.round {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
}

.clear {
	clear: both;
}