
/*
 *	lib/public/css/legacy/fields.css
 */
/* Documents */


.help ol {
	padding-left: 19px;
}

.field_description_top {
	margin-bottom: 3px;
}


.link-field .btn { 
	padding-left: 6px; 
	padding-right: 6px; 
}

.disp-area { 
	background-color: #eee;
	padding: 6px;
	margin-bottom: 7px;
	border-radius: 3px;	
}
.disp-area-no-val { 
	height: 30px; 
}