
/* FLOATING MESSAGE */

.btn-img { cursor: pointer; }

div.fetching { color: #888; text-align:right; }

.msgprint {
	min-height: 60px; 
	max-height: 500px;
	padding: 9px;
	color: #333;
	overflow: auto;
}

div.notice {
	postion: absolute;
	background-color: #000;
	-moz-border-radius: 5px; -webkit-border-radius: 5px;
	opacity: 0.6;
	right: 0;
	top: 0;
	margin-top: 8px;
	z-index: -1;
	padding: 8px;
}

/** help **/

.info-box {
    background-color: #F8F8F8;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    line-height: 1.6em;
    overflow: auto;
    padding: 6px 10px;
	margin-bottom: 9px;
}

.help_box, .help-box {
	background-color: #ffe;
	padding: 9px 9px 9px 9px;
	border: 1px dashed #fc7;
	margin: 11px 0px;
}

.help-box, .help-box p, .help-box h1, .help-box h2, .help-box h3, .help-box h4 {
	color: #643;
}
