div.psidebar {
}

div.psidebar div.head {
	font-size: 14px;
	font-weight: bold;
	color: #555;
	margin-bottom: 12px;
}

div.section {
	margin-bottom: 15px;
	overflow: hidden;
}

div.section div.section-head {
	padding: 5px 0px;
	font-size: 109%;
	font-weight: bold;
}

div.section div.section-body {
	
}

div.section div.section-item {
	margin-bottom: 7px;
}

div.section div.section-item, div.section .section-link {
	color: #666;
}