{% extends "templates/web.html" %}

{%- block title -%}{{_("Not Found")}}{%- endblock -%}

{% block navbar %}{% endblock %}
{% block footer %}{% endblock %}

{% block page_content %}
<style>
	body {
		background-color: var(--subtle-accent);
		font-size: var(--text-base);
	}
</style>

<script>
	window.is_404 = true;
</script>

<div class="error-page">
	<div>
		<h4>
			{{ _("Page not found") }}
		</h4>
		<div class="details">
			<a href='/' class="text-muted">{{ _("Back to Home") }}</a>
		</div>
	</div>
</div>

{% endblock %}
