.container {
    max-width: 800px;
    padding: 0 1.25rem;
}

.apps-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(4.5rem, 1fr));
    gap: 4rem;
}

.app-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.app-logo {
    width: 4.5rem;
    height: 4.5rem;
    object-fit: cover;
    transition: transform 0.2s;
    border-radius: 13px;
}

.app-icon:hover {
    text-decoration: none;
}

.app-icon:hover .app-logo {
    transform: scale(1.05);
}

.app-title {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    white-space: nowrap;
    color: var(--gray-900);
}

@media (max-width: 575px) {
    .apps-container {
        grid-template-columns: repeat(auto-fill, minmax(3.5rem, 1fr));
        gap: 2rem;
    }

    .app-logo {
        width: 3.5rem;
        height: 3.5rem;
    }

    .app-title {
        font-size: 0.75rem;
    }
}