{% extends "templates/web.html" %}

{% block style %}
<style>
{% include "templates/includes/login/login.css" %}
</style>
{% endblock %}

{% block page_content %}
<div class="login-content container" style="max-width: 800px;">
	<form role="form form-signin" method="POST"
        action="/api/method/frappe.templates.pages.login.login_oauth_user">
		<h2 class="form-signin-heading">{{ _("One Last Step") }}</h2>
        <input type="hidden" name="key" value="{{ frappe.form_dict.key }}">
		<input type="email" name="email_id"
			class="form-control" placeholder="{{ _('Email Address') }}" required autofocus><br>
		<input name="first_name"
			class="form-control" placeholder="{{ _('First Name') }}" required><br>
		<input name="last_name"
			class="form-control" placeholder="{{ _('Last Name') }}">
		<br>
		<button class="btn btn-primary btn-complete-signup" type="submit">{{ _("Complete") }}</button>
	</form>
</div>
{% endblock %}
