{% extends "templates/web.html" %}

{% block title %} Feedback {% endblock %}

{% block page_content %}
<p class='lead'></p>

<div>
	{{ _("Your rating: ") }}
	<i class='fa fa-fw fa-star-o star-icon' data-idx=1></i>
	<i class='fa fa-fw fa-star-o star-icon' data-idx=2></i>
	<i class='fa fa-fw fa-star-o star-icon' data-idx=3></i>
	<i class='fa fa-fw fa-star-o star-icon' data-idx=4></i>
	<i class='fa fa-fw fa-star-o star-icon' data-idx=5></i>
</div>

<div style='max-width: 500px;'>
	<p>{{ _("Detailed feedback") }}</p>
	<textarea class='form-control feedback-text' style='min-height: 300px;'></textarea>
</div>

<p><button class='btn btn-primary btn-sm btn-submit'>{{ _("Submit") }}</button></p>

<script>
	window.feedback = {
		init: function() {
			var me = this;

			this.key = get_url_arg("key");
			this.reference_name = get_url_arg("reference_name");
			this.reference_doctype = get_url_arg("reference_doctype");
			this.sender = get_url_arg("email")

			me.bind_events();
			$(".lead").empty().html(__("Please share your feedback for {0}", [me.reference_name]));
		},

		bind_events: function() {
			// bind ratings on hover
			var me = this;

			$('.star-icon').hover(function() {
				var idx = $(this).attr('data-idx');
				$('.star-icon.fa-star').removeClass('fa-star').addClass('fa-star-o');
				for(var i=0; i<parseInt(idx); i++) {
					$($('.star-icon').get(i)).removeClass('fa-star-o').addClass('fa-star');
				}
			});

			// bind submit button
			$('.btn-submit').on('click', function() {
				if(!$('.star-icon.fa-star').length) {
					frappe.msgprint(__("Please give a rating."));
					return;
				}

				frappe.call({
					method: 'frappe.www.feedback.accept',
					args: {
						nonce: me.key,
						sender: me.sender,
						reference_name: me.reference_name,
						reference_doctype: me.reference_doctype,
						feedback: $('.feedback-text').val(),
						rating: $('.star-icon.fa-star').length
					},
					callback: function(r) {
						if(r.message)
							frappe.msgprint("Thank you");
					}
				})
			});
		}
	};

	frappe.ready(function() {
		feedback.init();
	})
</script>
{% endblock %}
