{% extends "templates/web.html" %}

{% block title %}{{ _("My Account") }}{% endblock %}
{% block header %}<h1>{{ _("My Account") }}</h1>{% endblock %}

{% block page_content %}
<!-- no-cache -->
<div class="row your-account-info d-none d-sm-block">
	<div class="col-sm-4">
		<ul class="list-unstyled">
			<li><a href="/update-password">{{ _("Reset Password") }}</a></li>
			<li><a href="/update-profile?name={{ user }}">{{ _("Edit Profile") }}</a></li>
			<li><a href="/third_party_apps">{{ _("Manage Third Party Apps") }}</a></li>
		</ul>
	</div>
</div>
<div class="row d-block d-sm-none">
	<div class="col-12">
		<ul class="list-group">
			{% for item in sidebar_items -%}
				<a class="list-group-item" href="{{ item.route }}"
					{% if item.target %}target="{{ item.target }}"{% endif %}>
					{{ _(item.title or item.label) }}
				</a>
			{%- endfor %}
		</ul>
	</div>
</div>
{% endblock %}
