{% extends "templates/web.html" %}

{% block title %}{{ heading or "Recorder"}}{% endblock %}

{% block page_content %}
<div class="recorder-content">
	<div>
		<h3>Recorder</h3>
	</div>
	<div>
	{% for path, lines in result.items() %}
		<div>{{ path }}</div>
		<div>
		{% for line in lines %}
			<div>
				<div>{{ line.function }}</div>
				<div>{{ line.args }}</div>
				<div>{{ line.kwargs }}</div>
				<div>{{ line.result }}</div>
			</div>
		{% endfor %}
		</div>
	{% endfor %}
	</div>
</div>
{% endblock %}
