<header class="px-4 py-4 bg-white border-b border-gray-200 sm:px-6 lg:px-8">
	<div
		class="container relative z-10 flex items-center justify-between ">
		<div class="flex items-end">
			<a href="/components" class="block">
				<span>{{ brand_html or (frappe.get_hooks("brand_html") or [_("Home")])[0] }}</span>
			</a>
		</div>

		<div class="flex items-center text-sm leading-5 space-x-8">
			{%- for item in theme.navbar_items -%}
			{{ c('navbar_link', label=item.label, url=item.url) }}
			{%- endfor -%}
            {{ c('navbar_link', label=_('Login'), url='/login') }}
            {%- if theme.primary_action_label and theme.primary_action_url -%}
                {{ c('button', label=theme.primary_action_label, url=theme.primary_action_url, variant="primary") }}
            {%- endif -%}
		</div>
	</div>
</header>
