.app-listing {
	border-top: 1px solid #d1d8dd;
}

#page-applications .media-body {
	margin-top: 3px;
}

#page-applications .app-icon-wrapper {
	padding-right: 15px;
}

#page-applications .app-buttons .btn {
	width: 64px;
	text-align: center;
}
