<div class="app-listing padding" data-category="{{ app.app_category || "Not set" }}"
    data-title="{{ app.app_title }}"
        {{ app.installed ? "data-installed=1" : "" }}
        {{ app.featured ? "data-featured=1" : "" }}>
	<div class="media">
		<div class="pull-right app-buttons">
			<a class="btn btn-default btn-xs"
                href="{{ app.app_url }}" target="_blank" rel="noopener noreferrer">{{ __("Website") }}</a>
			{% if (app.installed) { %}
			<button class="btn btn-danger btn-xs btn-remove"
                data-title="{{ app.app_title }}"
                data-app="{{ app.app_name }}" {% if app.app_name === "erpnext" || app.app_name === "frappe" %}disabled{% endif %}>
                {{ __("Remove") }}</button>
			{% } else { %}
			<button class="btn btn-primary btn-xs install"
                data-app="{{ app.app_name }}"
                data-title="{{ app.app_title }}"
                >{{ __("Install") }}</button>
			{% } %}
		</div>
		<div class="pull-left app-icon-wrapper">{{ app.app_icon }}</div>
		<div class="media-body">
			<h5 class="media-heading">{{ app.app_title }}</h5>
			<div class="text-muted">
				{{ app.app_description }}<br>
				{{ __("Publisher") }}: {{ app.app_publisher }}
                | {{ __("Version") }}: {{ app.app_version }}
			</div>
		</div>
	</div>
</div>
