<div class="goal-container">
    <div class="goal-title">{%= title %}</div>
    <div class="goal-graphics">
        <span class="inline-graph">
            <span class="inline-graph-half" title="Completed">
                <span class="inline-graph-count">{%= completed %}</span>
                <span class="inline-graph-bar">
                    <span class="inline-graph-bar-inner" style="width: 25%"></span>
                </span>
            </span>

            <span class="inline-graph-half" title="Actual Qty 12 / Waiting Qty 0">
                <span class="inline-graph-count">{%= remaining %} <span style="font-size: 16px;"> to go</span></span>
                <span class="inline-graph-bar">
                    <span class="inline-graph-bar-inner dark" style="width: 100%"></span>
                </span>
            </span>
        </span>
    </div>
</div>