.avatar {
	display: inline-block;
	vertical-align: middle;
}

.avatar-frame {
	display: inline-block;
	width: 100%;
	height: 100%;
	// TODO: Remove
	// background-color: var(--pink-200);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 50%;
}

.avatar img {
	max-width: 100%;
	max-height: 100%;
	border-radius: 50%;
}

.avatar-small {
	width: 28px;
	height: 28px;
	text-align: center;

	.standard-image {
		font-size: $font-size-xs;
	}

	.avatar-empty::after {
		content: '\002D';
		line-height: 28px;
	}
}

.avatar-medium {
	width: 36px;
	height: 36px;

	.standard-image {
		font-size: 18px;
	}
}

.avatar-large {
	width: 72px;
	height: 72px;


	.standard-image {
		font-size: 36px;
	}
}

.avatar-xl {
	width: 108px;
	height: 108px;

	.standard-image {
		font-size: 36px;
	}
}

.avatar-xs {
	width: 16px;
	height: 16px;

	.standard-image {
		font-size: 9px;
	}
}

.avatar .standard-image {
	border-radius: 50%;
	border: none;
}

.standard-image {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--blue-50);
	color: var(--blue-500);
	font-weight: normal;
}

.avatar-group {
	display: inline-flex;
	align-items: center;
	flex-direction: row-reverse;
	&.right {
		justify-content: flex-start;
	}
	&.left {
		justify-content: flex-end;
	}

	.avatar-action {
		display: none;
		margin-left: var(--margin-sm);
		.icon {
			use {
				stroke: var(--grey-500);
			}
		}
	}

	// .avatar-small {
	// 	width: 24px;
	// 	height: 24px;
	// }

	&:hover {
		.avatar {
			margin-left: 12px;
		}

		.avatar-action {
			display: block;
		}
	}

	.avatar {
		.avatar-frame {
			border: 1px solid $white;
		}
	}

	.avatar-extra-count {
		font-size: var(--text-sm);
	}

	.avatar + .avatar {
		margin-right: -0.3rem;
	}
}