.avatar {
	display: inline-block;
	vertical-align: middle;
}

.avatar-frame {
	display: inline-block;
	width: 100%;
	height: 100%;
	background-color: var(--blue-100);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 50%;
}

.avatar img {
	max-width: 100%;
	max-height: 100%;
	border-radius: 50%;
}

.avatar-small {
	width: 28px;
	height: 28px;
	text-align: center;

	.standard-image {
		font-size: var(--text-xs);
	}

	.avatar-empty::after {
		content: '\002D';
		line-height: 28px;
	}
}

.avatar-medium {
	width: 36px;
	height: 36px;

	.standard-image {
		font-size: var(--text-base);
	}
}

.avatar-large {
	width: 72px;
	height: 72px;


	.standard-image {
		font-size: var(--text-2xl);
	}
}

.avatar-xl {
	width: 108px;
	height: 108px;

	.standard-image {
		font-size: var(--text-2xl);
	}
}

.avatar-xs {
	width: 16px;
	height: 16px;

	.standard-image {
		font-size: 9px;
	}
}

.avatar .standard-image {
	border-radius: 50%;
	border: none;
}

.standard-image {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--gray-50);
	color: var(--blue-500);
	font-weight: normal;
}

.avatar-group {
	display: inline-flex;
	align-items: center;
	flex-direction: row-reverse;

	&.right {
		justify-content: flex-start;
	}
	&.left {
		justify-content: flex-end;
	}

	.avatar-action {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(--control-bg);

		.icon {
			use {
				stroke: var(--text-muted);
			}
		}
	}

	.avatar {
		transition: margin .1s ease-in-out;
		.avatar-frame {
			border: 1px solid var(--fg-color);
		}

		&:not(.avatar-extra-count):hover {
			z-index: 99;
		}
	}

	.avatar-extra-count {
		font-size: var(--text-sm);
		font-weight: 500;
		color: $white;
		background-color: var(--blue-500);
	}

	.avatar {
		margin-right: var(--margin-xs);
	}

	&.overlap {
		.avatar + .avatar {
			margin-right: calc(-1 * var(--margin-sm));
		}
	}
}