// REDESIGN-TODO: Review
.awesomplete {
	[hidden] {
		display: none;
	}

	.visually-hidden {
		position: absolute;
		clip: rect(0, 0, 0, 0);
	}

	&> input {
		display: block;
	}

	&> ul:empty {
		display: none;
	}

	&> ul {
		position: absolute;
		min-width: 100%;
		list-style: none;
		background-color: var(--fg-color);
		max-height: 200px;
		overflow-x: hidden;
		border-radius: 0px 0px var(--border-radius-sm) var(--border-radius-sm);
		box-shadow: var(--shadow-md);
		border: 1px solid var(--border-color);
		padding: 0;
		color: var(--text-light);

		&> li {
			cursor: pointer;
			font-size: 12px;
			padding: var(--padding-sm);
		}

		&> li .link-option {
			font-weight: normal;
		}

		&> li:hover, &> li[aria-selected=true] {
			background-color: var(--control-bg);
			color: var(--text-color);
		}

		a:hover {
			text-decoration: none;
		}

		p {
			margin: 3px 0;
		}
	}
}