.card-img-top {
	width: 100%;
	overflow: hidden;
	height: 12rem;
	width: auto;

	img {
		width: 100%;
		min-height: 100%;
	}
}

.blog-container {
	max-width: 840px;
	font-size: 16px;
	margin: 0px auto;
	font-family: Inter, sans-serif;

	.blog-intro {
		font-size: 1.25rem;
		font-weight: 300;
	}

	.blog-content {
		p {
			line-height: 1.8;
			margin-bottom: 1.2rem;
		}

		h1 {
			font-size: 2rem;
		}

		h1.blog-header {
			font-size: 2.5rem;
		}

		h2 {
			font-size: 1.75rem;
		}

		h3 {
			font-size: 1.5rem;
		}

		h4 {
			font-size: 1.25rem;
		}

		h5,
		h6 {
			font-size: 1rem;
		}

		h1,
		h2,
		h3 {
			margin-top: 2rem;
		}

		h4,
		h5,
		h6 {
			margin-top: 1.5rem;
		}

		img {
			border-radius: $border-radius;
		}

		blockquote {
			font-weight: 300;
			padding: 1.2rem 1.8rem;
			border-left: 8px solid $gray-300;
			background: $gray-100;
		}
	}
}
