.blog-list {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;

	&.result {
		border-bottom: none;
	}
}

.blog-card {
	margin-bottom: 3rem;
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;

	flex: 0 0 33.33333%;
	max-width: 33.33333%;

	&.featured {
		flex: 0 0 66.66667%;
		max-width: 66.66667%;
	}

	.card-body {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.card-img-top {
		width: 100%;
		overflow: hidden;
		height: 12rem;
		width: auto;

		img {
			width: 100%;
			min-height: 100%;
		}

		.default-cover {
			height: 100%;
			width: 100%;
			padding: 1rem;
			display: flex;
			align-items: center;
			justify-content: center;
			background: $gray-200;

			font-size: 1.2rem;
			font-weight: 500;
			color: $gray-600;
		}
	}

	.blog-card-footer {
		display: flex;
		align-items: center;
		margin-top: 0.5rem;

		.avatar {
			margin-right: 0.5rem;
			border-radius: 50%;
		}
	}
}

.blog-container {
	font-size: 16px;
	max-width: 800px;
	margin: 0px auto;

	.blog-content {
		margin-bottom: 1rem;

		.blog-header {
			margin-bottom: 3rem;
			margin-top: 3rem;
		}
	}

	.blog-footer {
		display: flex;
		justify-content: space-between;
		color: #8d99a6;
		margin-top: 3rem;
	}

	.blog-intro {
		font-size: 1.25rem;
		font-weight: 300;
	}

	.blog-content {
		line-height: 1.8;

		p {
			margin-bottom: 1.2rem;
		}

		ul, ol {
			margin-top: 1rem;
		}

		hr {
			margin: 2rem auto;
		}

		h1 {
			margin-top: 2rem;
			font-weight: 800;
			font-size: 2rem;
		}

		h1.blog-title {
			margin-top: 2rem;
			font-weight: 800;
			font-size: 2.5rem;
		}

		h2 {
			margin-top: 2rem;
			font-weight: 700;
			font-size: 1.75rem;
		}

		h3 {
			margin-top: 2rem;
			font-weight: 600;
			font-size: 1.5rem;
		}

		h4 {
			font-weight: 500;
			margin-top: 1.5rem;
			font-size: 1.25rem;
		}

		h5,
		h6 {
			font-weight: 500;
			margin-top: 1.5rem;
			font-size: 1rem;
		}

		img {
			border-radius: $border-radius;
		}

		blockquote {
			margin: 2rem auto;
			width: 90%;
			padding-top: 2rem;
			padding-bottom: 0.8rem;

			border-top: 1px solid $gray-200;
			border-bottom: 1px solid $gray-200;

			text-align: center;
			font-size: 1.2rem;
			font-weight: 500;
		}
	}
}
