@import "grid";

/* table multiselect */
.table-multiselect {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	height: auto;
	padding: 10px;
	padding-bottom: 5px;
}

.table-multiselect.form-control input {
	display: inline-block;
	outline: none;
	border: none;
	padding: 0;
	font-size: var(--text-xs);
}

.table-multiselect .awesomplete {
	display: inline;
}

.awesomplete .input-with-feedback {
	background-color: var(--control-bg);
}

.frappe-control {
	font-size: var(--text-md);
}

.frappe-control[data-fieldtype="Select"] .control-input {
	position: relative;

	select {
		/* for Firefox */
		-moz-appearance: none;
		/* for Chrome */
		-webkit-appearance: none;
	}

	.icon {
		position: absolute;
		top: 8px;
		height: 15px;
		right: 12px;
		pointer-events: none;
		use {
			stroke: var(--text-muted);
		}
	}
}