/* table multiselect */
.table-multiselect {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	height: auto;
	padding: 10px;
	padding-bottom: 5px;
}

.table-multiselect.form-control input {
	display: inline-block;
	outline: none;
	border: none;
	padding: 0;
	font-size: var(--text-xs);
	background-color: var(--control-bg);
}

.table-multiselect .awesomplete {
	display: inline;
}