.filter-icon.active {
	use {
		stroke: var(--blue-500);
	}
}

.filter-popover {
	min-width: 500px;
	min-height: 50px;
	font-size: var(--text-md);
}

.filter-box {
	padding: $padding-xs $padding-md $padding-xs 0;

	.form-group {
		@include media-breakpoint-up(xs) {
			margin-bottom: 0;
		}
	}

	.remove-filter {
		cursor: pointer;
		line-height: 2;
	}

	.filter-field {
		.frappe-control {
			position: relative;
			margin-bottom: 0;
		}
	}
}

.filter-action-buttons {
	display: flex;
	justify-content: space-between;

	.add-filter {
		line-height: 2;
		cursor: pointer;
	}
}

.divider {
	margin-right: -10px;
	margin-left: -10px;
}

// for sm and above
@include media-breakpoint-up(sm) {
	.filter-box .row > div[class*="col-sm-"] {
		padding-right: 0px;
	}
	.filter-field {
		.frappe-control {
			position: relative;
		}
	}
}
