.form-control {
	border: none;
	font-size: var(--text-md);
}

.form-section .section-body {
	width: 100%;
	@extend .row;
	margin: 0;
	&:first-child {
		margin-top: var(--margin-sm);
	}
}

.form-section {
	margin: 0px;

	.form-section-description {
		margin-bottom: 10px;
	}

	.section-head {
		@extend .head-title;
		width: 100%;
		padding: var(--padding-sm) var(--padding-md);
		margin: 0;
		cursor: pointer;

		.collapse-indicator {
			color: $text-muted;
			margin-left: 10px;
			position: relative;
			bottom: -1px;
		}

		.collapse-indicator.octicon-chevron-up {
			bottom: -2px;
		}
	}
	.section-head.collapsed {
		margin-bottom: 0px;
	}
}

.empty-section {
	display: none !important;
	border: 0 !important;
}

.modal {
	.form-section {
		padding: 10px 0;

		&:not(:first-child) {
			border-top: 1px solid var(--border-color);
		}

		.form-column {
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
			}
		}

		.section-head {
			padding: 0;
			padding-bottom: 10px;
			font-size: $font-size-md;
		}
	}
}

.form-section.card-section {
	margin-bottom: var(--margin-lg);
	@extend .frappe-card;
}


.form-dashboard {
	.section-head {
		font-size: var(--text-xl);
	}
	.form-dashboard-section {
		padding: var(--padding-md);
		border-bottom: 1px solid var(--border-color);
	}

	.form-dashboard-section:first-child {
		padding-top: 0px;
	}

	.form-dashboard-section:last-child {
		border-bottom: none;
	}
}

.control-label,
.grid-heading-row {
	color: var(--text-light);
	font-size: var(--text-sm);
}

.form-inner-toolbar {
	padding-top: var(--padding-md);
	text-align: right;
}

.form-control.bold {
	font-weight: 500;
}

.like-disabled-input {
	margin-bottom: 7px;
	border-radius: $border-radius;
	min-height: 30px;
	font-weight: 400;
	color: var(--gray-500);
	background-color: var(--control-bg);
	padding: var(--padding-xs) var(--padding-sm);
}

.comment-box {
	@include card();
	padding: 25px var(--padding-xl);
	.comment-input-header {
		@extend .head-title;
		margin-bottom: var(--margin-sm);
	}
	.comment-input-container {
		.frappe-control {
			margin-bottom: var(--margin-xs);
		}
		.ql-editor {
			background-color: var(--control-bg);
		}
	}

	.btn-comment {
		margin-top: var(--margin-md);
	}
}

.form-dashboard-wrapper {
	width: 100%;
}

.form-links {
	color: var(--text-color);
	.form-link-title {
		margin-top: var(--margin-md);
		margin-bottom: var(--margin-sm);
		font-weight: var(--text-bold);
	}
	.row:first-child {
		.form-link-title {
			margin-top: 0;
		}
	}
	.document-link {
		margin-bottom: var(--margin-sm);
		display: flex;
		.badge-link {
			font-size: var(--text-md);
			padding: var(--padding-xs) var(--padding-sm);
			border-radius: var(--border-radius);
			background-color: var(--control-bg);
			.count {
				font-size: var(--text-xs);
				background-color: var(--gray-500);
				border-radius: var(--border-radius-sm);
				color: var(--gray-50);
				padding: 0 var(--padding-xs);
				margin-right: var(--margin-xs);
			}
			&:hover:not([disabled='disabled']) {
				text-decoration: underline;
			}
		}
		.open-notification {
			display: inline-flex;
			align-items: center;
			background-color: var(--red-100);
			font-size: var(--text-xs);
			padding: 0 var(--padding-sm);
			color: var(--red-400);
			border-radius: var(--border-radius);
			cursor: pointer;
		}
		.btn-new, .open-notification {
			margin-left: var(--margin-sm);
		}
		.btn-new {
			box-shadow: none;
		}
	}
}

.inline-graph {
	.inline-graph-half {
		width: 48%;
		display: inline-block;
		position: relative;
		height: 30px;

		.inline-graph-count {
			font-size: 10px;
			position: absolute;
			left: 0;
			right: 0;
			top: 3px;
			padding: 0px 5px;
			text-align: left;
		}
		.inline-graph-bar {
			position: absolute;
			left: 0;
			right: 0;
			top: 20px;
		}
		.inline-graph-bar-inner {
			display: block;
			float: left;
			background-color: var(--border-color);
			height: 6px;
			border-radius: 0px 3px 3px 0px;
		}
		.inline-graph-bar-inner.dark {
			background-color: var(--primary-color);
		}

	}
	.inline-graph-half:first-child {
		border-right: 1px solid var(--border-color);
		margin-right: -3px;

		.inline-graph-count {
			text-align: right;
		}

		.inline-graph-bar-inner {
			float: right;
			border-radius: 3px 0px 0px 3px;
		}
	}
}

.form-message {
	padding: var(--padding-md) var(--padding-xl);
}

.frappe-control[data-fieldtype="Table"] {
	margin-bottom: 0px
}

.scroll-to-top {
	position: absolute;
	height: 28px;
	right: 0;
}