.form-control {
	border: none;
	background-color: $control-bg;
	color: $text-color;
	box-shadow: none;
	border-radius: $border-radius;
	font-size: var(--text-md);
}

.form-section .section-body {
	width: 100%;
	@extend .row;
	margin: 0;
}

.form-section {
	margin: 0px;

	.form-section-description {
		margin-bottom: 10px;
	}

	.section-head {
		@extend .head-title;
		width: 100%;
		padding: var(--padding-md);
		margin: 0;
		cursor: pointer;

		.collapse-indicator {
			color: $text-muted;
			margin-left: 10px;
			position: relative;
			bottom: -1px;
		}

		.collapse-indicator.octicon-chevron-up {
			bottom: -2px;
		}
	}
	.section-head.collapsed {
		margin-bottom: 0px;
	}
}

.form-section.frappe-card {
	margin: var(--margin-lg) 0px;
	@include card();
}

.form-dashboard {
	.section-head {
		font-size: var(--text-xl);
	}
}

.control-label,
.grid-heading-row {
	color: var(--text-light);
	font-size: var(--text-sm);
}

.form-inner-toolbar {
	padding-top: var(--padding-md);
	text-align: right;
}

.form-control.bold {
	font-weight: 500;
}

.like-disabled-input {
	margin-bottom: 7px;
	border-radius: $border-radius;
	min-height: 30px;
	font-weight: 400;
	background-color: $control-bg;
	padding: var(--padding-xs) var(--padding-sm);
}

.comment-box {
	@include card();
	padding: 25px var(--padding-xl);
	.comment-input-header {
		@extend .head-title;
		margin-bottom: var(--margin-sm);
	}
	.comment-input-container {
		.frappe-control {
			margin-bottom: var(--margin-xs);
		}
		.ql-editor {
			background-color: var(--gray-200);
		}
	}

	.btn-comment {
		margin-top: var(--margin-md);
	}
}

.form-dashboard-wrapper {
	width: 100%;
}