html {
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	color: $body-color;
}

a {
	color: $text-color;
}

.hide {
	display: none !important;
}

.col-xs-1 { @extend .col-1; }
.col-xs-2 { @extend .col-2; }
.col-xs-3 { @extend .col-3; }
.col-xs-4 { @extend .col-4; }
.col-xs-5 { @extend .col-5; }
.col-xs-6 { @extend .col-6; }
.col-xs-7 { @extend .col-7; }
.col-xs-8 { @extend .col-8; }
.col-xs-9 { @extend .col-9; }
.col-xs-10 { @extend .col-10; }
.col-xs-11 { @extend .col-11; }
.col-xs-12 { @extend .col-12; }

.btn-default { @extend .btn-light; }

.btn-xs { @extend .btn-sm; }

.hidden-xs {
	@extend .d-none;
	@extend .d-sm-block;
}

.visible-xs {
	@extend .d-block;
	@extend .d-sm-none;
}

footer {
	flex-shrink: 0;
}

.pull-right {
	float: right;
}

img {
	max-width: 100%;
	height: auto;
}

.hidden {
	@extend .d-none;
}

.hide-control {
	@extend .d-none;
}

.text-underline {
	text-decoration: underline;
}

.text-extra-muted {
	color: #d1d8dd !important;
}

.no-underline {
	text-decoration: none !important;
}

.btn {
	border: none;
	border-radius: $border-radius;
}

.btn-secondary-dark {
	@include button-variant(
		$background: $gray-500,
		$border: $gray-500,
		$hover-background: lighten($gray-500, 1%),
		$hover-border: $gray-500,
		$active-background: lighten($gray-500, 1%),
		$active-border: darken($gray-500, 12.5%)
	);

	color: $white;
	&:hover, &:active, &:focus {
		color: $white;
	}
}

.btn-active-blue {
	@include button-variant(
		$background: #EBF5FF,
		$border: #EBF5FF,
		$hover-background: lighten(#EBF5FF, 1%),
		$hover-border: #EBF5FF,
		$active-background: lighten(#EBF5FF, 1%),
		$active-border: darken(#EBF5FF, 12.5%)
	);

	color: var(--blue-500);
	&:hover, &:active, &:focus {
		color: var(--blue-500);
	}
}

.btn-secondary, .btn-default {
	background-color: $control-bg;
}

.btn-primary {
	background: $brand-gradient;
}


h1, h2, h3 {
	color: $text-color;
	font-weight: bold;
}

.small {
	font-size: var(--text-xs);
}

.fill-width {
	flex: 1
}

h1 {
	font-size: $font-size-3xl;
	font-weight: 800;
	line-height: 1.25;
	letter-spacing: -0.025em;

	@include media-breakpoint-up(sm) {
		line-height: 2.5rem;
		font-size: $font-size-4xl;
	}
	@include media-breakpoint-up(xl) {
		line-height: 1;
		font-size: $font-size-5xl;
	}
}

h2 {
	font-size: $font-size-xl;
	font-weight: bold;

	@include media-breakpoint-up(sm) {
		font-size: $font-size-2xl;
	}
	@include media-breakpoint-up(md) {
		font-size: $font-size-3xl;
	}
}

.btn-group-sm > .btn, .btn-sm, .btn-xs {
	padding: 4px 12px;
	font-size: var(--text-md);
}

.input-xs {
	height: 26px;
	font-size: var(--text-md);
}

select.input-xs {
	line-height: 1.2;
}

// popover
.popover {
	border-radius: 4px;

	.popover-content {
		padding: 14px;
	}
}
