.icon {
	display: inline-block;
	font-size: 0;
	width: 24px;
	height: 24px;
	margin: 0 auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	fill: var(--grey-900);
	stroke: var(--grey-900);
}

#icon-search {
	stroke: var(--grey-700);
}

.icon-xs {
	width: 12px;
	height: 12px;
}

.icon-sm {
	width: 16px;
	height: 16px;
}

.icon-lg {
	width: 75px;
	height: 75px;
}