// Image view
.image-view {

	.list-header-subject {
		// border-bottom: 1px solid $border-color;

		.list-image-header {
			display: flex;
			margin-left: 15px;
		}

		.list-count {
			font-size: $font-size-md;
			margin: 0;
		}

		.list-image-header-item {
			display: flex;
			align-items: center;
			margin-right: 20px;

			div {
				margin-left: 5px;
			}
		}

	}

	.image-view-divider {
		border-color: $border-color;
		margin: -5px 0 0 30px
		// margin-left: 30px;
		// margin-top: 0;
	}

	.image-view-container {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		column-gap: 20px;
		max-width: 100%;
		row-gap: 20px;
		padding-left: 30px;
		padding-top: 20px;
		padding-bottom: 20px;

		.image-view-row {
			display: flex;
			border-bottom: 1px solid #ebeff2;
		}

		.image-view-item {
			padding: 10px 15px;
			display: flex;
			flex-direction: column;
			height: 260px;
			box-shadow: 0px 0px 1px rgba(17, 43, 66, 0.16), 0px 1px 3px rgba(17, 43, 66, 0.1);
			border-radius: 8px;
			border: 1px solid $border-color;

			.list-row-checkbox {
				&:before {
					display: none;
				}

				&:checked:before {
					// content: url("data:image/svg+xml; utf8, <svg class='icon icon-sm' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1 4l1.667 1.8L7 1.2' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'></path></svg>");
					// content: url('/assets/frappe/icons/frapicon-checkbox-selected.svg');
					// background: linear-gradient(180deg, #4AC3F8 -124.51%, #2490EF 100%);
					display: block;
				}
			}
		}

		.image-view-item:hover {
			// box-shadow: none;
			border: none;
			box-shadow: 0px 0px 2px rgba(17, 43, 66, 0.16), 0px 1px 5px rgba(17, 43, 66, 0.1);

			.list-row-checkbox {
				&:before {
					display: block;
				}
			}
			// padding: 10px 15px;
			// display: flex;
			// flex-direction: column;
			// height: 260px;
			// box-shadow: 0px 0px 1px rgba(17, 43, 66, 0.16), 0px 1px 3px rgba(17, 43, 66, 0.1);
			// border-radius: 8px;
			// border: 1px solid $border-color;
		}

		.image-view-header {
			margin-bottom: 10px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.image-view-info {
			margin-top: 5px;
			font-size: $font-size-sm;
			color: var(--gray-600);
			margin-bottom: 0;
		}

		.image-view-body {
			&:hover .zoom-view {
				opacity: 0.7;
			}

			a {
				text-decoration: none;
			}

			// display: flex;
			// justify-content: center;
			// margin-bottom: 25px;
			height: 130px;
			width: 130px;
			margin: 0 auto;
		}

		.image-field {
			position: relative;
			display: block;
			width: 130px;
			text-align: center;
			margin: 0 auto;
			border-radius: var(--border-radius);

			.image-wrapper {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
			}

			img {
				max-width: 100%;
				// height: 100%;
				max-height: 100%;
				border-radius: $border-radius;
				color: transparent;
				display: block;
				margin: 0 auto;
			}

			img[alt]:after {
				display: flex;
				justify-content: center;
				align-items: center;
				z-index: 1;
				// top: -60px;
				left: 0;
				position: absolute;
				min-width: 130px;
				min-height: 130px;
				padding: 0;
				// border-radius: $border-radius;
				// background-color: var(--blue-50);
				background: var(--gray-50);
				/* max-height: 100%; */
			}
			&.no-image {
				// background-color: var(--blue-50);
				line-height: 130px;
				height: 130px;
				background-color: var(--gray-50);
				border-radius: $border-radius;
			}
		}

		.image-title {
			input {
				margin-right: 5px;
			}

			.ellipsis {
				vertical-align: bottom;
			}

			display: flex;
			font-weight: 500;
			justify-content: start;
			align-items: center;
			margin-top: 30px;
		}

		.placeholder-text {
			font-size: $font-size-5xl;
			color: var(--gray-500);
			// color: var(--blue-400);
		}

		.zoom-view {
			width: 18px;
			height: 18px;
			display: flex;
			align-items: center;
			justify-content: center;
			bottom: 3px;
			right: 3px;
			opacity: 0;
			font-size: 16px;
			position: absolute;
			background: var(--gray-300);
			border-radius: $border-radius;

			.icon {
				use {
					stroke: $text-color;
				}
			}

			// show zoom button on mobile devices
			// @media (max-width: $screen-xs) {
			// 	opacity: 0.5
			// }
		}
	}


	// .item-selector {
	// 	border: 1px solid $border-color;

	// 	.image-view-row {
	// 		width: 100%;
	// 	}
	// 	.image-field {
	// 		height: 120px;
	// 	}

	// 	.placeholder-text {
	// 		font-size: 48px;
	// 	}
	// }

	// .image-view-container.three-column {
	// 	.image-view-item {
	// 		flex: 0 0 100%/3;
	// 		max-width: 100%/3;
	// 	}

	// 	.image-view-item:nth-child(3n) {
	// 		border-right: none;
	// 	}
	// 	.image-view-item:nth-last-child(-n + 3):nth-child(3n + 1),
	// 	.image-view-item:nth-last-child(-n + 3):nth-child(3n + 1) ~ .image-view-item {
	// 		border-bottom: none;
	// 	}

	// 	.image-view-item:nth-child(4n) {
	// 		// border-right: 1px solid $light-border-color;
	// 	}
	// 	.image-view-item:nth-last-child(-n + 4):nth-child(4n + 1),
	// 	.image-view-item:nth-last-child(-n + 4):nth-child(4n + 1) ~ .image-view-item {
	// 		border-bottom: 1px solid $light-border-color;
	// 	}
	// }
}