// Image view
.image-view {

	.frappe-list {
		padding: var(--padding-xs);
	}

	.list-header-subject {
		.list-image-header {
			display: flex;
		}

		.list-count {
			font-size: $font-size-md;
			margin: 0;
		}

		.list-image-header-item {
			display: flex;
			align-items: center;
			margin-right: var(--margin-lg);

			div {
				margin-left: var(--margin-xs);
			}
		}

	}

	.image-view-container {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		max-width: 100%;

		.image-view-row {
			display: flex;
			border-bottom: 1px solid #ebeff2;
		}

		.image-view-item {
			padding: var(--padding-sm) var(--padding-md);
			display: flex;
			flex-direction: column;
			height: 250px;
			border-radius: var(--border-radius);

			.list-row-checkbox {
				&:before {
					display: none;
				}

				&:checked:before {
					display: block;
				}
			}

			.not-liked {
				display: none;
			}
		}

		.image-view-item:hover {
			border: none;
			background-color: var(--highlight-color);

			.list-row-checkbox {
				&:before {
					display: block;
				}
			}

			.not-liked {
				display: block;
			}
		}

		.image-view-header {
			height: 20px;
			margin-bottom: var(--margin-sm);
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.image-view-info {
			margin-top: var(--margin-xs);
			font-size: $font-size-sm;
			color: var(--gray-600);
			margin-bottom: 0;
		}

		.image-view-body {
			&:hover .zoom-view {
				opacity: 0.7;
			}

			a {
				text-decoration: none;
			}

			height: 130px;
			width: 130px;
			margin: 0 auto;
		}

		.image-field {
			position: relative;
			display: block;
			width: 130px;
			text-align: center;
			margin: 0 auto;
			border-radius: var(--border-radius);

			.image-wrapper {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
			}

			img {
				max-width: 100%;
				max-height: 100%;
				border-radius: $border-radius;
				color: transparent;
				display: block;
				margin: 0 auto;
			}

			img[alt]:after {
				display: flex;
				justify-content: center;
				align-items: center;
				z-index: 1;
				left: 0;
				position: absolute;
				min-width: 130px;
				min-height: 130px;
				padding: 0;
				background: var(--gray-50);
			}
			&.no-image {
				line-height: 130px;
				height: 130px;
				background-color: var(--gray-50);
				border-radius: $border-radius;
			}
		}

		.image-title {
			input {
				margin-right: 5px;
			}

			.ellipsis {
				vertical-align: bottom;
			}

			display: flex;
			font-weight: 500;
			justify-content: start;
			align-items: center;
			margin-top: var(--margin-lg);
		}

		.placeholder-text {
			font-size: $font-size-5xl;
			color: var(--gray-500);
		}

		.zoom-view {
			width: 18px;
			height: 18px;
			display: flex;
			align-items: center;
			justify-content: center;
			bottom: 3px;
			right: 3px;
			opacity: 0;
			font-size: $font-size-lg;
			position: absolute;
			background: var(--gray-300);
			border-radius: $border-radius;

			.icon {
				use {
					stroke: $text-color;
				}
			}

			// show zoom button on mobile devices
			// @media (max-width: $screen-xs) {
			// 	opacity: 0.5
			// }
		}
	}


	// .item-selector {
	// 	border: 1px solid $border-color;

	// 	.image-view-row {
	// 		width: 100%;
	// 	}
	// 	.image-field {
	// 		height: 120px;
	// 	}

	// 	.placeholder-text {
	// 		font-size: 48px;
	// 	}
	// }

	// .image-view-container.three-column {
	// 	.image-view-item {
	// 		flex: 0 0 100%/3;
	// 		max-width: 100%/3;
	// 	}

	// 	.image-view-item:nth-child(3n) {
	// 		border-right: none;
	// 	}
	// 	.image-view-item:nth-last-child(-n + 3):nth-child(3n + 1),
	// 	.image-view-item:nth-last-child(-n + 3):nth-child(3n + 1) ~ .image-view-item {
	// 		border-bottom: none;
	// 	}

	// 	.image-view-item:nth-child(4n) {
	// 		// border-right: 1px solid $light-border-color;
	// 	}
	// 	.image-view-item:nth-last-child(-n + 4):nth-child(4n + 1),
	// 	.image-view-item:nth-last-child(-n + 4):nth-child(4n + 1) ~ .image-view-item {
	// 		border-bottom: 1px solid $light-border-color;
	// 	}
	// }
}