.indicator-pill,
.indicator-pill-right {
	padding: 3px 10px;
	font-size: var(--text-sm);
	border-radius: var( --border-radius);
	vertical-align: middle;
	margin: auto;
	height: 24px;
}

.indicator-pill::before,
.indicator-pill-right::after {
	content:'';
	display:inline-block;
	height: 4px;
	width: 4px;
	border-radius: 100%;
	margin-right: 6px;
	vertical-align: middle;
}

.indicator-pill-right::after {
	margin:0 0 0 4px;
}

.indicator-pill.green,
.indicator-pill-right.green {
	background: var(--dark-green-50);
	color: var(--dark-green-500);
	&::before, &::after {
		background: var(--dark-green-500);
	}
}

.indicator-pill.blue,
.indicator-pill-right.blue {
	background: var(--blue-50);
	color: var(--blue-500);
	&::before, &::after {
		background: var(--blue-500);
	}
}

.indicator-pill.orange,
.indicator-pill-right.orange {
	background: var(--orange-100);
	color: var(--orange-500);
	&::before, &::after {
		background: var(--orange-500);
	}
}

.indicator-pill.yellow,
.indicator-pill-right.yellow {
	background: var(--yellow-50);
	color: var(--yellow-500);
	&::before, &::after {
		background: var(--yellow-500);
	}
}

.indicator-pill.grey,
.indicator-pill-right.grey {
	background: var(--grey-50);
	color: var(--grey-500);
	&::before, &::after {
		background: var(--grey-500);
	}
}

.indicator-pill.red,
.indicator-pill-right.red {
	background: var(--red-50);
	color: var(--red-500);
	&::before, &::after {
		background: var(--red-500);
	}
}

// .indicator.grey::before,
// .indicator-pill-right.grey::after {
//     background: @btn-bg;
// }
// .indicator.blue::before,
// .indicator-pill-right.blue::after {
//     background: @indicator-blue;
// }
// .indicator.red::before,
// .indicator-pill-right.red::after {
//     background: @indicator-red;
// }
// .indicator.green::before,
// .indicator-pill-right.green::after {
//     background: @indicator-green;
// }
// .indicator.orange::before,
// .indicator-pill-right.orange::after {
//     background: @indicator-orange;
// }
// .indicator.purple::before,
// .indicator-pill-right.purple::after {
//     background: @indicator-purple;
// }
// .indicator.darkgrey::before,
// .indicator-pill-right.darkgrey::after {
//     background: @indicator-darkgrey;
// }

// .indicator.black::before,
// .indicator-pill-right.black::after {
//     background: @text-color;
// }

// .indicator.yellow::before,
// .indicator-pill-right.yellow::after {
//     background: @indicator-yellow;
// }

// .indicator.light-blue::before,
// .indicator-pill-right.light-blue::after {
//     background: @indicator-light-blue;
// }

// .indicator.lightblue::before,
// .indicator-pill-right.lightblue::after {
//     background: @indicator-light-blue;
// }

.modal-header .indicator {
	margin: auto 0;
	margin-right: 3px;
}

.indicator.blink {
	animation: blink 1s linear infinite;
}

@keyframes blink {
	50% { opacity: 0.5; }
}