.indicator-pill,
.indicator-pill-right {
	display: inline-block;
	padding: 3px 10px;
	font-size: var(--text-sm);
	border-radius: var( --border-radius);
	vertical-align: middle;
	font-weight: 500;
	margin: auto;
	height: 24px;
}

.indicator-pill-round {
	align-items: center;
	display: inline-flex;
	justify-content: center;
	font-size: var(--text-sm);
	border-radius: 50%;
	vertical-align: middle;
	font-weight: 500;
	margin: auto;
	width: 24px;
	height: 24px;
}

.indicator-pill::before,
.indicator-pill-right::after {
	content:'';
	display:inline-block;
	height: 4px;
	width: 4px;
	border-radius: 100%;
	margin-right: 6px;
	vertical-align: middle;
}

.indicator-pill.no-margin::before,
.indicator-pill-right.no-margin::after {
	margin-right: 0px;
}

.indicator-pill-right::after {
	margin: 0 0 0 4px;
}

:root {
	--indicator-green: var(--dark-green-500);
	--indicator-green-bg: var(--dark-green-50);

	--indicator-blue: var(--blue-500);
	--indicator-blue-bg: var(--blue-50);

	--indicator-orange: var(--orange-500);
	--indicator-orange-bg: var(--orange-50);

	--indicator-yellow: var(--yellow-500);
	--indicator-yellow-bg: var(--yellow-50);

	--indicator-gray: var(--gray-500);
	--indicator-gray-bg: var(--gray-50);

	--indicator-darkgray: var(--dark-gray-500);
	--indicator-darkgray-bg: var(--dark-gray-50);

	--indicator-red: var(--red-500);
	--indicator-red-bg: var(--red-50);
}

[data-theme="dark"] {
	--indicator-green: var(--dark-green-50);
	--indicator-green-bg: var(--dark-green-500);

	--indicator-blue: var(--blue-50);
	--indicator-blue-bg: var(--blue-500);

	--indicator-orange: var(--orange-100);
	--indicator-orange-bg: var(--orange-500);

	--indicator-yellow: var(--yellow-50);
	--indicator-yellow-bg: var(--yellow-500);

	--indicator-gray: var(--gray-100);
	--indicator-gray-bg: var(--gray-600);

	--indicator-dark-gray: var(--dark-gray-200);
	--indicator-dark-gray-bg: var(--dark-gray-700);

	--indicator-red: var(--red-50);
	--indicator-red-bg: var(--red-500);
}

.indicator-pill.green,
.indicator-pill-right.green,
.indicator-pill-round.green {
	background: var(--indicator-green-bg);
	color: var(--indicator-green);
	&::before, &::after {
		background: var(--indicator-green);
	}
}

.indicator-pill.blue,
.indicator-pill-right.blue {
	background: var(--indicator-blue-bg);
	color: var(--indicator-blue);
	&::before, &::after {
		background: var(--indicator-blue);
	}
}

.indicator-pill.orange,
.indicator-pill-right.orange {
	background: var(--indicator-orange-bg);
	color: var(--indicator-orange);
	&::before, &::after {
		background: var(--indicator-orange);
	}
}

.indicator-pill.yellow,
.indicator-pill-right.yellow {
	background: var(--indicator-yellow-bg);
	color: var(--indicator-yellow);
	&::before, &::after {
		background: var(--indicator-yellow);
	}
}

.indicator-pill.grey,
.indicator-pill-right.grey,
.indicator-pill-round.grey {
	background: var(--indicator-gray-bg);
	color: var(--indicator-gray);
	&::before, &::after {
		background: var(--indicator-gray);
	}
}

.indicator-pill.darkgrey,
.indicator-pill-right.darkgrey {
	background: var(--indicator-dark-gray-bg);
	color: var(--indicator-gray);
	&::before, &::after {
		background: var(--indicator-dark-gray);
	}
}

.indicator-pill.red,
.indicator-pill-right.red,
.indicator-pill-round.red {
	background: var(--indicator-red-bg);
	color: var(--indicator-red);
	&::before, &::after {
		background: var(--indicator-red);
	}
}

.modal-header .indicator {
	margin: auto 0;
	margin-right: 3px;
}

.indicator.blink {
	animation: blink 1s linear infinite;
}

@keyframes blink {
	50% { opacity: 0.5; }
}