:root {
	--indicator-green: var(--dark-green-500);
	--indicator-green-bg: var(--dark-green-50);

	--indicator-blue: var(--blue-500);
	--indicator-blue-bg: var(--blue-50);

	--indicator-orange: var(--orange-500);
	--indicator-orange-bg: var(--orange-50);

	--indicator-yellow: var(--yellow-500);
	--indicator-yellow-bg: var(--yellow-50);

	--indicator-gray: var(--gray-600);
	--indicator-gray-bg: var(--gray-200);

	--indicator-red: var(--red-500);
	--indicator-red-bg: var(--red-50);
}

[data-theme="dark"] {
	--indicator-green: var(--dark-green-50);
	--indicator-green-bg: var(--dark-green-500);

	--indicator-blue: var(--blue-50);
	--indicator-blue-bg: var(--blue-500);

	--indicator-orange: var(--orange-100);
	--indicator-orange-bg: var(--orange-500);

	--indicator-yellow: var(--yellow-50);
	--indicator-yellow-bg: var(--yellow-500);

	--indicator-gray: var(--gray-100);
	--indicator-gray-bg: var(--gray-600);

	--indicator-red: var(--red-50);
	--indicator-red-bg: var(--red-500);
}

@mixin indicator-pill-color($color) {
	background: var(--indicator-#{$color}-bg);
	color: var(--indicator-#{$color});
	&::before, &::after {
		background: var(--indicator-#{$color});
	}
}

@mixin indicator-color($color) {
	&::before, &::after {
		background: var(--indicator-#{$color});
	}
}

.indicator,
.indicator-pill,
.indicator-pill-right,
.indicator-pill-round {
	display: inline-flex;
	align-items: center;
}

.indicator::before {
	content: '';
	height: 6px;
	width: 6px;
	border-radius: var(--border-radius);
}

.indicator::before {
	margin: 0px 8px 0px 0px;
}

.indicator-pill,
.indicator-pill-right {
	padding: 3px 10px;
	font-size: var(--text-sm);
	border-radius: var( --border-radius);
	font-weight: 500;
	height: 24px;
}

.indicator-pill-round {
	justify-content: center;
	font-size: var(--text-sm);
	border-radius: 50%;
	font-weight: 500;
	width: 24px;
	height: 24px;
}

.indicator-pill::before,
.indicator-pill-right::after {
	content:'';
	display: inline-table;
	height: 4px;
	width: 4px;
	border-radius: 50%;
	margin-right: 6px;
}

.indicator-pill.no-margin::before,
.indicator-pill-right.no-margin::after {
	margin-right: 0px;
}

.indicator-pill-right::after {
	margin: 0 0 0 4px;
}

.indicator.green {
	@include indicator-color('green');
}

.indicator-pill.green,
.indicator-pill-right.green,
.indicator-pill-round.green {
	@include indicator-pill-color('green');
}

.indicator.blue {
	@include indicator-color('blue');
}

.indicator-pill.blue,
.indicator-pill-right.blue,
.indicator-pill-round.blue  {
	@include indicator-pill-color('blue');
}

.indicator.orange {
	@include indicator-color('orange');
}

.indicator-pill.orange,
.indicator-pill-right.orange
.indicator-pill-round.orange {
	@include indicator-pill-color('orange');
}

.indicator.yellow {
	@include indicator-color('yellow');
}

.indicator-pill.yellow,
.indicator-pill-right.yellow
.indicator-pill-round.yellow {
	@include indicator-pill-color('yellow');
}

.indicator.gray {
	@include indicator-color('gray');
}

.indicator-pill.gray,
.indicator-pill-right.gray,
.indicator-pill-round.gray {
	@include indicator-pill-color('gray');
}

.indicator.red {
	@include indicator-color('red');
}

.indicator-pill.red,
.indicator-pill-right.red,
.indicator-pill-round.red {
	@include indicator-pill-color('red');
}

.indicator.blink {
	animation: blink 1s linear infinite;
}

@keyframes blink {
	50% { opacity: 0.5; }
}
