// .layout-main-section {
// 	overflow: hidden;

// }

.frappe-list {
	padding: 0 var(--padding-xs);
	.result, .no-result, .freeze {
		min-height: #{"calc(100vh - 284px)"};
	}

	.msg-box {
		margin-bottom: 8em;
		// To compensate for percieved centering

		.null-state {
			height: 15rem !important;
			max-height: 150px;
			width: auto;
		}

		.meta-description {
			width: 45%;
			margin-right: auto;
			margin-left: auto;
		}
	}
}

.freeze-row {
	.level-left, .level-right, .list-row-col {
		height: 100%;
		width: 100%;
	}

	.list-row-col {
		background-color: $border-color;
		border-radius: 2px;
		animation: 2s breathe infinite;
	}
}

@keyframes breathe {
	0% {
		opacity: 0.2;
	}

	50% {
		opacity: 0.5;
	}

	100% {
		opacity: 0.2;
	}
}

// body.no-list-sidebar {
// 	[data-page-route^="List/"] {
// 		@media (min-width: $screen-md) {
// 			.layout-side-section {
// 				display: none;
// 			}

// 			.layout-main-section-wrapper {
// 				width: 100% !important;
// 			}
// 		}
// 	}
// }


.list-row-container {
	border-bottom: 1px solid $border-color;
	display: flex;
	flex-direction: column;
	outline: none;

	// &:focus {
	//		background-color: $light-yellow;
	// }
}

.list-row {
	padding: 15px;
	height: 45px;
	cursor: pointer;
	transition: color 0.2s;
	-webkit-transition: color 0.2s;
	font-size: var(--text-md);

	&:hover {
		background-color: $gray-50;
	}
	&:last-child {
		border-bottom: 0px;
	}

	.level-left {
		flex: 4;
		min-width: 80%;
	}
	.level-right {
		flex: 1.5;
	}

	.tag-col {
		margin-left: 10px;
		min-width: 125px;
		justify-content: start;
	}

	.tags-empty {
		padding: 5px;
		line-height: 14px;
	}

	// .list-tags {
	// 	margin-right: var(--margin-sm);
	// 	min-width: 60px;
	// }

	.list-row-activity {
		justify-content: flex-end;
		// min-width: 120px;

		&> span {
			display: inline-block;

			&:not(:last-child) {
				margin-right: 15px;
			}
		}

		.comment-count {
			min-width: 35px;
		}

		.frappe-timestamp {
			font-size: var(--text-xs);
			white-space: nowrap;
			min-width: 30px;
		}
	}

	.tag-pill {
		&:not(:first-child) {
			margin-left: 5px;
		}
	}
}

.list-row-head {

	.list-subject {
		font-weight: normal;
	}

	.checkbox-actions {
		display: none;
	}
}

.list-row-col {
	flex: 1;
	margin-right: 15px;
}

.list-subject {
	flex: 2;
	justify-content: start;

	.level-item {
		margin-right: 8px;
	}

	&.seen {
		font-weight: normal;
	}
}

.list-paging-area, .footnote-area {
	border-top: 1px sol var(--gray-100);
}

.frappe-card {
	.list-paging-area, .footnote-area {
		padding: var(--padding-md);
	}
}

.progress {
	height: 10px;
}

.likes-count {
	display: none;
}

.list-liked-by-me {
	margin-bottom: 1px;
}

input.list-check-all, input.list-row-checkbox {
	margin-top: 0px;
}

.filterable {
	cursor: pointer;
}

.modal-body {
	.list-item--head {
		position: sticky !important;
		z-index: 500;
		top: 0;
	}
}

.list-items {
	width: 100%;
}

.list-item-container {
	border-bottom: 1px solid $border-color;

	&:last-child {
		border-bottom: none;
	}
}

.list-item-table {
	border: 1px solid $border-color;
	border-radius: 3px;
}

.list-item {
	display: flex;
	align-items: center;
	cursor: pointer;

	height: 40px;
	padding-left: 15px;

	font-size: var(--text-md);

	&:hover {
		background-color: $gray-50;
	}

	// @media (max-width: $screen-xs) {
	// 	height: 50px;
	// 	padding-left: 10px;

	// 	font-size: $text-regular;
	// 	font-weight: normal;
	// }

	&--head {
		background-color: $gray-50;
		border-bottom: 1px solid $border-color;
		cursor: auto;
	}

	input[type=checkbox] {
		margin: 0;
		margin-right: 5px;
		flex: 0 0 12px;
	}

	.liked-by, .liked-by-filter-button {
		display: inline-block;
		width: 20px;
		margin-right: 10px;
	}
}

.list-item__content {
	flex: 1;
	margin-right: 15px;

	display: flex;
	align-items: center;

	&--flex-2 {
		flex: 2;
	}

	&--activity {
		justify-content: flex-end;
		margin-right: 5px;
		min-width: 110px;

		.list-row-modified, .avatar-small {
			margin-right: 10px;
		}
	}

	&--indicator span::before {
		height: 12px;
		width: 12px;
	}

	&--id {
		justify-content: flex-end;
	}
}
// .like-action.octicon-heart {
// 	color: $heart-color;
// }

.list-comment-count {
	display: inline-block;
	width: 37px;
	text-align: left;
}

// tags

.result.tags-shown {
	.tag-row {
		display: block;
	}
}

.tag-row {
	display: none;
	margin-left: 50px;
}

.taggle_placeholder {
	top: 0;
	left: 5px;
	font-size: 11px;
	color: $text-muted;
}

.page-form {
	justify-content: space-between;
	// .awesomplete > ul {
	// 	min-width: 300px;
	// }

	.standard-filter-section {
		flex-wrap: wrap;
		// width: 65%;
		flex: 1;

		.form-group {
			min-width: 150px;
		}
	}

	.filter-section {
		display: flex;
		padding: 0 var(--padding-xs);
	}

	.filter-button {
		margin: 5px;
		// padding: 4px 8px;
	}

	.filter-button.btn-primary-light {
		color: var(--blue-500);
	}

	.sort-selector {
		.btn-group {
			margin: var(--margin-xs) 0 var(--margin-xs) var(--margin-xs);
		}
	}


	// .tag-filters-area {
	// }
	// .sort-selector {
	// 	display: flex;
	// 	.dropdown:hover {
	// 		text-decoration: underline;
	// 	}
	// 	.dropdown-menu {
	// 		max-height: 300px;
	// 		overflow-y: scroll;
	// 		right: 0;
	// 		left: auto;
	// 	}
	// 	button {
	// 		margin-left: 10px;
	// 	}
	// }

}

.frappe-rtl {
	.restricted-button {
		margin: auto auto auto 5px;
		direction: ltr;
	}
}



// .pswp--svg .pswp__button,
// .pswp--svg .pswp__button--arrow--left:before,
// .pswp--svg .pswp__button--arrow--right:before {
//     background-image: url('/assets/frappe/images/default-skin.svg') !important;
// }
// .pswp--svg .pswp__button--arrow--left,
//   .pswp--svg .pswp__button--arrow--right {
//     background: none !important;
// }

// .pswp__bg {
// 	background-color: #fff !important;
// }

// .pswp__more-items {
// 	position: absolute;
// 	bottom: 12px;
// 	left: 50%;
// 	transform: translateX(-50%);
// }

// .pswp__more-item {
// 	display: inline-block;
// 	margin: 5px;
// 	height: 100px;
// 	cursor: pointer;
// 	border: 1px solid $border-color;

// 	img {
// 		max-height: 100%;
// 	}
// }

// gantt
// .list-paging-area .gantt-view-mode {
// 	margin-left: 15px;
// 	margin-right: 15px;
// }

// .gantt {
// 	.details-container {
// 		.heading {
// 			margin-bottom: 10px;
// 			font-size: 12px;
// 		}

// 		.avatar-small {
// 			width: 16px;
// 			height: 16px;
// 		}

// 		.standard-image {
// 			display: block;
// 		}
// 	}
// }

// .inbox-attachment, .inbox-link {
// 	margin-right: 7px;
// }

// .select-inbox {
// 	padding: 30px 30px;
// }

// .inbox-value {
// 	padding-top: 2px;
// }

// list view



// .file-grid {
// 	display: flex;
// 	flex-wrap: wrap;
// 	align-content: flex-start;

// 	a {
// 		height: 100%;
// 	}
// }

// .file-wrapper {
// 	width: 120px;
// 	flex-direction: column;
// 	align-items: center;
// }

// .file-title {
// 	margin-top: 5px;
// }


// input[type="checkbox"] {
// 	position: relative;
// 	visibility: hidden;
// 	// dispxlay: none;

// 	&:before {
// 		position: absolute;
// 		font-family: 'FontAwesome';
// 		// width: 4px;
// 		// height: 4px;
// 		content: '\f096';
// 		// content: ' ';
// 		// background-image: url('../icons/frapicon-checkbox.svg');
// 		// visibility: visible;
// 		// font-style: normal;
// 		// font-weight: normal;
// 		// font-variant: normal;
// 		// text-transform: none;
// 		// line-height: 14px;
// 		// display: inline-block;
// 		// font-size: 14px;
// 		// color: @text-extra-muted;
// 		// .transition(150ms color);
// 		// left: 0px;
// 		// display: inline-block;
// 		// vertical-align: middle;
// 		// width: 45px;
// 		// height: 45px;
// 		// background-size: 50%;
// 		// content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='lightgrey' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-image'><rect x='3' y='3' width='18' height='18' rx='2' ry='2'/><circle cx='8.5' cy='8.5' r='1.5'/><polyline points='21 15 16 10 5 21'/></svg>");

// 		// background: url('../icons/frapicon-checkbox.svg') 0px center no-repeat;
// 	}

// 	&:focus:before {
// 		color: $text-muted;
// 	}

// 	&:checked:before {
// 		content: '\f14a';
// 		font-size: 13px;
// 		color: $checkbox-color;
// 	}

// 	&:focus {
// 		outline: none;
// 	}
// }
