.page-card {
	max-width: 460px;
	padding: var(--padding-2xl);
	margin: 70px auto;
	border-radius: var(--border-radius-md);
	background-color: #fff;
	box-shadow: var(--shadow-base);

	form {
		max-width: 330px;
		margin: 0 auto;
	}

	.page-card-actions {
		margin-top: var(--margin-lg);

		.sign-up-message {
			margin-top: var(--margin-md);
			> * {
				color: var(--text-light);
				font-size: var(--text-sm);
			}
		}
	}

	.page-card-body {
		input[type="text"],
		input[type="email"],
		input[type="password"] {
			border: none;
			background-color: var(--control-bg);
			margin-bottom: 10px;
		}

		.forgot-password-message {
			text-align: right;
			> * {
				color: var(--text-light);
				font-size: var(--text-sm);
			}
		}

		.password-field {
			position: relative;

			.toggle-password {
				right: 9px;
				top: 8px;
				position: absolute;
				z-index: 2;
				cursor: pointer;
				font-size: 12px;
			}
		}
	}

	.page-card-head {
		margin: 0 auto;
		text-align: center;
		font-size: var(--text-xl);
		font-weight: 600;
		margin-bottom: var(--margin-xl);

		img {
			max-height: 42px;
			margin-bottom: var(--margin-lg, 20px);
		}

		h3 {
			color: var(--text-color);
		}
	}
}

// ------------------------------

.for-login {
	display: none;
}

.for-forgot {
	display: none;
}

.for-signup {
	display: none;
}

// .form-signin .form-control {
// 	position: relative;
// 	height: auto;
// 	-webkit-box-sizing: border-box;
// 	-moz-box-sizing: border-box;
// 	box-sizing: border-box;
// 	padding: 6px;
// 	font-size: 14px;
// 	margin-bottom: 10px;
// }
.form-signin .form-control:focus {
	z-index: 2;
}

.invalid-login {
	-webkit-animation: wiggle 0.5s linear;
}

@-webkit-keyframes wiggle {
	8%,
	41% {
		-webkit-transform: translateX(-10px);
	}
	25%,
	58% {
		-webkit-transform: translateX(10px);
	}
	75% {
		-webkit-transform: translateX(-5px);
	}
	92% {
		-webkit-transform: translateX(5px);
	}
	0%,
	100% {
		-webkit-transform: translateX(0);
	}
}
