.for-login,
.for-forgot,
.for-signup {
	display: none;
	.page-card {
		max-width: 460px;
		padding: var(--padding-2xl);
		margin: 70px auto;
		border-radius: var(--border-radius-md);
		background-color: #fff;
		box-shadow: var(--shadow-base);

		form {
			max-width: 330px;
			margin: 0 auto;
		}

		.page-card-actions {
			margin-top: var(--margin-lg);

			.sign-up-message {
				margin-top: var(--margin-md);
				color: var(--text-light);
				font-size: var(--text-md);

				a {
					font-size: var(--text-md);
					color: var(--primary);
				}
			}

			.social-logins {
				margin: var(--margin-md) 0;
				font-size: var(--text-md);

				.social-login-buttons {
					margin-top: var(--margin-md);
					display: grid;
					grid-template-columns: 1fr 1fr 1fr;
					grid-gap: var(--padding-sm);

					.btn-social {
						font-size: var(--text-sm);
						box-shadow: none;

						&.btn-salesforce {
							i {
								color: var(--blue-400);
							}
						}

						.provider-icon {
							margin-right: var(--padding-xs);
						}
					}
				}
			}
		}

		.page-card-body {
			input[type="text"],
			input[type="email"],
			input[type="password"] {
				border: none;
				background-color: var(--control-bg);
				margin-bottom: 10px;
			}

			.forgot-password-message {
				text-align: right;
				> * {
					color: var(--text-light);
					font-size: var(--text-sm);
				}
			}

			.password-field {
				position: relative;

				input {
					padding-left: 35px;
				}

				.password-icon {
					left: 9px;
					top: 7px;
					position: absolute;
					z-index: 2;
					cursor: pointer;
					font-size: 12px;
				}

				.toggle-password {
					right: 9px;
					top: 8px;
					position: absolute;
					z-index: 2;
					cursor: pointer;
					font-size: 12px;
				}
			}

			.email-field {
				position: relative;

				input {
					padding-left: 35px;
				}

				.email-icon {
					left: 9px;
					top: 7px;
					position: absolute;
					z-index: 2;
					cursor: pointer;
					font-size: 12px;
				}
			}
		}

		.page-card-head {
			margin: 0 auto;
			text-align: center;
			font-size: var(--text-xl);
			font-weight: 600;
			margin-bottom: var(--margin-xl);

			img {
				max-height: 42px;
				margin-bottom: var(--margin-lg, 20px);
			}

			h3 {
				color: var(--text-color);
			}
		}
	}

	.invalid-login {
		-webkit-animation: wiggle 0.5s linear;
	}

	@-webkit-keyframes wiggle {
		8%,
		41% {
			-webkit-transform: translateX(-10px);
		}
		25%,
		58% {
			-webkit-transform: translateX(10px);
		}
		75% {
			-webkit-transform: translateX(-5px);
		}
		92% {
			-webkit-transform: translateX(5px);
		}
		0%,
		100% {
			-webkit-transform: translateX(0);
		}
	}
}
