h5.modal-title {
	margin: 0px !important;
}

.modal {

	.modal-header {
		padding: var(--padding-md) var(--padding-lg);
		padding-bottom: 0;
		border-bottom: 0;

		.modal-title {
			font-weight: 500;
			line-height: 2em;
			font-size: $font-size-lg;
		}

		.modal-actions {
			position: absolute;
			top: 10px;
			right: 5px;

			.btn-modal-minimize {
				padding-right: 0;

				.icon {
					width: 14px;
					height: 14px;
					use {
						stroke: var(--gray-500);
					}
				}
			}
		}
	}

	.modal-body {
		padding: var(--padding-md) var(--padding-lg);
		overflow: scroll;
		max-height: 500px;
	}

	.modal-footer {
		padding: var(--padding-md) var(--padding-lg);
		padding-top: 0;
		border-top: 0;
		justify-content: space-between;

		button {
			box-shadow: none;
		}

		.standard-actions {
			button:not(:last-child) {
				margin-right: var(--margin-xs);
			}
		}

		& > * {
			margin: 0;
		}
	}

	@include media-breakpoint-up(md) {
		.modal-dialog {
			width: 575px;
			max-width: 575px;
		}
	}
}

.modal-minimize {
	position: initial;

	.modal-dialog {
		z-index: 101;
		position: fixed;
		right: 15px;
		bottom: 0;
		margin: 0;
		max-width: 575px;

		.modal-content {
			min-height: 0;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}
	}

	.modal-body, .modal-footer {
		display: none;
	}
}
