.navbar {
	height: $navbar-height;
	background: white;
	box-shadow: $box-shadow;
	.vertical-bar {
		border-right: 1px solid var(--grey-200);
		height: 24px;
		margin: auto;
	}
	.nav-item {
		@extend .my-auto;
		font-size: var(--text-sm);
		line-height: 1rem;
	}
}

.navbar-home {
	img {
		max-height: 24px;
		width: auto;
	}
}

.search-bar {
	flex: 1;
	max-width: 400px;
	.search-icon {
		position: absolute;
		margin-left: 12px;
		display: flex;
		align-items: center;
		height: 100%;
	}
	.awesomplete {
		width: 100%;
	}
	input {
		width: 100% !important;
		padding-left: 36px;
		height: 32px;
		font-size: var(--text-md);
		&::placeholder {
			color: var(--grey-700)
		}
	}
	input:focus {
		background: white;
		box-shadow: 0px 1px 4px rgba(17, 43, 66, 0.1), 0px 2px 6px rgba(17, 43, 66, 0.08);
		height: 42px;
	}
}

.navbar.bg-dark {
	.dropdown-menu {
		font-size: .75rem;
		background-color: $dark;
		border-radius: 0;
	}

	.nav-link {
		white-space: nowrap;
		color: $light;

		&:hover {
			color: $primary;
		}
	}

	.nav-item {
		padding: 0rem 1rem;
		@extend .my-auto;
	}

	.dropdown-item {
		color: $light;

		&:hover {
			background-color: $dark;
			color: $primary;
		}
	}
}

// .navbar {

// 	a {
// 		font-size: 12px;
// 		font-weight: bold;
// 	}

// 	.dropdown-toggle {
// 		padding-top: 8px;
// 		padding-bottom: 8px;
// 	}

// 	// instead of changes within BS3 itself
// 	.nav > li > a {
// 		padding: 8px 10px;
// 	}

// 	.navbar-search-icon {
// 		color: @navbar-default-color;
// 		font-size: inherit;
// 		position: relative;
// 		right: 24px;
// 		top: 1px;
// 	}

// 	.badge {
// 		font-weight: normal;
// 	}


// }

// .navbar-icon-home {
// 	vertical-align: middle;
// }

// .navbar-icon-home:hover,
// .navbar-icon-home:focus,
// .navbar-icon-home:active,
// .navbar-icon-home-hover{
// 	opacity:1;
// 	Filter:alpha(opacity=100); /* For IE8 and earlier */
// }

// .navbar-user-image {
// 	width: 24px;
// 	height: 24px;
// 	margin-right: 3px;
// 	border-radius: 4px;
// }

// @media (max-width: 991px) {
// 	.navbar-desk {
// 		width: 35% !important;

// 		& ~ ul > li {
// 			float: left;
// 			a {
// 				padding-left: 10px !important;
// 				padding-right: 10px !important;

// 				.avatar {
// 					margin-right: 0;
// 				}
// 			}
// 		}
// 	}
// 	.dropdown-navbar-new-comments > a {
// 		padding: 8px 0 !important;
// 		margin-left: 0 !important;
// 	}

// 	.help-icon {
// 		margin-top: 1px;
// 		padding: 10px 5px;
// 		background-color: #fafbfc;
// 		font-weight: 100;
// 	}
// }

// @media (max-width: 767px) {
// 	.navbar-desk {
// 		width: 50% !important;
// 	}
// }

// #search-modal {
// 	.modal-dialog, .modal-content {
// 		background: transparent;
// 	}
// 	.modal-header {
// 		background: #fff;
// 		width: 100%;

// 		form {
// 			vertical-align: middle;
// 		}

// 		button {
// 			line-height: 0;
// 			position: absolute;
// 			right: 0;
// 			top: 0;
// 			z-index: 9;
// 			padding: 9px;
// 		}
// 	}
// }

// .dropdown-navbar-new-comments {
// 	& > a {
// 		border: 0;
// 	}
// 	.dropdown-menu {
// 		margin-top: 0;
// 	}
// }

// .dropdown-notification {
// 	max-height: 480px;
// 	overflow-y: auto;
// }

// .dropdown-help .dropdown-menu {
// 	width: 350px !important;
// 	max-height: 440px;
// 	overflow: auto;

// 	.input-group {
// 		width: 100%;
// 		background-color: #f5f7fa;
// 		padding: 8px 12px;
// 	}

// 	input {
// 		width: 100%;
// 		padding: 5px 10px;
// 		outline: none;
// 		border-radius: 3px 0 0 3px;
// 		border: 1px solid #d1d8dd;
// 		opacity: 0.9;
// 		line-height: 1.5;
// 	}
// 	button {
// 		border: 1px solid #d1d8dd;

// 		&.loading {

// 		}
// 	}

// 	@media (max-width: @screen-xs) {
// 		position: fixed !important;
// 		top: 40px;
// 		width: 100% !important;
// 	}
// }

// @media (max-width: 767px) {
// 	.dropdown-mobile.open .dropdown-menu {
// 		position: absolute;
// 		border-top: 1px solid rgba(0, 0, 0, 0.14902);
// 		box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
// 		background-color: #fff;
// 		right: 0;
// 		left: auto;

// 		& > li > a {
// 			padding: 12px;
// 		}
// 	}
// 	.dropdown-help {
// 		display: none !important;
// 	}
// }

// .navbar-new-comments {
// 	display: inline-block;
// 	min-width: 24px;
// 	height: 24px;
// 	border-radius: 4px;
// 	color: #fff;
// 	text-align: center;
// 	padding: 2px 5px;
// 	background-color: @indicator-darkgrey;
// }

// .navbar-new-comments-true {
// 	background-color: @indicator-red;
// }

// .navbar-form .awesomplete {
// 	margin-left: -15px;
// 	width: 370px;

// 	@media (max-width: @screen-md) {
// 		width: 280px;
// 	}

// 	@media (max-width: @screen-sm) {
// 		width: 250px;
// 	}
// }

// #navbar-search {
// 	width: 100%;
// 	background-color: rgba(255, 255, 255, 0.9);
// }

// #navbar-search-results {
// 	left: auto;
// 	right: inherit;
// 	margin-top: -1px;
// 	max-height: 300px;
// 	overflow-y: auto;
// 	overflow-x: hidden;
// }

// .navbar-center {
// 	float: left;
// 	color: @navbar-default-color;
// }

// #navbar-breadcrumbs > li > a:before {
// 	.breadcrumb-divider();
// 	.breadcrumb-divider-right();
// }

// #navbar-breadcrumbs > li > a& {
// 	&:hover:before,
// 	&:focus:before,
// 	&:active:before {
// 		color: @text-color;
// 	}
// }

// #navbar-breadcrumbs > li > a {
// 	padding: 6px 15px 10px 0px;
// 	overflow: hidden;
// 	text-overflow: ellipsis;
// 	white-space: nowrap;
// 	max-width: 170px;

// 	@media (min-width:991px) and (max-width: 1199px) {
// 		max-width: 120px;
// 	}
// }

// .toolbar-user-fullname {
// 	max-width: 150px;
// 	display: inline-block;
// }

// .navbar-brand > img {
// 	display: inline-block;
// }

// .toggle-sidebar {
// 	margin-right: 10px;
// }

// .navbar-default .navbar-nav > li > a,
// .navbar-default .navbar-brand {
// 	color: @text-muted;
// }
