.navbar {
	height: $navbar-height;
	background: var(--fg-color);
	box-shadow: inset 0px -1px 0px var(--shadow-inset);
	.container {
		padding: 0 1rem;
	}
	.vertical-bar {
		border-right: 1px solid var(--gray-200);
		height: 24px;
		margin: auto;
	}
	.nav-item {
		@extend .my-auto;
		font-size: var(--text-sm);
		line-height: 1rem;
	}
	.dropdown-navbar-user > .nav-link {
		padding: 0;
	}
}

.navbar-home {
	img {
		max-height: 24px;
		width: auto;
	}
}

.search-bar {
	flex: 1;
	max-width: 400px;
	.search-icon {
		position: absolute;
		margin-left: 12px;
		display: flex;
		align-items: center;
		height: 100%;
	}
	.awesomplete {
		width: 100%;
	}
	input {
		width: 100% !important;
		padding-left: 36px;
		height: 32px;
		font-size: var(--text-md);
		&::placeholder {
			color: var(--gray-700)
		}
	}
	input:focus {
		background: white;
		box-shadow: 0px 1px 4px rgba(17, 43, 66, 0.1), 0px 2px 6px rgba(17, 43, 66, 0.08);
		height: 42px;
	}
}

.navbar.bg-dark {
	.dropdown-menu {
		font-size: .75rem;
		background-color: $dark;
		border-radius: 0;
	}

	.nav-link {
		white-space: nowrap;
		color: $light;

		&:hover {
			color: $primary;
		}
	}

	.nav-item {
		padding: 0rem 1rem;
		@extend .my-auto;
	}

	.dropdown-item {
		color: $light;

		&:hover {
			background-color: $dark;
			color: $primary;
		}
	}
}