@import "variables";

a {
	color: $text-color;
}

.btn {
	border: none;
	border-radius: $border-radius;
}

.btn-secondary, .btn-default {
	background-color: $control-bg;
}

.btn-primary {
	background: $brand-gradient;
}

.form-control {
	border: none;
	background-color: $control-bg;
	color: $text-light;
	box-shadow: none;
	border-radius: $border-radius;
}

.navbar {
	background: white;
	box-shadow: $box-shadow;
}

h1, h2, h3 {
	color: $text-color;
	font-weight: bold;
}

h1 {
	font-size: 20px;
}