
.title-area {
	display: inline-flex;
	align-items: center;
	.title-text {
		margin-bottom: 0px;
		margin-right: var(--margin-sm)
	}
}

.page-container {
	background-color: var(--bg-color);
}

.custom-actions {
	display: flex;
}

.page-actions {
	align-items: center;
	.btn {
		height: 28px;
		margin-left: 10px;
		border-radius: var(--border-radius);
	}
	.btn:not(.icon-btn) {
		padding: 4px 10px;
	}
	.btn-primary, .btn-secondary {
		min-width: 70px;
	}
	.btn-primary {
		.icon {
			use {
				stroke: white;
			}
		}
	}
	.custom-btn-group {
		display: inline-flex;
	}
}
$page-bottom-margin: 60px;
.layout-main-section-wrapper {
	margin-bottom: $page-bottom-margin;
}

.layout-main-section.frappe-card {
	overflow: hidden;
	@include card($padding: 0px);
}

.page-head {
	z-index: 2;
	.page-head-content {
		height: $page-head-height;
	}
}

.page-form {
	margin: 0;
	padding: var(--padding-sm);
	display: flex;
	flex-wrap: wrap;
	background-color: var(--card-bg);
	border-bottom: 1px solid var(--border-color);

	.form-group {
		padding: 0px 5px;
		margin: 5px 0px;
	}
	.checkbox {
		margin-top: 4px;
		margin-bottom: 4px;

		.help-box {
			display: none;
		}
	}
}

.form-inner-toolbar {
	.inner-group-button {
		display: inline-flex;
		.icon {
			margin-right: -var(--margin-xs);
		}
	}
	button {
		margin-left: var(--margin-sm);
	}
}

.menu-btn-group, .custom-btn-group {
	.dropdown-menu {
		width: max-content;
	}

	.menu-item-label {
		margin-right: 15px;
	}
}