@import "./common/quill";
@import "./desk/css_variables";
@import "./element/checkbox";

// !! PDF Barcode hack !!
// Workaround for rendering barcodes prior to https://github.com/frappe/frappe/pull/15307
@media print {
	svg[data-barcode-value] > rect {
		fill: white !important;
	}
	svg[data-barcode-value] > g {
		fill: black !important;
	}
}
