// grid report
.grid-report .plot {
	margin: 15px;
	display: none;
	height: 300px !important;
	width: 97% !important;
}

.grid-report .ui-widget {
	border: none !important;
	outline: none !important;
	border-top: 1px solid $border-color !important;
	// background-color: @light-bg !important;
}

.grid-report .show-zero {
	margin: 10px;
	display: none
}

// column picker
.column-picker-dialog {
	.column-list {
		margin: 15px 0;
		border: 1px solid $border-color;

		.column-list-item {
			padding: 10px;
			border-bottom: 1px solid $border-color;
		}

		.column-list-item:last-child {
			border-bottom: none;
		}

		.sortable-handle {
			cursor: move;
		}

		// .sortable-chosen {
		// 	background-color: @light-yellow;
		// }

		.fa-sort {
			margin: 0px 7px;
			margin-top: 9px;
			margin-right: -15px;
		}

		.form-control {
			display: inline-block;
			width: 89%;

			@include media-breakpoint-down(xs) {
				width: 77%;
			}
		}

		.close {
			margin: 2px 7px 0px;
		}
	}

	.add-btn {
		margin-bottom: 2px;
	}
}

.columns-search {
	margin-bottom: 10px;
}

.report-wrapper {
	overflow: auto;
}

.chart-wrapper {
	border-bottom: 1px solid $border-color;
}

.group-by-button {
	margin: 5px;
	padding: 4px 8px;
	max-width: 125px;
}

.group-by-button.btn-primary-light {
	color: var(--blue-500);
}

.group-by-icon.active {
	use {
		stroke: var(--blue-500);
	}
}

.comparison-message {
	margin-left: $margin-sm;
	font-size: $font-size-md;
}

.list-count {
	margin-right: $margin-sm;
	font-size: $font-size-md;
}

.group-by-popover {
	min-width: 500px;
	min-height: 50px;
	font-size: var(--text-md);

	.group-by-box {
		padding: $margin-xs $margin-md $margin-xs 0;

		.remove-group-by {
			line-height: 2em;
			cursor: pointer;
		}

		.select-icon .icon {
			position: absolute;
			top: 7px;
			right: 12px;
			pointer-events: none;
		}
	}
}

.report-summary {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-auto-rows: minmax(62px, 1fr);
	column-gap: 15px;
	row-gap: 20px;
	align-items: center;

	padding: 15px 15px;
	border-bottom: 1px solid $border-color;
	margin-right: 0px;
	margin-left: 0px;

	.summary-label {
		font-weight: normal !important;
	}

	.summary-value {
		margin-top: 8px;
		margin-bottom: 5px;
		overflow: hidden !important;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-feature-settings: "tnum";

		div {
			text-align: left !important;
			overflow: hidden !important;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}

// for sm and above
@include media-breakpoint-up(xs) {
	.group-by-box .row > div[class*="col-sm-"] {
		padding-right: 0px;
		margin-bottom: 0;
	}

	.frappe-control {
		position: relative;
	}
}