.tag-pill {
	background: var(--gray-200);
	border-radius: var(--border-radius);
	display: inline-block;
	padding: 3px 10px;
	color: var(--gray-700);
	height: 24px;
	width: 60px;
	vertical-align: middle;
}