$timeline-item-icon-size: 34px;
$timeline-item-left-margin: var(--margin-xl);

@mixin timeline-indicator($indicator-size) {
	width: $indicator-size;
	height: $indicator-size;
	border-radius: 50%;
	position: absolute;
	top: unquote("clamp(0px, 50% - #{$indicator-size}/2, 15px)");
	left: calc(-1 * (#{$indicator-size}/2));
	background-color: var(--gray-600);
	display: inline-flex;
	align-items: center;
	--icon-stroke: var(--gray-50);
}

.new-timeline {
	position: relative;
	padding-left: calc(var(--padding-xl) + #{$timeline-item-icon-size}/2);
	padding-top: var(--padding-xl);
	&:before {
		content: ' ';
		top: 0;
		position: absolute;
		border-left: 1px solid var(--dark-border-color);
		bottom: -150px; // arbitrary
	}
	.timeline-actions {
		margin-bottom: var(--margin-md);
		padding: var(--padding-sm);
		position: relative;
		&:before {
			content: ' ';
			@include timeline-indicator(10px);
		}
		.action-btn {
			margin-left: var(--margin-md)
		}
		.action-btn:first-child {
			margin-left: $timeline-item-left-margin;
		}
	}
	.timeline-items .timeline-item {
		font-size: var(--text-md);
		position: relative;
		margin-bottom: var(--margin-md);
		.timeline-content {
			max-width: 700px;
			padding: var(--padding-sm);
			margin-left: $timeline-item-left-margin;
			&.frappe-card {
				@include card($padding: var(--padding-md));
				margin-left: calc(#{$timeline-item-left-margin} + var(--padding-sm));
			}
		}
		.timeline-indicator {
			@include timeline-indicator($timeline-item-icon-size)
		}

		.timeline-message-box {
			.content {
				margin-top: var(--margin-md);
			}
			.action-btn {
				margin-left: var(--margin-sm);
			}
		}
	}
}