@import "variables";
@import "~bootstrap/scss/bootstrap";

footer {
	flex-shrink: 0;
}

a.card {
	text-decoration: none;
}

.web-footer {
	padding: 5rem 0;
	min-height: 140px;
	border-top: 1px solid $border-color;
}

.footer-group-label {
	color: $text-muted;
}

.footer-parent-item {
	margin-bottom: 1rem;
}