{% block style %}{% include "templates/includes/login.css" %}{% endblock %}

{% block content %}
<div class="login-content container" style="max-width: 800px;">
	<form class="form-signin form-login" role="form">
		<h2 class="form-signin-heading">{{ _("Login") }}</h2>
		<input type="text" id="login_email"
			class="form-control" placeholder="{{ _('Email address') }}" required autofocus>
		<input type="password" id="login_password"
			class="form-control" placeholder="{{ _('Password') }}" required>
		<!-- <label class="checkbox">
			<input type="checkbox" value="remember-me"> Remember me
		</label> -->
		<br>
		<button class="btn btn-lg btn-primary btn-block btn-login" type="submit">{{ _("Sign in") }}</button>
		{%- if social_login -%}
			<p class="text-muted text-center" style="margin: 10px;">or login via</p>
			<p class="text-muted text-center" style="margin: 10px;">
				{%- if facebook_login is defined %}
				<a href="{{ facebook_login }}" class="btn btn-lg btn-block btn-primary btn-facebook">
				<i class="icon-facebook-sign"></i> {{ _("Facebook") }}</a>
				{%- endif -%}

				{%- if google_login is defined %}
				<a href="{{ google_login }}" class="btn btn-lg btn-block btn-primary btn-google">
				<i class="icon-google-plus-sign"></i> {{ _("Google") }}</a>
				{%- endif -%}

				{%- if github_login is defined %}
				<a href="{{ github_login }}" class="btn btn-lg btn-block btn-primary btn-github">
				<i class="icon-github-sign"></i> {{ _("GitHub") }}</a>
				{%- endif -%}
			</p>
		{%- endif -%}
		{%- if not disable_signup -%}
		<p class="text-center">
			<br><a href="#signup">{{ _("Not a user yet? Sign up") }}</a>
		</p>
		{%- endif -%}
		<p class="text-center">
			<br><a href="#forgot" class="text-muted">{{ _("Forgot Password?") }}</a>
		</p>

	</form>

	<form class="form-signin form-signup hide" role="form">
		<h2 class="form-signin-heading">{{ _("Sign Up") }}</h2>
		<input type="text" id="signup_fullname"
			class="form-control" placeholder="{{ _('Full Name') }}" required autofocus>
		<input type="email" id="signup_email"
			class="form-control" placeholder="{{ _('Email Id') }}" required>
		<button class="btn btn-lg btn-primary btn-block btn-signup" type="submit">{{ _("Sign up") }}</button>
		<p class="text-center">
			<br><a href="#login">{{ _("Have an account? Login") }}</a>
		</p>

	</form>

	<form class="form-signin form-forgot hide" role="form">
		<h2 class="form-signin-heading">{{ _("Forgot Password") }}</h2>
		<input type="email" id="forgot_email"
			class="form-control" placeholder="{{ _('Email Id') }}" required autofocus>
		<br>
		<button class="btn btn-lg btn-primary btn-block btn-forgot" type="submit">{{ _("Send Password") }}</button>
		<p class="text-center">
			<br><a href="#login">{{ _("Back to Login") }}</a>
		</p>

	</form>

</div>
{% endblock %}

{% block script_lib %}{% include "templates/includes/login.js" %}{% endblock %}

{% block sidebar %}{% endblock %}
