/* inter-100 */
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 100;
	src: local(""), url("/assets/css/fonts/inter/inter-100.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url("/assets/css/fonts/inter/inter-100.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-200 */
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 200;
	src: local(""), url("/assets/css/fonts/inter/inter-200.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url("/assets/css/fonts/inter/inter-200.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-300 */
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 300;
	src: local(""), url("/assets/css/fonts/inter/inter-300.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url("/assets/css/fonts/inter/inter-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-regular */
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	src: local(""), url("/assets/css/fonts/inter/inter-regular.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url("/assets/css/fonts/inter/inter-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-500 */
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	src: local(""), url("/assets/css/fonts/inter/inter-500.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url("/assets/css/fonts/inter/inter-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-600 */
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
	src: local(""), url("/assets/css/fonts/inter/inter-600.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url("/assets/css/fonts/inter/inter-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-700 */
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	src: local(""), url("/assets/css/fonts/inter/inter-700.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url("/assets/css/fonts/inter/inter-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-800 */
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 800;
	src: local(""), url("/assets/css/fonts/inter/inter-800.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url("/assets/css/fonts/inter/inter-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-900 */
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 900;
	src: local(""), url("/assets/css/fonts/inter/inter-900.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
		url("/assets/css/fonts/inter/inter-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
