<ul class="nav nav-pills nav-stacked">
    {% for (var i=0, l= data.length; i < l; i++) { var contact = data[i]; %}
    <li data-user="{%= contact.name %}" class="h6 module-sidebar-item">
        <a class="messages-sidebar-link ellipsis">
			<span class="indicator {% if(contact.has_session > 0) { %} green {% } else { %} grey {% } %}">
	        	<span class="avatar avatar-small hidden-sm hidden-md hidden-lg" title="{%= frappe.user.full_name(contact.name) %} ">
	        		<img class="media-object" src="{%= frappe.user.image(contact.name) %}">
	        	</span>
                <span class="hidden-xs">{%= contact.name===user ? __("Everyone") : frappe.user.full_name(contact.name) %}</span>
			</span>
        </a>
    </li>
    {% } %}
</ul>
