.print-format-doc.print-format-doc--ink-saver *,
.print-format-doc.print-format-doc--ink-saver .child-table .table .table-row td,
.print-format-doc.print-format-doc--ink-saver .child-table .table thead th {
	background-color: transparent !important;
	color: #000 !important;
}

.print-format-doc.print-format-doc--ink-saver .label {
	color: #444 !important;
}
