<!-- post login tools -->
{% if not only_static and not hide_login %}

	{% if frappe.session.user != 'Guest' %}
	<li class="nav-item dropdown logged-in" id="website-post-login" data-label="website-post-login" style="display: none">
		<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
			<span class="user-image-wrapper"></span>
			<span class="full-name"></span>
			<b class="caret"></b>
		</a>
		<ul class="dropdown-menu dropdown-menu-right" role="menu">
			{%- for child in post_login -%}
			{%- if child.url -%}
			<a class="dropdown-item" href="{{ child.url | abs_url }}" {{ child.target or '' }} rel="nofollow">
				{{ child.label }}
			</a>
			{%- endif -%}
			{%- endfor -%}
			<a class="dropdown-item switch-to-desk hidden" href="/desk">{{ _('Switch To Desk') }}</a>
		</ul>
	</li>
	{% endif %}

	{% if not hide_login %}
	<li class="nav-item">
		<a class="nav-link btn-login-area" href="/login">{{ _("Login") }}</a>
	</li>
	{% endif %}
{% endif %}