<li data-label='{{ page.label }}' {% if page.child_items %} class="dropdown"{% endif %}>
	<a {% if not page.child_items -%} href="{{ (page.url or '')|abs_url }}" {%- endif %}
		{% if page.child_items %} class="dropdown-toggle" onclick="return false;" data-toggle="dropdown"{% endif %}
		{{ page.target or ''}}>
	{{ page.label }}
	{%- if page.child_items -%}
		<span class="caret"></span>
	</a>
		<ul class="dropdown-menu" role="menu">
		{%- for child in page.child_items -%}
			<li data-label='{{ child.label }}'>
				<a {% if child.indent %} style="padding-left: {{((child.indent|int)+1)*15 }}px"{% endif %}
					href="{{ child.url | abs_url }}" {{ child.target or '' }}>{{ child.label }}</a>
			</li>
		{%- endfor -%}
		</ul>
	{%- else -%}
	</a>
	{%- endif -%}
</li>
