<header>
	<nav class="navbar navbar-default navbar-main" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand ellipsis" href="{{ url_prefix }}{{ home_page or "/" }}">
					<span>{{ brand_html or (frappe.get_hooks("brand_html") or ["Home"])[0] }}</span>
				</a>
				<a class="pull-right toggle-sidebar visible-xs">
					<i class="octicon octicon-three-bars"></i>
				</a>
			</div>
			<div class="hidden-xs">
				{% block navbar_items %}
				{% include "templates/includes/navbar/navbar_items.html" %}
				{% endblock %}
			</div>
			<div class="cart-icon" style="float:right;padding-top:10px;">
				<a href="/cart" class="text-muted small">
					<div class="btn btn-primary cart"> {{ _("Cart") }} 
						<span id="cart-count" class="label" 
							style="padding-left:5px;margin-left:5px;
								margin-right:-5px;background-color: #2905E2;">
						</span>
					</div>
				</a>
			</div>
		</div>
	</nav>
</header>
