.page-container{
	background: #ffffff !important;
}

.page-head {
	display: none;
}

.main-wrapper {
	padding-left: 180px;
	padding-right: 180px;
}

.whats-new-header {
	font-size: 28px;
	font-weight: 700;
	margin-top: 45px;
	margin-bottom: 20px;
	margin-left: 90px;
}

.events-container {
	margin-bottom: 100px;
}

.whats-new-post-wrapper {
	margin: 40px 0px;
	font-size: 13px;
	width: 100%;
}

.whats-new-event-wrapper {
	background-color: rgba(245, 250, 255, 1);
	border-radius: 12px;
	margin: 20px 90px;
	padding: 10px 30px;
	padding-bottom: 10px;
 }

.whats-new-post{
	max-width: 80%;
	margin: 20px auto;
}

.whats-new-event{
	max-width: 100%;
}

.whats-new-event-calendar {
	padding: 15px;
	border-radius: 6px;
	align-items: center;
	background: #fff;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto auto auto;
	grid-template-areas:
	"row1"
	"row2"
	"row3";
	justify-items: center;
}
.row1 {
	grid-area: row1;
}
.row2 {
	font-size: 16px;
	grid-area: row2;
}
.row3 {
	grid-area: row3;
	font-weight: 600;
	font-size: 20px ;
	color: rgba(45, 149, 240, 1);
}

.cal-icon {
	display: flex;
	justify-content: center;
	font-size: 20px;
	color: rgba(104, 113, 120, 1)
}

.whats-new-post-description {
	max-width: 100%;
}

.whats-new-event-description {
	font-size: 12px;
}

.release-date-col {
	align-self: top;
	text-align: right;
	padding-right: 0;
}

.whats-new-event-title {
	margin-bottom: 0;
}

.whats-new-event-header {
	font-size: 16px;
	margin-bottom: 0;
	margin-top: 6px;
}

.whats-new-post-header {
	font-size: 18px;
	margin-top: 8px;
	margin-left: 0;
	margin-right: 0;
}

.whats-new-post-content {
	margin-top: 12px;
}

.whats-new-post-content {
	color: rgba(80, 90, 98, 1) !important;
}

.whats-new-post-date {
	font-size: 14px;
}

.whats-new-event-content {
	margin-top: 4px;
	color: rgba(80, 90, 98, 1);
}

.whats-new-post-header, .whats-new-event-header {
	display: flex;
	justify-items: space-between;
}

.whats-new-post-title, .whats-new-event-title {
	align-self: center;
	padding-left: 0;
}

.indicator-pill::before {
	content: none;
}

.indicator-pill {
	margin: auto 8px 4px 0;
}

.indicator-pill.upcoming {
	margin: auto 8px 4px 0;
	color: rgba(45, 149, 240, 1);
	background: white;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}


.whats-new-post-media-wrapper {
	width: 100%;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	align-self: center;
}

.whats-new-post-media {
	width:100%;
	border-radius: 15px;
	box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.whats-new-event-cal-link {
	font-size: 12px;
	color: rgba(45, 149, 240, 1) !important;
	margin-right: -10px;
	padding: 0;
	text-align: right;
}

.whats-new-event-cal-link a:hover {
	text-decoration: none;
	padding: 2px;
	border-radius: 6px;
}

.whats-new-event-cal-link a {
	color: rgba(45, 149, 240, 1) !important;
}

.post-source-link {
	margin-top: 10px;
}

.event-time {
	margin-top: 10px;
	font-size: 12px;
	font-weight: 600;
}

hr {
	margin: 28px 0;
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.05));
}

.separator {
	margin-top: 30px 0;
}

@media only screen and (max-width:768px) {
	.main-wrapper {
		padding-left: 10px;
		padding-right: 10px;
	}

	.whats-new-post-wrapper{
		margin: 40px 0px;
	}

	.whats-new-event-wrapper {
		margin: 40px 20px;
		padding: 10px;
	}

	.whats-new-event {
		margin: 5px;
	}

	.whats-new-post-media {
		max-width: 400px;
	}

	.whats-new-post-media-wrapper {
		width: 100%;
	}

	.whats-new-event-tags {
		margin: 0;
		padding-top: 10px;
	}

	.whats-new-post-tags {
		margin-top: 10px;
	}

	.whats-new-event-body {
		padding: 16px;
	}

	.whats-new-event-calendar {
		padding: 20px;
		border-radius: 6px;
		align-items: center;
		background: #fff;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		/* grid-template-rows: 100%; */
		grid-template-areas:
		"row1 row3 row2";
		justify-items: center;
	}
	.row1 {
		font-size: 16px;
		grid-area: row1;
	}
	.row2 {
		font-size: 16px;
		grid-area: row2;
	}
	.row3 {
		grid-area: row3;
		font-weight: 600;
		font-size: 20px ;
		color: rgba(45, 149, 240, 1);
	}

}