
.main-wrapper {
	padding-left: 50px;
	padding-right: 50px;
}

.whats-new-post-wrapper {
	margin: 40px 10px;
	padding: 15px;
	font-size: 0.875rem;
	width: 100%;
}

.whats-new-post {
	max-width: 80%;
	margin: 0 auto;
}

.whats-new-post-content {
	margin-top: 30px;
}

.release-date-col {
	align-self: top;
	text-align: right;
}

.whats-new-post-header {
	display: flex;
	justify-content: space-between;
	margin: 0;
}

.whats-new-post-title {
	align-self: center;
	padding-left: 0;
}

.indicator-pill::before {
	content: none;
	margin-right: 10px;
}

.indicator-pill {
	margin-right: 10px;
}

.whats-new-post-media-wrapper {
	width: 70%;
	padding-top: 20px;
	align-self: center;
}

.whats-new-post-media {
	width:100%;
	border-radius: 15px;
	box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.05));
}


@media only screen and (max-width:768px) {
	.release-notes-wrapper{
		padding-left: 20px;
		padding-right: 20px;
		font-size: 5px;
	}

	.release-note {
		margin: 20px;
		padding: 20px;
	}

	.release-note-media {
		max-width: 300px;
	}

}