:root {
	--border-radius-tiny: 4px;
	--border-radius-sm: 8px;
	--border-radius: 8px;
	--border-radius-md: 10px;
	--border-radius-lg: 12px;
	--border-radius-xl: 16px;
	--border-radius-2xl: 20px;
	--border-radius-full: 999px;
}
