.center-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn {
	border: none;
	border-radius: var(--border-radius);
	box-shadow: var(--btn-shadow);
	font-size: var(--text-md);
	&.icon-btn {
		height: var(--btn-height);
		padding: 0px;
		@extend .center-content;
		&.btn-default, &.btn-secondary {
			min-width: 28px;
		}
	}
}

.btn-secondary-dark {
	@include button-variant(
		$background: $gray-500,
		$border: $gray-500,
		$hover-background: lighten($gray-500, 1%),
		$hover-border: $gray-500,
		$active-background: lighten($gray-500, 1%),
		$active-border: darken($gray-500, 12.5%)
	);

	color: $white;
	&:hover, &:active, &:focus {
		color: $white;
	}
}

.btn-primary-light {
	@include button-variant(
		$background: $primary-light,
		$border: $primary-light,
		$hover-background: lighten($primary-light, 1%),
		$hover-border: $primary-light,
		$active-background: lighten($primary-light, 1%),
		$active-border: darken($primary-light, 12.5%)
	);

	color: var(--blue-500);
	&:hover, &:active {
		color: var(--blue-500);
	}

	&:focus {
		box-shadow: 0 0 0 0.2rem var(--blue-50)
	}
}

.btn.btn-secondary {
	background-color: var(--control-bg);
	color: var(--text-color);
	&:hover, &:active {
		background-color: var(--gray-300);
		color: var(--text-color);
	}
}

.btn.btn-default {
	background-color: var(--fg-color);
	color: var(--text-color);
	&:hover, &:active {
		background: var(--fg-hover-color);
		color: var(--text-color);
	}
}

.btn.btn-primary {
	background-color: var(--primary-color);
	white-space: nowrap;
	--icon-stroke: white;
	--icon-fill-bg: var(--primary-color);
}

.btn.btn-danger {
	background-color: var(--red-400);
	color: $white;
}