.form-control {
	border: none;
	height: var(--input-height);
	font-size: var(--text-base);
	font-weight: var(--weight-regular);
	border-radius: var(--border-radius-sm);
	padding: var(--input-padding);
	position: relative;
}

.form-control.bold {
	font-weight: var(--weight-medium);
}

.like-disabled-input {
	.for-description {
		font-weight: normal;
		font-size: var(--text-sm);
	}
	min-height: var(--input-height);
	font-weight: var(--weight-regular);
	border-radius: var(--border-radius-sm);
	padding: var(--disabled-input-padding);
	cursor: default;
	color: var(--disabled-text-color);
	background-color: var(--disabled-control-bg);
}

.head-title {
	font-size: var(--text-xl);
	font-weight: 700;
	color: var(--heading-color);
}