.icon {
	display: inline-block;
	font-size: 0;
	width: 20px;
	height: 20px;
	margin: 0 auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	fill: var(--icon-fill);
	stroke: var(--icon-stroke);
	stroke-width: 1.5px;
	stroke-linecap: round;
	stroke-linejoin: round;
}

.es-icon {
	@extend .icon;
	// es-icons need to be "filled"
	fill: var(--icon-stroke);
	stroke-width: 0;
}

/* like icon */
use.like-icon {
	--icon-stroke: transparent;
	cursor: pointer;
	stroke: var(--icon-stroke);
}

#icon-file-large {
	stroke: none;
}

#icon-folder-normal-large {
	stroke: none;
}

#icon-close {
	fill: var(--invert-neutral);
}

.icon > .close-alt {
	fill: var(--gray-500);
}

.liked {
	.like-icon,
	.like-icon use {
		--icon-stroke: var(--invert-neutral);
		fill: var(--invert-neutral);
	}
}

.icon-xs {
	width: 12px;
	height: 12px;
}

.icon-sm {
	width: 16px;
	height: 16px;
}

.icon-base,
.icon-md {
	width: 20px;
	height: 20px;
}

.icon-lg {
	width: 24px;
	height: 24px;
}

.icon-xl {
	width: 40px;
	height: 40px;
}

.no-stroke {
	stroke: none;
}
