<div>
	<div class="table-responsive">
		<table class="table table-bordered table-hover log-details-table">
				<tr class="">
					<th style="width:10%"> Row No </th>
					<th style="width:40%"> Row Status </th>
					<th style="width:50%"> Message </th>
				</tr>
			
			{% for row in data %}
			<tr>
				<td>
					<span>{{ row.row }} </span> 
				</td>
				<td>
					<span class="indicator {{ row.indicator }}"> {{ row.title }} </span>
				</td>
				<td>
					<span> {{ row.message }} </span>
					{% if row.link %}
						<span style="width: 10%; float:right;">
							<a class="btn-open no-decoration" title="Open Link" href="{{ row.link }}">
								<i class="octicon octicon-arrow-right"></i>
							</a>
						</span>
					{% endif %}
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>