.appframe {
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.9);
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.9);
	box-shadow: 0px 0px 3px rgba(0,0,0,0.9);
	background-color: #fff;
	border-radius: 5px;
}

div.appframe-titlebar {
	padding: 6px 0px; 
	background: #dfdfdf; /* Old browsers */
	color: #555;
	border-bottom: 1px solid #c2c2c2;
	vertical-align: middle;
	border-radius: 5px 5px 0px 0px;
}

.appframe-center {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
}

.appframe-right {
	text-align: right;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-top: -1px;
}

.appframe-right .close {
	margin: 5px 12px 0px 15px;
}

.appframe-breadcrumb { 
	padding-top: 4px;
}
.appframe-breadcrumb span { 
	display: inline-block;
	padding: 4px 19px 0px 0px;
	margin-right: 13px;
	background: url('../lib/images/ui/navbarsep.png') right no-repeat;
	margin-top: -4px;
	color: #777;
	font-size: 20px;
}

.appframe-breadcrumb span:first-child { 
	margin-left: 15px;
}

.appframe-breadcrumb span:last-child { 
	background: none;
	margin-right: 0px;
	padding-right: 10px;
}

.appframe-breadcrumb span a {
	color: #777;
	text-decoration: none; 
}

.appframe-breadcrumb span a:hover {
	color: #999;
}

.appframe-title {
	font-size: 150%;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: bold;
	display: inline-block;
	margin-top: 5px;
}

div.appframe-toolbar {
	padding: 6px;
	background: #e9e9e9;
	border-bottom: 1px solid #c2c2c2;
}

div.appframe-titlebar .label {
	display: inline-block;
}

div.appframe-titlebar .avatar {
	margin-top: -8px;
	margin-left: 9px;
	margin-right: -6px;
}

.appframe-toolbar select, .appframe-toolbar input {
	margin-bottom: 0px;
	margin-left: 3px;
}

span.appframe-tab {
	float: right;
	display: inline-block;
	background-color: #555;
	color: white;
	margin-top: -6px;
	padding: 12px 11px;
	height: 18px;
	/*vertical-align: middle;*/
	cursor: pointer;
}

span.appframe-tab:hover {
	opacity: 1 !important;
}

span.appframe-tab span {
	display: inline-block;
}

div.ripped-paper-border {
	background: url('../lib/images/ui/ripped-border.png') top repeat-x;
	position: absolute;
	margin-top: -25px;
	height: 15px;
}

/* modules */

.module-item {
	display: inline-block; 
	width: 70%;
	text-overflow: ellipsis; 
	white-space: nowrap; 
	overflow: hidden;	
}

.module-item .help {
	font-size: 95%;
}
