
div.appframe-titlebar {
	padding: 6px; 
	padding-left: 13px;
	background: #dfdfdf; /* Old browsers */
	height: 28px;
	color: #555;
	border-bottom: 1px solid #c2c2c2;
	vertical-align: middle;
	border-radius: 5px 5px 0px 0px;
}

.appframe-center {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 74%;
}

span.appframe-breadcrumb { 
	display: inline-block;
	margin: 5px 0px 0px 0px; 
	padding: 0px;
	float: left;
}
span.appframe-breadcrumb span { 
	display: inline-block;
	padding: 4px 19px 0px 0px;
	margin-right: 13px;
	background: url('../lib/images/ui/navbarsep.png') right no-repeat;
	margin-top: -4px;
	color: #777;
	font-size: 20px;
}

span.appframe-breadcrumb span:last-child { 
	background: none;
	margin-right: 0px;
	padding-right: 10px;
}

.appframe-breadcrumb span a {
	color: #777;
	text-decoration: none; 
}

.appframe-breadcrumb span a:hover {
	color: #999;
}


.appframe-title {
	font-size: 150%;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: bold;
	display: inline-block;
	margin-top: 5px;
}

div.appframe-toolbar {
	padding: 6px;
	background: #e9e9e9;
	border-bottom: 1px solid #c2c2c2;
}

div.appframe-titlebar .label {
	display: inline-block;
	margin-bottom: 3px;
	margin-left: 14px;
}

div.appframe-titlebar .avatar {
	margin-top: -4px;
	margin-left: 9px;
	margin-right: -6px;
}

div.appframe-titlebar .close {
	margin: 0px 12px;
}

.appframe-toolbar select, .appframe-toolbar input {
	margin-bottom: 0px;
	margin-left: 3px;
}

span.appframe-tab {
	float: right;
	display: inline-block;
	background-color: #555;
	color: white;
	margin-top: -6px;
	padding: 12px 11px;
	height: 18px;
	/*vertical-align: middle;*/
	cursor: pointer;
}

span.appframe-tab:hover {
	opacity: 1 !important;
}

span.appframe-tab span {
	display: inline-block;
}

div.ripped-paper-border {
	background: url('../lib/images/ui/ripped-border.png') top repeat-x;
	position: absolute;
	margin-left: -15px;
	margin-top: -25px;
	padding-right: 30px;
	height: 15px;
}

/* modules */

.module-item {
	display: inline-block; 
	width: 70%;
	text-overflow: ellipsis; 
	white-space: nowrap; 
	overflow: hidden;	
}

.module-item .help {
	font-size: 95%;
}
