/* layout */

h5 {
	margin-bottom: 0px;
}

.layout-main {
	background-color: #fff;
	border-radius: 5px;
}

.layout-main-section {
	background-color: #FFF;
	min-height: 540px;
	-moz-box-shadow:    1px 0px 1px #ccc;
	-webkit-box-shadow: 1px 0px 1px #ccc;
	box-shadow:         1px 0px 1px #ccc;
	border-radius: 0px 0px 0px 5px;
}

.layout-side-section {
	color: #606060; 
	overflow-x: hidden;
	min-height: 540px;
	border-radius: 0px 0px 5px 0px;
}

.layout-main-section h4 {
	margin-bottom: 3px;
}