/* ribbons */

.ribbon-holder {
  position: relative;
  top: 0;
  overflow: hidden;
  height: 10em;
  float: right;
}

.ribbon,
.ribbon:hover {
  text-decoration: none;
}

.ribbon {
  font-family: Arial, sans-serif;
  letter-spacing: -.1px;
  opacity: 0.95;

  padding: 0.25em 0;
  position: relative;
  top: 2.5em;

  /* Defaults friendly for white pages. */
  -moz-box-shadow: 0 0 13px #888;
  -webkit-box-shadow: 0 0 13px #888;
  color: #FFF;
  display: block;
  line-height: 1.35em;
}

.ribbon .text {
  padding: 0.1em 3em;
}

.ribbon-right .ribbon {
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  right: -2.6em;
}

.ribbon-left .ribbon {
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  left: -2.6em;
}

.white.ribbon {
  color: #111;
  background-color: #F5F5F5;
  background: -webkit-gradient(linear, left bottom, left top, from(#f3f3f3), to(#fff));
  -moz-box-shadow: 0 0 13px #999;
  -webkit-box-shadow: 0 0 13px #999;
  text-shadow: 0 0 .05em;
}

.white.ribbon .text {
  border: 1px solid #cecece;
}

.red.ribbon {
  background-color: #9a0000;
  background: -webkit-gradient(linear, left bottom, left top, from(#9a0000), to(#a90000));
}

.red.ribbon .text {
  border: 1px solid #bf6060;
}

.green.ribbon {
  background-color: #006e00;
  background: -webkit-gradient(linear, left bottom, left top, from(#006e00), to(#007200));
}

.green.ribbon .text {
  border: 1px solid #6bac6b;
}

.darkblue.ribbon {
  background-color: #121621;
  color: #ecedee;
}

.darkblue.ribbon .text {
  border: 1px solid #53565e;
}

.orange.ribbon {
  background-color: #E57504;
  background: -webkit-gradient(linear, left bottom, left top, from(#dc7202), to(#ee7906));
}

.orange.ribbon .text {
  border: 1px solid #ebaa65;
}

.gray.ribbon {
  background-color: #6d6d6d;
  background: -webkit-gradient(linear, left bottom, left top, from(#6a6a6a) to(#6d6d6d));
}

.gray.ribbon .text {
  border: 1px solid #a4a4a4;
}
