.layout_wrapper, .layout-wrapper {
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.9);
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.9);
	box-shadow: 0px 0px 3px rgba(0,0,0,0.9);
	background-color: #fff;
	padding: 15px;
}

.layout-wrapper-appframe {
	padding: 0px;
}

.layout-main {
	padding: 15px;
	background-color: #fff;
}

.layout-wrapper-background {
	background-color: #f2f2f2 !important;
	padding: 0px;
}

.layout-main-section {
	width: 71%;
	float: left;
	padding: 15px;
	background-color: #FFF;
	min-height: 600px;
	-moz-box-shadow:    1px 0px 1px #ccc;
	-webkit-box-shadow: 1px 0px 1px #ccc;
	box-shadow:         1px 0px 1px #ccc;
}

.layout-side-section {
	width: 22%;
	/*float: right;*/
	color: #606060; 
	overflow-x: hidden;
	padding: 15px;
	min-height: 600px;
}

.breadcrumb-area, .breadcrumb-area span {
	vertical-align: middle;
}

div.appframe-titlebar {
	padding: 6px; 
	padding-left: 13px;
	background: #dfdfdf; /* Old browsers */
	height: 30px;
	color: #555;
	border-bottom: 1px solid #c2c2c2;
}

div.appframe-marker {
	position: absolute; 
	width: 7px; 
	margin: -6px; margin-left: -13px;
	height: 42px;
}

.appframe-title {
	font-size: 160%;
	font-weight: bold;
}

div.appframe-toolbar {
	padding: 4px;
	background: #e9e9e9;
	border-bottom: 1px solid #c2c2c2;
}

div.appframe-toolbar .label {
	margin: 2px 2px;
}

div.appframe-toolbar input, div.appframe-toolbar select {
	font-size: 80%;
	margin: 2px 2px;
}
div.appframe-toolbar button {
	padding: 3px 7px !important;
}

div.appframe-tabs {
	position: absolute;
	margin: 0px;
}

span.appframe-tab {
	display: inline-block;
	background-color: #555;
	color: white;
	padding: 12px 11px;
	margin-right: 40px;
	margin-left: -40px;
	height: 18px;
	vertical-align: middle;
	float: right;
	cursor: pointer;
}

span.appframe-tab:hover {
	opacity: 1 !important;
}

span.appframe-tab span {
	display: inline-block;
}

div.ripped-paper-border {
	background: url('../lib/images/ui/ripped-border.png') top repeat-x;
	position: absolute;
	margin-left: -15px;
	margin-top: -15px;
	padding-right: 30px;
	height: 15px;
}
