<nav class="navbar navbar-expand-lg navbar-light subnav">
	<div class="container">
		<a class="navbar-brand d-none d-sm-block" href="{{ path }}">
			{% if logo %}
			<img class="d-inline-block align-top mr-2" src="{{ logo }}" style="max-height: 25px;"/>
			{% endif %}
			<span class="subnav-title">{{ title }}</span>
		</a>
		<ul class="navbar-nav justify-content-sm-end">
			{% for index in ['1', '2', '3', '4'] %}
			{% set label = values['label_' + index] %}
			{% set url = values['url_' + index] %}
				{% if label and url %}
				<li class="navbar-item">
					<a class="nav-link text-muted" href="{{ url }}">{{ label }}</a>
				</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</nav>
