.download-backups {
	font-size: var(--text-base);
}

.download-backup-card {
	display: block;
	text-decoration: none;
	margin-bottom: var(--margin-lg);
}

.download-backup-card:hover {
	box-shadow: var(--shadow-md);
	text-decoration: none;
}
