.chart-wrapper {
    border: 1px solid #d1d8dd;
    border-radius: 4px;
    height: 320px;
    margin: 15px 0;
    padding-left: 15px;
    padding-right: 15px;
}

.chart-container {
    margin-top: 30px;
}

.frappe-chart > text.title {
    margin: 0px;
    font-size: 14px !important;
    font-weight: bold;
}

.chart-loading-state, .chart-empty-state {
    height: 100%;
    margin-top: 160px;
    text-align: center;
}

.chart-actions {
    position: absolute;
    right: 30px;
    top: 26px;
}

.chart-column-container {
    position: relative;
}

.last-synced-text {
    position: absolute;
    top: 28px;
    right: 60px;
    font-size: 12px;
}

.dashboard-graph {
    padding-top: 15px;
    overflow: hidden;
}