.dashboard {
	margin-top: var(--margin-xs);
	padding: 1px;
	overflow-x: hidden;
}

.dashboard .grid-col-2 {
	column-gap: 20px;
	row-gap: 20px;
}

/* .restricted-button {
	cursor: default;
	position: relative;
	right: -5px;
} */