{% extends base_template %}

{% block content %}
<div class="container">
	<div class="row" style="margin-top: 40px; margin-bottom: 20px">
		<div class="col-sm-offset-3 col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4><i class="icon-key"></i> Reset Password</h4>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<input id="old_password" type="password"
							class="form-control" placeholder="Old Password">
					</div>
					<div class="form-group">
						<input id="new_password" type="password"
							class="form-control" placeholder="New Password">
					</div>
					<div class="form-group">
						<button type="submit" id="update"
							class="btn btn-primary">Update</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>

$(document).ready(function() {
	if(get_url_arg("key")) {
		$("#old_password").parent().toggle(false);
	}
	
	$("#new_password").on("keypress", function(e) {
		if(e.which===13) $("#update").click();
	})
	
	$("#update").click(function() {
		var args = {
			key: get_url_arg("key") || "",
			old_password: $("#old_password").val(),
			new_password: $("#new_password").val()
		}
		
		if(!args.old_password && !args.key) {
			wn.msgprint("Old Password Required.");
			return;
		}
		if(!args.new_password) {
			wn.msgprint("New Password Required.")
			return;
		}
		
		wn.call({
			type: "POST",
			method: "core.doctype.profile.profile.update_password",
			btn: $("#update"),
			args: args,
			callback: function(r) {
				if(r.message) {
					$("input").val("");
					var dialog = wn.msgprint(r.message);
					dialog.on("hide.bs.modal", function() {
						window.location.href = "login";
					});
				}
			}
		})
	})
});

</script>
{% endblock %}