{% extends "templates/web.html" %}

{% block header %}
<h1 itemprop="headline">{{ title }}</h1>
{% endblock %}

{% block page_content %}
<article itemscope itemtype="http://schema.org/BlogPost">
	<div>
		<h6 class='text-muted'>By {{ author }} on {{ frappe.format_date(creation) }}</h6>
		<span class="indicator {{ level_class }}">{{ level }}</span>
	</div>
	
	<div class="from-markdown my-4" itemprop="articleBody">
		{{ content }}
	</div>
	<hr>
	<a href="/{{ category.route }}">
		{{ _("More articles on {0}").format(category.name) }}
	</a>
	<hr>
</article>

<div>
	<h5>Comments</h5>
	{% include 'templates/includes/comments/comments.html' %}
</div>
{% endblock %}
