<footer class="web-footer">
	<section class="footer-links">
		<div class="container">
			<div class="row">
				<div class="col-xs-9 web-footer-menu">
					<ul class="list-inline">
						{% for item in footer_items %}
						<li><a href="{{ item.url }}" {{ item.target }}
							data-label="{{ item.label }}">{{ item.label }}</a></li>
						{% endfor %}
					</ul>
				</div>
				<div id="website-login" class="col-xs-3 text-right">
					<a href="login">Login</a></div>
			</div>
			<div class="row">
				<div class="col-sm-8">
					{% if copyright %}<div class="web-footer-copyright">&copy; {{ copyright }}</div>{% endif %}
					{% if footer_address %}{{ footer_address }}{% endif %}
				</div>
				<div class="col-sm-4 text-right">
					{% if facebook_share or google_plus_one or twitter_share or linked_in_share %}
					<div class="social-icons">
						<span>{{ share_text or "Share this page on: "}}</span>
						{% if google_plus_one %}
							<a href="https://plus.google.com/share?url={{ url }}"
							 	target="_blank"><i class="icon-google-plus"></i></a>
						{% endif %}
						{% if twitter_share %}
							<a href="https://twitter.com/intent/tweet?url={{ url }}&text={{ encoded_title }}"
								target="_blank" ><i class="icon-twitter"></i></a>
						{% endif %}
						{% if facebook_share %}
							<a href="https://www.facebook.com/sharer.php?u={{ url }}&t={{ encoded_title }}&via={{ twitter_share_via }}"
								target="_blank"><i class="icon-facebook"></i></a>
						{% endif %}
						{% if linked_in_share %}
							<a href="http://www.linkedin.com/shareArticle?mini=true&url={{ url }}&title={{ encoded_title }}"
								target="_blank"><i class="icon-linkedin"></i></a>
						{% endif %}
					</div>
					{% endif %}
					
					{# powered #}
					<p class="text-right footer-powered">
					{% block powered %}
						<a href="http://getwebnotes.org" style="color: #aaa">Built on Web Notes</a>
					{% endblock %}
					</p>
				</div>
			</div>
		</div>
	</section>
	<section>
		{% block extension %}{% endblock %}
	</section>
</footer>