<header>
	<div class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" 
					data-target=".navbar-responsive-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand ellipsis" href="index"><span>{{ brand_html or "<i class='icon-home'></i>"}}</span></a>
				<span class="clearfix"></span>
			</div>
			<div class="collapse navbar-collapse navbar-responsive-collapse">
				{% if top_bar_items -%}
				<ul class="nav navbar-nav navbar-left">
					{%- for page in top_bar_items -%}
					{% if not page.parent_label -%}
					<li data-label="{{ page.label }}" {% if page.child_items %} class="dropdown"{% endif %}>
						<a href="{{ page.url or '#' }}" {% if page.child_items %} class="dropdown-toggle" onclick="return false;" data-toggle="dropdown"{% endif %} {{ page.target or ''}}>
						{{ page.label }}
						{%- if page.child_items -%}
							<span class="caret"></span>
						</a>
							<ul class="dropdown-menu">
							{%- for child in page.child_items -%}
								<li data-label="{{ child.label }}">
									<a {% if child.indent %} style="padding-left: {{((child.indent|int)+1)*15 }}px"{% endif %} 
										href="{{ child.url }}" {{ child.target or '' }}>{{ child.label }}</a>
								</li>
							{%- endfor -%}
							</ul>
						{%- else -%}
						</a>
						{%- endif -%}
						</li>
					{%- endif -%}
					{%- endfor %}
				</ul>
				{%- endif %}
				<ul class="nav navbar-nav navbar-right">
					<!-- post login tools -->
					<li id="website-post-login" data-label="website-post-login" class="dropdown">
						<a href="#" class="dropdown-toggle" onclick="return false;" data-toggle="dropdown">
							<i class="icon-cog"></i><span class="visible-xs-inline"><span class="caret"></span></span>
						</a>
						<ul class="dropdown-menu">
							{%- for child in post_login -%}
							<li data-label="{{ child.label }}" {% if child.class %}class="{{ child.class }}"{% endif %}>
								{% if child.url -%}
								<a href="{{ child.url }}" {{ child.target or '' }}>
									{% if child.icon %}<i class="icon-fixed-width {{ child.icon }}"></i> {% endif %}
									{{ child.label }}
								</a>
								{%- endif %}
							</li>
							{%- endfor -%}
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>
<script>$('.dropdown-toggle').dropdown()</script>