name: Patch (MariaDB)

on:
  pull_request:
  workflow_dispatch:

concurrency:
  group: patch-mariadb-develop-${{ github.event_name }}-${{ github.event.number }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  checkrun:
    name: Build Check
    runs-on: ubuntu-latest

    outputs:
      build: ${{ steps.check-build.outputs.build }}

    steps:
      - name: Clone
        uses: actions/checkout@v3

      - name: Check if build should be run
        id: check-build
        run: |
          python "${GITHUB_WORKSPACE}/.github/helper/roulette.py"
        env:
          TYPE: "server"
          PR_NUMBER: ${{ github.event.number }}
          REPO_NAME: ${{ github.repository }}

  test:
    name: Patch
    runs-on: ubuntu-latest
    needs: checkrun
    if: ${{ needs.checkrun.outputs.build == 'strawberry' }}
    timeout-minutes: 60

    services:
      mariadb:
        image: mariadb:10.6
        env:
          MARIADB_ROOT_PASSWORD: travis
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=5s --health-timeout=2s --health-retries=3

    steps:
      - name: Clone
        uses: actions/checkout@v3

      - name: Check for Merge Conflicts
        run: |
          if grep -lr --exclude-dir=node_modules "^<<<<<<< " "${GITHUB_WORKSPACE}"
              then echo "Found merge conflicts"
              exit 1
          fi

      - name: Setup Python
        uses: "gabrielfalcao/pyenv-action@v11"
        with:
          versions: 3.10:latest, 3.7:latest

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
          check-latest: true

      - name: Add to Hosts
        run: echo "127.0.0.1 test_site" | sudo tee -a /etc/hosts

      - name: Cache pip
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/*requirements.txt', '**/pyproject.toml', '**/setup.py') }}
          restore-keys: |
            ${{ runner.os }}-pip-
            ${{ runner.os }}-

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v3
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install Dependencies
        run: |
          bash ${GITHUB_WORKSPACE}/.github/helper/install_dependencies.sh
          pip install frappe-bench
          pyenv global $(pyenv versions | grep '3.10')
          bash ${GITHUB_WORKSPACE}/.github/helper/install.sh
        env:
          BEFORE: ${{ env.GITHUB_EVENT_PATH.before }}
          AFTER: ${{ env.GITHUB_EVENT_PATH.after }}
          TYPE: server
          DB: mariadb

      - name: Run Patch Tests
        run: |
          cd ~/frappe-bench/
          wget https://frappeframework.com/files/v10-frappe.sql.gz
          bench --site test_site --force restore ~/frappe-bench/v10-frappe.sql.gz

          source env/bin/activate
          cd apps/frappe/
          git remote set-url upstream https://github.com/frappe/frappe.git

          function update_to_version() {
            version=$1
            branch_name="version-$version-hotfix"
            echo "Updating to v$version"
            git fetch --depth 1 upstream $branch_name:$branch_name
            git checkout -q -f $branch_name
            pip install -U frappe-bench

            rm -rf ~/frappe-bench/env
            bench -v setup env
            bench --site test_site migrate
          }

          pyenv global $(pyenv versions | grep '3.7')
          update_to_version 12
          update_to_version 13

          pyenv global $(pyenv versions | grep '3.10')
          update_to_version 14

          echo "Updating to last commit"
          git checkout -q -f "$GITHUB_SHA"
          rm -rf ~/frappe-bench/env
          bench -v setup env
          bench --site test_site migrate
