<div class="group-by-box">
	<div class="group-by-section">
		<div class="group-by-section-label">{{ __("Group By") }}</div>
		{% for (var i = 0; i < group_bys.length; i++) { %}
		<div class="group-by-row" data-idx="{{ i }}">
			<div class="group-by-field-select"></div>
			<button class="btn btn-xs btn-link remove-group-by-row {{ grouped ? "" : "invisible" }}" title="{{ __("Remove") }}" aria-label="{{ __("Remove") }}">
				{{ frappe.utils.icon("x", "sm") }}
			</button>
		</div>
		{% } %}
		{% if (grouped) { %}
		<button class="btn btn-xs btn-link text-muted add-group-by">
			{{ frappe.utils.icon("plus", "xs") }} {{ __("Add Group By") }}
		</button>
		{% } %}
	</div>
	{% if (grouped) { %}
	<div class="group-by-section">
		<div class="group-by-section-label">{{ __("Aggregate") }}</div>
		{% for (var i = 0; i < aggregates.length; i++) { %}
		<div class="group-by-row" data-idx="{{ i }}">
			<select class="aggregate-function form-control input-xs" aria-label="{{ __("Aggregate Function") }}">
				{% for (var condition of aggregate_function_conditions) { %}
				<option value="{{condition.name}}" {{ aggregates[i].aggregate_function == condition.name ? "selected" : "" }}>
					{{ condition.label }}
				</option>
				{% } %}
			</select>
			{% if (aggregates[i].aggregate_function != "count") { %}
			<div class="aggregate-on-field-select"></div>
			{% } else { %}
			<div class="flex-1"></div>
			{% } %}
			<button class="btn btn-xs btn-link remove-aggregate {{ aggregates.length > 1 ? "" : "invisible" }}" title="{{ __("Remove") }}" aria-label="{{ __("Remove") }}">
				{{ frappe.utils.icon("x", "sm") }}
			</button>
		</div>
		{% } %}
		<button class="btn btn-xs btn-link text-muted add-aggregate">
			{{ frappe.utils.icon("plus", "xs") }} {{ __("Add Aggregate") }}
		</button>
	</div>
	<hr class="divider">
	<div class="group-by-actions">
		<button class="btn btn-xs btn-secondary clear-group-by">{{ __("Clear Grouping") }}</button>
		<button class="btn btn-xs btn-primary apply-group-by">{{ __("Apply") }}</button>
	</div>
	{% } %}
</div>
